@import './../../../assets/css/product-detail-2.css';
    .leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 35px;
        height: 35px;
		line-height:35px;
        box-shadow: none;
		border:none;
        left: 0;
		background:none; font-size:36px; z-index:2;
    }
 
    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 35px;
        height: 35px;
		line-height:35px;
        box-shadow: none;
		border:none;
        right: 0;
		background:none; font-size:36px; z-index:2;
    }
	
 .Thumbnail_slider_btn{height:130px;}
 
 .row-flex > div[class*="col-"]{}
 .ca-menu .item{padding:1px 5px;}
 
  .enlarge_popup{display:flex; align-items:center; overflow:hidden;}
 .enlarge_popup li .btn{box-shadow:0 0 4px rgba(0,0,0,0.15); background:none; border:none; padding:0; border-radius:0; display:block;}
 
 /* start of popup_bg color */
 .enlarge_popup_slider{background:#ffffff;}

 
ul.lSPager{display:none;}
 
 @media (max-width:767px){
	.item{padding:1px 2px;}
 }