html, body{margin: 0px; padding: 0px; height:100%; /*font-family: 'Titillium-Regular';*/ color:rgba(0, 0, 0, 0.7);}

.wrapper {min-height:100%;position:relative; padding-top:0.01%;}
.header{}
.content{padding-bottom:540px; padding-top:20px;} /* Height of the footer element */
.footer{width:100%; height:auto; position:absolute; bottom:0;}

.bg-l-gray{background:#f3f3f3;}

/* start of cart_box css */
.cart_box{box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1); padding:6px 10px; float:left; position:relative; width:100%; background:#fff;}
.close_box h3{margin:0; padding:10px 0 10px; font-size:14px; font-weight:500; color:rgba(0,0,0,0.8);}
.close_box h3 i.rytcheck{color:#38b8bf; font-size:16px;}
.close_box h4{margin:0 0 10px 0; font-size:14px; color:rgba(0,0,0,0.8); font-weight:700;}
.close_box h4 span{color:#28373f; font-weight:500;}
.change_div{text-align:right; padding:1px 0;}
.change_div button{display:inline-block; padding:0 15px; height:32px; line-height:32px; font-weight:500; font-size:14px;}

/* accordion_tab css */
#accordion .checkout_row .panel-collapse a.btn-block{text-decoration:none;}
/* shipping_address */
#accordion .checkout_row{margin-top:30px; background:none; box-shadow:none;}
#accordion .checkout_row .cart_box{cursor:pointer;}
.checkout_row .panel-collapse .panel-body{background:#fff; box-shadow:0 0 4px rgba(0, 0, 0, 0.2); margin-top:2px; padding:20px 15px 20px 30px;}
#ShippingAddress .login_form form .form-group span.forgot_text{padding:0; margin:0; font-size:16px;}

/* add_new_address css */
.add_new_address{background:#fff; box-shadow:0 0 4px rgba(0, 0, 0, 0.2); margin-top:6px; padding:0 20px;}
.add_new_address h3{margin:0; padding:20px 0; font-size:14px; font-weight:500; color:rgba(0,0,0,0.9); cursor:pointer;}
.plus_ico_tag{padding-right:15px; display:inline-block; vertical-align:middle;}
.plus_ico_tag .plus_icon{width:15px; height:1.6px; background:#38b8bf; display:block; position:relative;}
.plus_ico_tag .plus_icon:last-child{transform:rotate(90deg); margin-top:-1px;}
.add_new_address .new_form{padding:15px 0 20px; border-top:1px solid rgba(0,0,0,0.1);}
.new_form .form-group:last-child{text-align:center;}

/* review_product */
.checkout_row .panel-collapse .panel-body{padding:15px;}
.re_product_row{border-bottom:1px solid #ddd; padding-bottom:15px; margin-bottom:15px;}
.re_product_row:nth-last-child(2){border-bottom:0px solid #ccc;}
.re_product_row .addcart_image{float:left; margin-right:10px;}
/*.re_product_row .addcart_image img{width:80px;}*/
.re_product_row .addcart_detail{position:relative; display:block; overflow:hidden;}
.re_product_row .addcart_detail p{color:#28373f; font-size:15px; padding-bottom:10px; padding-top:5px; margin:0; display:block;}
.re_product_row .addcart_detail span.product_size{color:#28373f; font-size:14px; font-weight:300; display:inline-block; float:left;}
.re_product_row .addcart_detail span.product_price{color:#28373f; font-size:15px; display:inline-block; float:right;}
.re_product_row .addcart_detail span.product_price i{font-size:14px;}
.re_product_row .addcart_detail span.product_qty{color:#28373f; font-size:14px; font-weight:300; display:inline-block; float:right; padding-right:50px;}
.re_product_row .addcart_subtotal{float:left; width:100%; padding:0;}
.re_product_row .addcart_subtotal span.subtotal_text{color:rgba(0,0,0,0.6); font-size:16px; display:inline-block; float:left; padding-left:90px;}
.re_product_row .addcart_subtotal span.subtotal_price{color:rgba(0,0,0,0.6); font-size:16px; display:inline-block; float:right;}
.re_product_row .addcart_subtotal span.subtotal_price i{font-size:15px;}

.checkout_continue_btn{border-top:1px solid #ccc; padding:20px 0 10px; text-align:center;}
.checkout_continue_btn .btn{text-transform:uppercase; min-width:200px;}

/* payment method */
.payment_div ul{list-style: none; margin:0 0 15px 0; padding: 0; overflow: auto;}
.payment_div ul li{color: rgba(0,0,0,0.7); display: inline-block; position: relative; float: left; padding:0 5px;}
.payment_div ul li input[type=radio]{position: absolute; visibility: hidden;}
.payment_div ul li label{display: block; position: relative; font-weight: 500; font-size: 16px; padding: 5px 10px 5px 40px; z-index: 9; cursor: pointer; -webkit-transition: all 0.25s linear;}
.payment_div ul li:hover label{color: #38b8bf;}
.payment_div ul li .check{display: block; position: absolute; border: 2px solid rgba(0, 0, 0, 0.5); border-radius: 100%; height: 25px; width: 25px; top: 5px; left: 5px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
.payment_div ul li:hover .check {border: 2px solid #38b8bf;}
.payment_div ul li .check::before {display: block; position: absolute; content: ''; border-radius: 100%; height: 15px; width: 15px; top: 3px; left: 3px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
.payment_div input[type=radio]:checked ~ .check {border: 2px solid #38b8bf;}
.payment_div input[type=radio]:checked ~ .check::before{background: #38b8bf;}
.payment_div input[type=radio]:checked ~ label{color: #38b8bf;}

/* start of price_detail */
.price_box{box-shadow:0 0 4px rgba(0, 0, 0, 0.2); padding:0; float:left; position:relative; width:100%; background:#fff;}
.price_box .price_heading{border-bottom:1px solid #ccc; padding:12px 15px; margin:0; font-size:18px; font-weight:500; color:#28373f;}
.price_summary{padding:15px 15px;}
.price_summary p{padding-bottom:15px; font-size:14px; color:#28373f; font-weight:300;}
.price_summary p:last-child{padding-bottom:0;}
.price_summary p span.price_money{float:right; font-weight:500;}
.price_summary p span.price_money i{font-size:14px;}
.price_summary p span.price_money span.price_sign{font-size:14px; color:rgba(0,0,0,0.5); padding-right:10px;}
.price_summary p span.price_money span.price_sign i{font-size:10px; padding:1px; line-height:1px;}
.price_summary p a{display:inline-block; margin-left:5px; width:14px; height:14px; line-height:10px; border:1px solid rgba(0,0,0,0.6); border-radius:50%; text-align:center;}
.price_summary p a i{font-size:10px; color:rgba(0,0,0,0.5);}
.price_total{border-top:1px solid #ccc; padding:10px 15px;}
.price_total h4{margin:0; font-size:18px; font-weight:500; padding-bottom:5px;}
.price_total h4 span{font-weight:700; float:right; color:#28373f;}
.price_total h4 span i{font-size:16px;}
.price_detail{float:left; width:100%; position:relative; padding:20px 0px 0;}
.price_detail .order_note{padding:0 0 20px; font-size:13px; margin:0;}
.price_detail .order_note span i{font-size:13px;}
.price_detail .order_note span{color:#38b8bf;}
.price_detail .order_secure{padding:0;}
.price_detail .order_secure p{padding:0 0 0 45px; color:rgba(0,0,0,0.8); overflow:hidden; width:100%; position:relative;}
.price_detail .order_secure p img{position:absolute; left:5px; top:0;}
.cd-filter .cd-close:hover{background:#28373f;}

/* start of sticky div css */
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cd-filter {position: -webkit-sticky; position: sticky; top: 100px;}

/* start of display content in another div css */
.transient {/* Hide our paragraph until the JS has run */ display: none;}
.transient.js-complete {display: block;}

/* start of order_confirmed css */
.confirmed_detail{margin:40px 0 20px;}
.confirmed_detail p{font-size:16px; margin-bottom:15px;}
.confirmed_detail p a{text-decoration:none; color:#38b8bf;}

/* start of layout css */
.checkbox label{padding:0;}
.login_form form .form-group{margin-bottom:15px;}
.checkout_row .login_form{border:none;}

/* address_row css */
.checkout_row .panel-collapse .multiple_add_div{padding:0;}
.address_row{display:block; border-bottom:1px solid #f0f0f0; padding:15px 20px; cursor:pointer;}
.address_row:nth-last-of-type(1){border-bottom:none;}
.deliver_content{position:relative; display:inline-block; width:calc(100% - 35px); margin-left:28px;}
.add_content{width:100%; display:block; padding:0 50px 0 0;}
.add_content p{display:block;}
.add_content p span{font-size:14px; font-weight:700; color:#28373f;}
.add_content .complete_add{display:block; font-size:14px; font-weight:500; color:#28373f; margin-bottom:15px;}
.add_content .complete_add span{font-weight:700;}
.deliver_content .add_edit_btn{position:absolute; right:0; top:0; z-index:999; background:none; box-shadow:none; border:none; font-size:14px; font-weight:500; color:#df5745; text-transform:uppercase; padding:0;}
.login_form form .form_filed p.account_line span{font-size:16px; font-weight:500; text-transform:uppercase; float:left; color:#38b8bf;}
.cancel_btn{font-size:16px; color:#df5745; background:none; box-shadow:none; border:none;}
.cancel_btn:active{box-shadow:none;}
/* start of radio_btn css */
.add_checkbox{display:inline-block; vertical-align:top; position:relative;}
.add_checkbox input[type=radio]{position: absolute; visibility: hidden;}
.add_checkbox .check{display: block; position: absolute; border: 2px solid rgba(0, 0, 0, 0.5); border-radius: 100%; height: 18px; width: 18px; top: 1px; left: 0; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
.add_checkbox:hover .check {border: 2px solid #38b8bf;}
.add_checkbox .check::before {display: block; position: absolute; content: ''; border-radius: 100%; height: 8px; width: 8px; top: 3px; left: 3px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
.add_checkbox input[type=radio]:checked ~ .check {border: 2px solid #38b8bf;}
.add_checkbox input[type=radio]:checked ~ .check::before{background: #38b8bf;}
.add_checkbox input[type=radio]:checked ~ label{color: #38b8bf;}

/* start of popup_message css */
.login_form form p.account_line.success_msz, p.account_line.success_msz{color:#38b8bf; padding:6px 0; margin-bottom:10px; font-weight:500;}
.login_form form p.account_line.error_msz, p.account_line.error_msz{color:#df5745; padding:6px 0; margin-bottom:10px; font-weight:500;}
.login_form form p.account_line.loader_msz, p.account_line.loader_msz{background:#fff; padding:6px 0; text-align:center;}
/deep/ .login_form form p.account_line.loader_msz i, p.account_line.loader_msz i{color:rgba(0,0,0,0.6); font-weight:500; font-size:20px; position: relative;}

/* switched class active css 
.deliver_content .form_filed{display:none;}
.deliver_content.switched .form_filed{display:block;}
.deliver_content.switched .add_content{display:none;}*/

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
	.cd-filter{padding-left:0;}
	.price_summary{padding:15px 8px;}
	.price_box .price_heading{padding:10px 8px;}
	.price_summary p{font-size:13px;}
	.price_total{padding:10px 8px;}
	.price_summary p span.price_money span.price_sign{padding-right:8px;}
	
	.address_row{padding:15px 12px;}
}

@media (min-width:992px) and (max-width:1200px) { 
	
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	.cart_box{padding:0px 10px;}
	.close_box h3{font-size:16px; margin-bottom:0; padding:12px 82px 12px 0;}
	.payment_div ul li label{padding:7px 10px 5px 30px; font-size:14px;}
	.payment_div ul li .check{width:20px; height:20px; top:7px;}
	.payment_div ul li .check::before{width:10px; height:10px;}
	
	/* price summary detail */
	.cd-filter {position: -webkit-fixed; position: fixed; top: 0px;}
	.price_box{box-shadow:none;}
	.price_box .price_heading{position:fixed; top:0; left:0; padding:12px 70px 12px 15px; border-color:rgba(0, 0, 0, 0.1); font-size:16px;}
	.cd-filter-trigger.m_price_detail{width:100%; color:#28373f; padding:10px 110px 10px 15px; text-align:left;}
	.cd-filter-trigger.m_price_detail span{position:absolute; right:10px; font-weight:bold; color:#38b8bf;}
	.cd-filter-trigger.m_price_detail span i{font-size:16px;}
	.cd-filter{padding:50px 0 10px;}
	.price_summary{padding:15px 20px;}
	.price_total{border-bottom:1px solid #ccc; padding:10px 15px 8px;}
	.price_detail{padding:20px 10px 0;}
	.cd-filter .cd-close{padding:7px 0; font-size:28px;}
	.price_summary p{font-size:14px;}
	
	/* start of tab_css */
	.cf.login_form{padding:0;}
	.checkout_row .panel-collapse .panel-body{padding:8px 0 15px;}
	.checkout_row .panel-collapse .panel-body.login_form{padding:15px;}
	.checkout_row .panel-collapse .panel-body.payment_div{padding:15px 10px;}
	#accordion .checkout_row{margin-top:20px;}
	/*.re_product_row .addcart_image img{width:60px;}*/
	.re_product_row .addcart_subtotal span.subtotal_text{padding-left:10px;}
	
	/* start of order_review */
	.re_product_row .addcart_detail p, .re_product_row .addcart_detail span.product_size, .re_product_row .addcart_detail span.product_price, .re_product_row .addcart_detail span.product_price i{font-size:12px;}
	.re_product_row .addcart_detail span.product_qty{width:auto; display:inline-block; text-align:left; font-size:12px; padding-right:0; padding-top:10px; float:left;}
	
	/* review_product */
	.re_product_row{padding:8px 10px 8px 0;}
	.re_product_row .addcart_image img{width:80px;}
	.re_product_row .addcart_detail span.product_size{display:block; width:100%;}
	.re_product_row .addcart_detail span.product_price{font-size:16px; position:absolute; right:0; bottom:-2px;}
	.re_product_row .addcart_detail span.product_price i{font-size:15px;}
	
	ul.nav_menu li a.shopping-cart{display:none;}
	
	/* start of order_confirmed css */
	.confirmed_detail{margin:20px 0;}
	.confirmed_detail p{font-size:14px; margin-bottom:20px; text-align:center;}
	
	/* start of cart_box css */
	.change_div{padding:5px 0; position:absolute; right:10px; z-index:1;}
	.change_div button{font-size:12px; height:30px; line-height:30px;}
	.close_box h4{font-size:12px; line-height:18px;}
	
	/* address_row css */
	.address_row{padding:15px 12px;}
	.deliver_content{margin-left:22px;}
	.add_content{padding:0 40px 0 0;}
	.add_content .complete_add, .add_content p span, .deliver_content .add_edit_btn{font-size:12px;}
	.form_filed .form-group:last-child{text-align:center;}
	.cancel_btn{font-size:14px; display:block; width:100%; margin-top:8px; text-align:center;}
	.login_form form .form_filed p.account_line span{font-size:14px; padding-top:2px;}
	
	/* start of radio_btn css */
	.add_checkbox .check{width:15px; height:15px; top:3px;}
	.add_checkbox .check::before{width:5px; height:5px;}
}