/* start of banner-slider */
.transition-timer-carousel .carousel-caption {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%; left: 0px; right: 0px; bottom: 0px; text-align: left; padding-top: 5px; padding-left: 15%; padding-right: 15%;}
.transition-timer-carousel .carousel-caption .carousel-caption-header{margin-top:10px; font-size:24px;}
.transition-timer-carousel .carousel-indicators {bottom: 0px; margin-bottom: -25px;}
.transition-timer-carousel .carousel-indicators li {background-color:rgba(0, 0, 0, 0.6); border:1px solid rgba(0, 0, 0, 0.3);}
.transition-timer-carousel .carousel-indicators li.active {background-color:#4b6c99;}
.transition-timer-carousel .carousel-control {z-index: 11; background-image:none; width:5%; opacity:1;}
.transition-timer-carousel .carousel-control span.glyphicon{position:absolute; top:50%; font-size:50px; color:#e4e3e3; text-shadow:none; left:50%; transform:translateX(-50%); transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.transition-timer-carousel .carousel-control:hover span {color:#3b3b3b;}
.transition-timer-carousel .transition-timer-carousel-progress-bar {height: 2px; background-color: #4b6c99; width: 0%; margin: 0px 0px 0px 0px; border: none;  z-index: 11; position: relative;}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{-webkit-transition: width 4.25s linear; -moz-transition: width 4.25s linear; -o-transition: width 4.25s linear; transition: width 4.25s linear;}
.banner_div{padding:0; /*margin-top:120px;*/ border-bottom:1px solid #ababab;}
.banner_div .carousel-inner .item img{width:100%;}

/* start of video_section */
.video_div{padding:40px 0; margin-top:60px;}
.sliders_div{margin-bottom:120px;}
.sliders_div:last-child{margin-bottom:0px;}
.sliders_div .row-flex-wrap{margin-top:40px;}
.sliders_div .content-slider.row-flex-wrap{margin-top:20px;}

/* start of scent short css */
.thumbnail_content{padding:10px 5px; position:static; z-index:2;}
.thumbnail_name{padding-bottom:45px; margin:0; margin-top:0; font-weight:bold; z-index:2;}
.thumbnail_name a{color:rgba(0,0,0,0.8); font-size:16px; text-decoration:none;}
.thumbnail_price_div{padding:0 5px 10px; position:absolute; left:0; bottom:0; z-index:2;}
.thumbnail_price_div .thumbnail_border{border-top:1px solid #ccc; float:left; width:100%;}
.thumbnail_price{font-size:20px; color:#4b6c99; font-weight:bold; padding-top:2px; margin:0;}
.thumbnail_cart{text-align:right; margin-top:-1px;}
.item_border .thumbnail_image{margin:0; z-index:2; padding:10px 2px 0;}
.item_border{float:left; width:100%; border:1px solid transparent; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.item_border:hover .thumbnail_content{transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}

/* start border animation effect css */
.item_border:before, .item_border:after{box-sizing:inherit; content:""; position:absolute; width:100%; height:100%; left:0; z-index:1;}
.border_center:before, .border_center:after{top:0; bottom:0; width:100%; height:100%; transform-origin:center;}
.border_center:before{border-top:1px solid #4b6c99; border-bottom:1px solid #4b6c99; transform:scale3d(0,1,1);}
.border_center:after{border-left:1px solid #4b6c99; border-right:1px solid #4b6c99; transform:scale3d(1,0,1);}
.border_center:hover:before, .border_center:hover:after{transform:scale3d(1,1,1); transition: transform 0.5s;}
/* end border animation effect css */

/* start of on scroll animation css */
.os-animation{opacity: 1;}
.os-animation.animated{opacity: 1;}

/* start of thumbnail slider_new implement css */
ul.lSPager{display:none;}
.know_btn{text-align:center; margin-top:10px;}
.touch_slider .item{margin-right:0 !important;}
/* end of thumbnail slider_new implement css */

/* start of selfie image */
.selfie_image{margin:30px 0 10px;}
.selfie_image img{width:1000px;}

/* start of how_we_do */
.perfume_box p{width:100%; float:left;}
.perfume_box p img{width:450px;}
.perfume_content_box{padding:70px 0 !important; display:table; height:100%; width:100%;}
.perfume_content{width:100%; height:100%; position:relative; text-align:center; padding:15px; border-left:1px solid #ccc; display:table-cell; vertical-align:middle;}
.perfume_content h4{font-size:20px; margin:0; color:#4b6c99; padding-bottom:5px;}
.perfume_content h5{margin:0;}
.perfume_content h5 span{font-size:14px; display:inline-block; border-width:1px 0; border-color:#ccc; border-style:solid; padding:8px 20px; line-height:22px; color:rgba(0,0,0,0.8);}

/* start of addition_div css */
.addition_div{padding:15px 0; font-size:16px; color:rgba(0,0,0,0.8); font-weight:500; text-align:center;}
.addition_div span{color:#4b6c99;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
	.transition-timer-carousel .carousel-control{width:8%;}
	.thumbnail_price{padding-top:5px; font-size:16px;}
}

@media (min-width:992px) and (max-width:1200px) {
	.thumbnail_price{padding-top:5px; font-size:16px;}
}

@media (max-width:767px){
	.transition-timer-carousel .carousel-control{width:10%;}
	.transition-timer-carousel .carousel-control span.glyphicon{font-size:22px;}

	.thumbnail_name{text-align:center; padding-bottom:85px;}
	.thumbnail_price{margin-bottom:5px; text-align:center; padding-top:5px;}
	.thumbnail_cart{text-align:center;}

	.sliders_div{margin-bottom:60px;}

	/* start of thumbnail slider_new implement css */
	.lSAction > .lSPrev{left:0;}
	.lSAction > .lSNext{right:0;}
	.know_btn{text-align:center;}
	.touch_slider{height:auto !important;}
	/* end of thumbnail slider_new implement css */

	/* start of selfie image */
	.selfie_image{margin:10px 0 10px;}
	.selfie_image img{width:100%;}

	.animated.margin-lg-top{margin-top:10px;}

	/* start of our_product css */
	.our_product_padding{padding:1px 3px !important;}

	/* start of how_we_do */
	.video_div{margin-top:30px;}
	.perfume_box p img{width:100%;}
	.perfume_content_box{padding:0px 0 20px !important;}
	.perfume_content{padding:5px 0; border-left:0px solid #ccc;}
	.sliders_div .row-flex-wrap{margin-top:20px;}
	.addition_div{padding:15px; font-size:12px;}
	/* start of shop now css */
	.shop_btn{position:fixed; bottom:0; left:0; z-index:99999; width:100%; display:block; height:40px; line-height:40px; font-size:18px;}
}
