
/* start of section_box css */
.section_box{padding:4rem 0; position:relative;}

/************** start of product_detail css ******************/
.product_detail div[class*="col-"] h3{font-size:1.6rem; text-transform:uppercase; color: #3b4e76; margin: 0; font-weight: 600;}
.product_detail div[class*="col-"] .my-btn{margin: 3rem 0 0; font-size: 1.3rem; text-transform:uppercase; padding:0 4rem; height:3.6rem;line-height: 3.2rem;}
.product_detail div[class*="col-"] h4{font-size: 1.6rem; color: #3b4e76; font-weight: bold; margin: 1.5rem 0 0 0; display: flex; align-items: center; justify-content: space-between;}
.product_detail div[class*="col-"] h4 del{font-size: 1.1rem; font-weight: normal; margin-left: .3rem;}
.product_detail div[class*="col-"] h4 span{font-size: 1.1rem; font-weight: normal; margin-left: .3rem; color: #ee9591;}
.product_detail div[class*="col-"] h4 dfn{font-style: normal;}
.product_detail div[class*="col-"] h4 dfn em{font-size: 1rem; color: #363636; font-style: normal;line-height: 1; display: flex; justify-content: flex-end; padding-bottom: 2px; font-weight: normal; text-transform: uppercase;}
.product_detail div[class*="col-"] h4 dfn .soldNumbr{display: flex; align-items: center; margin: 0; justify-content: flex-end;}
.product_detail div[class*="col-"] h4 dfn .soldNumbr b{font-size: 1.1rem; background: #3b4e76; border-radius: 3px; padding: 1px 4px;}
.product_detail div[class*="col-"] h4 dfn .soldNumbr b:not(:last-child){margin-right: 2px;}
/** carousel **/
.product_detail div[class*="col-"] .carousel-inner{position: relative; box-shadow: rgb(100 100 111 / 30%) 0px 7px 22px 0px; background: transparent; border-radius: .8rem;}
/*.product_detail div[class*="col-"] .carousel-inner:before{content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: gray; border-radius: .8rem; z-index: -1;}*/
.product_detail div[class*="col-"] .ratingPoints{position: absolute; top: .3rem; left: .5rem; font-size: .9rem; background: transparent; border-radius: .6rem; padding: 0.3rem 0.3rem .4rem; color: #3b4e76; line-height: 1; z-index: 9;}
.product_detail div[class*="col-"] .ratingPoints i{font-size: .8rem; margin-right: .3rem;}
.product_detail div[class*="col-"] .carousel-inner .image_part img{width: 100%;}

/****** accordion css ******/
.accordionMain{margin-top: 1rem;}
.accordionMain .card{border: none; background: transparent; border-radius: 0;}
.accordionMain .card .card-header{background: transparent; border-radius: 0; padding: 0; border-color: #ee9591; margin: 0;}
.accordionMain .card .card-header .btn{display: flex; width: 100%; align-items: center; justify-content: space-between; padding: 1rem 0; font-size: 1.3rem; font-weight: bold; color: #3b4e76; text-transform: uppercase; line-height: 1; text-decoration: none;}
.accordionMain .card .card-header .btn i{color: #ee9591;}
.accordionMain .card .card-header .btn[aria-expanded="true"] i{color: #3b4e76;}
.accordionMain .card .card-body{padding: .6rem .8rem;}
.accordionMain .card .card-body ul{display: flex; flex-direction: column; margin: 0;}
.accordionMain .card .card-body ul li{color: #ee9591; font-size: 1.2rem; text-transform: capitalize;}
.accordionMain .card .card-body ul li:not(:last-child){margin-bottom: 1rem;}
.accordionMain .card .card-body ul li span{font-weight: bold; color: #3b4e76;}
/**** reviewSec ******/
.accordionMain .card .card-body.reviewSec{padding: 1.5rem 0;}
.accordionMain .card .card-body.reviewSec > *{position: relative; width: 100%;}
.accordionMain .card .card-body.reviewSec > *:not(:last-child){margin-bottom: 1.5rem;}
.accordionMain .card .card-body.reviewSec .reviewBtn{text-align: center;}
.accordionMain .card .card-body.reviewSec .reviewBtn .my-btn.checkout_btn{margin: 0; font-size: 1.5rem; padding: 0 1rem; border-radius: .6rem;}
.accordionMain .card .card-body.reviewSec .ratngSortBy{display: flex; justify-content: space-between; padding: 0 .8rem;}
.accordionMain .card .card-body.reviewSec .ratngSortBy h5{font-size: 1.2rem; color: #ee9591; font-weight: 500; margin: 0;}
.accordionMain .card .card-body.reviewSec .ratngSortBy h5:not(:last-child){padding-right: .8rem;}
.accordionMain .card .card-body.reviewSec .ratngSortBy h5 span{display: block; color: #3b4e76; font-weight: 700; padding-top: .5rem;}
.accordionMain .card .card-body.reviewSec .ratngSortBy h5 span .form-control{padding: .3rem 1rem .4rem .5rem; color: #3b4e76; font-weight: 700; height: auto;}
.accordionMain .card .card-body.reviewSec .custRevwBox{position: relative; display: flex; flex-direction: column; border: 1px solid #333333; padding: .8rem 1.1rem; border-radius: .6rem;}
.accordionMain .card .card-body.reviewSec .custRevwBox:not(:last-child){margin-bottom: 1rem;}
.accordionMain .card .card-body.reviewSec .custRevwBox h6{font-size: 1.2rem; color: #3b4e76; text-transform: uppercase; margin: 0; font-weight: 700;}
.accordionMain .card .card-body.reviewSec .custRevwBox h6 span{display: block; font-size: 1.1rem; color: #ee9591; font-weight: 500; padding-top: .5rem; text-transform: lowercase;}
.accordionMain .card .card-body.reviewSec .custRevwBox p{font-size: 1rem; color: #3b4e76; margin: 0; padding-top: 1.3rem;}
.accordionMain .card .card-body.reviewSec .loadMoreSec .loadMoreBtn{border: 1px solid #333333; padding: .5rem .8rem; font-size: 1.1rem; text-transform: capitalize; background: transparent;}

/******** start of check_pincode css **************/
.check_pincode{display: flex; align-items: center;}
.check_pincode .input-group{width:50%;}
.check_pincode .input-group input{border-radius:0;}
.check_pincode .input-group input{border-radius:0; padding:.5rem .8rem; font-size:.85rem; height:auto; border-color:#363636;}
.check_pincode .input-group .input-group-append .btn{border-radius:0; background:#3b4e76; color:#ee9591; border-color:#363636; font-size:.9rem; font-weight:bolder; text-transform:uppercase; transition:ease all .3s; -webkit-transition:ease all .3s;}
.check_pincode .input-group .input-group-append .btn:hover{background:#ee9591; color:#3b4e76;}
.check_pincode p{margin:0; font-size:.85rem; padding:0 .5rem;}
.check_pincode p.pincode_error{color:#ff0000;}
.check_pincode p.pincode_success{color:#4BB543;}

/******** popup image slider **********/
div[class*="col-"].popupImageSlider{height: 100%;}
div[class*="col-"].popupImageSlider ul.carousel-indicators{border: none;}
div[class*="col-"].popupImageSlider ul li{background-color: rgba(0,0,0,.8); height: .3rem;}
div[class*="col-"].popupImageSlider ul li.active{background-color: #ee9591;}
/************** end of product_detail css ******************/


.section_gradient:before{content:""; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1;
	background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-moz-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-webkit-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-o-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);}
/******* start of aPlusRowMain *******/
.parentOfAplus{position: relative; width: 100%;}
.aPlusRowMain{padding: 3rem 0; position: relative;}
.aPlusRow{display: flex; align-items: center; flex-wrap: wrap;}
.aPlusRowMain:nth-child(odd) .aPlusRow div[class*="col-"]:last-child{padding-left: 6rem;}
.aPlusRowMain:nth-child(even) .aPlusRow div[class*="col-"]:last-child{padding-right: 6rem;}
.aPlusRow figure{margin-bottom: 0;}
.aPlusRow h4{font-size: 1.2rem; color: #000000; margin: 0 0 1rem 0; text-transform: capitalize; font-weight: bold;}
.aPlusRow p{font-size: .85rem; color: #606060; margin: 0; line-height: 1.7;}
.aPlusRow p:not(:last-child){margin-bottom: .8rem;}
.aPlusRow p a{color: #ee9591; text-decoration: underline;}
.aPlusRow div[class*="col-"]:first-child h4{display: none;}
/******* end of aPlusRowMain ******/


/****************** start of media css *******************/

@media (min-width: 992px) and (max-width: 1200px) {
	/* start of section_box css */
	.section_box{padding:2rem 0;}
}

@media (min-width: 768px) and (max-width: 991px) {
	/* start of section_box css */
	.section_box{padding:2rem 0;}
}

@media (max-width: 767.98px) {
	.content .product_detail_mobile{padding-top:2rem;}
	/* start of brief_subscription_box css */
	.section_box{padding:1rem 0;}
	.section_box:not(:last-child){padding-bottom:3rem;}
	
	/************** start of product_detail css ******************/
	.product_detail div[class*="col-"] h3{text-align: center; font-size: 1.3rem; margin-bottom: 1rem;}
	.product_detail div[class*="col-"] h4{font-size: 1.4rem; text-align: center; margin: .6rem 0 0 0;}
	.product_detail div[class*="col-"] h4 del,
	.product_detail div[class*="col-"] h4 span{font-size: .95rem;}
	.product_detail div[class*="col-"] .my-btn{position: fixed; bottom: 0; left: 0; width: 100%; font-size: 1rem; padding: 0 2rem; height: 3rem; line-height: 2.6rem; z-index: 99; margin: 0;}
	.product_detail div[class*="col-"] h4 dfn em{font-size: .9rem;}
	.product_detail div[class*="col-"] h4 dfn .soldNumbr b{font-size: 1rem;}
	.product_detail div[class*="col-"] .carousel-inner{box-shadow: rgb(100 100 111 / 30%) 0px 4px 18px 0px;}
	
	/*********** accordionMain ******/
	.accordionMain .card .card-header .btn{font-size: 1rem;}
	.accordionMain .card .card-body ul li{font-size: 1rem;}
	/** reviewSec **/
	.accordionMain .card .card-body.reviewSec > *:not(:last-child){margin-bottom: .9rem;}
	.accordionMain .card .card-body.reviewSec .reviewBtn .my-btn.checkout_btn{font-size: 1.2rem; padding: 0 1rem; position: relative; width: auto;}
	.accordionMain .card .card-body.reviewSec .ratngSortBy{padding: 0;}
	.accordionMain .card .card-body.reviewSec .ratngSortBy h5{font-size: 1rem;}
	.accordionMain .card .card-body.reviewSec .ratngSortBy h5 span .form-control{padding: .2rem 1rem .3rem .5rem;}
	.accordionMain .card .card-body.reviewSec .custRevwBox{padding: .6rem .8rem;}
	.accordionMain .card .card-body.reviewSec .custRevwBox h6{font-size: 1rem;}
	.accordionMain .card .card-body.reviewSec .custRevwBox h6 span{font-size: .9rem; padding-top: .2rem;}
	.accordionMain .card .card-body.reviewSec .custRevwBox p{font-size: .85rem; padding-top: 1rem;}
	.accordionMain .card .card-body.reviewSec .loadMoreSec .loadMoreBtn{padding: .3rem .8rem; font-size: 1rem;}
	
	/******* start of aPlusRowMain *******/
	.parentOfAplus{position: relative; width: 100%;}
	.aPlusRowMain{padding: 2.5rem 0; position: relative;}
	.aPlusRowMain:nth-child(odd) .aPlusRow div[class*="col-"]:last-child{padding-left: 1rem;}
	.aPlusRowMain:nth-child(even) .aPlusRow div[class*="col-"]:last-child{padding-right: 1rem;}
	.aPlusRow figure{margin-bottom: 1rem;}
	.aPlusRow h4{display: none;}
	.aPlusRow p{text-align: center;}
	.aPlusRow p:not(:last-child){margin-bottom: .6rem;}
	.aPlusRow p a{word-break: break-word;}
	.aPlusRow div[class*="col-"]:first-child h4{display: block; font-size: 1.1rem; text-align: center;}
	/******* end of aPlusRowMain ******/

}

@media (min-width: 576px) and (max-width: 767.98px) {
	
}

@media (max-width: 575px) {
	/******** start of check_pincode css **************/
	.check_pincode .input-group{width:100%;}
	.check_pincode p{padding:.5rem 0; margin:0 auto;}
}


.average_rating_div .card{border-radius:0; background-color:#fff; padding:1rem; margin-top:2rem;}
.average_rating_div .card .rating-box{width:100%; height:auto; margin-right:auto; margin-left:auto; background-color:#3b4e76; color:#fff; padding:2rem 0;}
.average_rating_div .card .rating-label{font-weight:bold; font-size:.85rem; color:rgba(0,0,0,0.6);}
.average_rating_div .card .rating-bar{width:100%; padding:.5rem;}
.average_rating_div .card .bar-container{width:100%; background-color:#f1f1f1; text-align:center; color:white; border-radius:2rem; cursor:pointer; margin-bottom:.5rem;}
.average_rating_div .card .bar-5{width:70%; height:.8rem; background-color:#ee9591; border-radius:2rem;}
.average_rating_div .card .bar-4{width:30%; height:.8rem; background-color:#ee9591; border-radius:2rem;}
.average_rating_div .card .bar-3{width:20%; height:.8rem; background-color:#ee9591; border-radius:2rem;}
.average_rating_div .card .bar-2{width:10%; height:.8rem; background-color:#ee9591; border-radius:2rem;}
.average_rating_div .card .bar-1{width:0%; height:.8rem; background-color:#ee9591; border-radius:2rem;}
.average_rating_div .card td{padding-bottom:.6rem;}
.average_rating_div .card .star-active, .review_rating_div .card .star-active{color:#ee9591; margin-top:.8rem; margin-bottom:.8rem}
.average_rating_div .card .star-active:hover, .review_rating_div .card .star-active:hover{color:#3b4e76; cursor:pointer;}
.average_rating_div .card .star-inactive, .review_rating_div .card .star-inactive{color:#CFD8DC; margin-top:.8rem; margin-bottom:.8rem;}

.review_rating_div{margin-top:2rem;}
.review_rating_div .card{background-color:#fff; padding:1rem 0; margin-top:2rem; border:none;}
.review_rating_div:not(:last-child) .card{border-bottom:.1rem solid rgba(0,0,0,0.1); padding-bottom:5rem;}
.review_rating_div .profile-pic{width:5rem; height:5rem; border-radius:100%; margin-right:1rem; overflow:hidden; border:.1rem solid rgba(0,0,0,0.1);}
.review_rating_div .review_content{width:calc(100% - 6rem);}
.review_rating_div .review_content .profile_name h3{font-size:1.1rem; padding-bottom:.5rem; padding-top:.5rem; margin:0; color:rgba(0,0,0,0.7); display:inline-block; font-weight:bolder;}
.review_rating_div .review_content .profile_name p{font-size:.8rem; color:rgba(0,0,0,0.6); margin-bottom:0;}
.review_rating_div .review_description{position:relative; margin-top:.5rem;}
.review_rating_div .review_description h4{color:#3b4e76; font-size:1.1rem; text-transform:capitalize; margin:0; padding-bottom:.5rem;}
.review_rating_div .review_description p{font-size:.85rem; color:rgba(0,0,0,0.7); margin-bottom:0;}

/*************** start of giveRating css ************/
.giveRating_div{min-height:6rem; position:relative; margin-bottom:2rem;}
.giveRating_div p{text-align:center; margin:0;}
.giveRating_div p span{font-size:.9rem; text-transform:uppercase; color:#3b4e76; display:inline-block; text-decoration:underline;}
.giveRating_div #line{height:.1rem; width:15rem; background-color:#3b4e76; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.giveRating_div #emoji{list-style:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); margin:0; padding:0; z-index:99; display:flex; justify-content:space-between;}
.giveRating_div #note{list-style:none; position:absolute; bottom:-.5rem; left:50%; transform:translate(-50%, -50%); margin:0; padding:0; z-index:99; display:flex; justify-content:space-between;}
.giveRating_div #emoji li{display:inline-block; margin-left:.8rem; margin-right:.8rem; cursor:pointer;}
.giveRating_div #note li{width:2.7rem; font-size:.85rem; color:#3b4e76; display:inline-block; margin-left:.5rem; margin-right:.5rem; transition:all .3s; cursor:pointer; text-transform:capitalize; letter-spacing:.05rem; text-align:center;}
.giveRating_div #dot{height:.3rem; width:.3rem; background-color:#ee9591; transition:all .3s; -webkit-transition:all .3s;}

/****************** start of media css *******************/

@media (min-width: 768px) and (max-width: 991px) {
	.average_rating_div .card div span,
	.average_rating_div .card .rating-label,
	.average_rating_div .card td{font-size:.8rem;}
}

@media (max-width: 767.98px) {
	.average_rating_div{margin-bottom:2rem;}
	.purchased_review_div{padding-bottom:4rem; margin-bottom:2rem; border-bottom:.1rem solid rgba(0,0,0,0.1);}
	
	.review_rating_div{margin-top:0;}
	.review_rating_div:not(:last-child) .card{padding-bottom:3rem;}
	.review_rating_div .review_description h4{font-size:1rem;}
	.review_rating_div .review_description p{font-size:.8rem;}
}

@media (max-width: 575px) {
	
}
