    <section class="container-fluid content"><!-- start of middle_part -->
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top"><!-- start of heading_part -->
                    <h3>
                        <span>
                            Privacy Policy
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
                    </h3>
                    <p>
                        What our users say about us
                    </p>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12"><!-- start of content -->
                	<p class="col-sm-12 col-xs-12 no-padding margin-md-top text-justify">
                        This Privacy Policy applies to the PerfumeBooth.com
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
						PerfumeBooth.com recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information that we collect on <a href="https://www.perfumebooth.com/usd" target="_blank">https://www.perfumebooth.com</a> and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        PerfumeBooth.com is a property of Perfume Booth Pvt. Ltd. an Indian Company registered under the Companies Act, 2013 having its registered office at 3rd Floor, 70B/35A, Rama Road Industrial Area, New Delhi – 110015
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding text-cgreen">
                    	<b>Information we collect :-</b>
                    </h4>
                    
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Contact information :</b> We might collect your name, email, mobile number, phone number, street, city, state, pin code, country and IP address.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Payment and billing information :</b> We might collect your billing name, billing address and payment method when you buy a product. We NEVER collect your credit/debit card number or credit/debit card expiry date or other details pertaining to your credit/debit card on our website. Credit/Debit card information will be obtained and processed by our online payment partner PayU Payments Pvt. Ltd.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">The information you post :</b> We collect information you post in a public space on our website or on a third-party social media site belonging to PerfumeBooth.com.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Demographic information :</b> We may collect demographic information about you, the products you like, intend to buy, or any other information provided by your during the use of our website. We might collect this as a part of a survey also.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Other information :</b> If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding text-cgreen">
                    	<b>We collect information in different ways :-</b>
                    </h4>
                    
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We collect information directly from you :</b> We collect information directly from you when you register on our website or provide while buying products from our website. We also collect information if you post a comment on our website or ask us a question through phone or email.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We collect information from you passively :</b> We use tracking tools like Google Analytics, Google Webmaster, Facebook Analytics, browser cookies, web beacons, etc for collecting information about your usage of our website.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We get information about you from third parties :</b> For example, if you use an integrated social media feature on our websites. The third-party social media site will give us certain information about you. This could include your name and email address.
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding text-cgreen">
                    	<b>Use of your personal information :-</b>
                    </h4>
                    
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information to contact you :</b> We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information to respond to your requests or questions :</b> We might use your information to confirm your registration on our website.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information to improve our products and services :</b> We might use your information to customize your experience with us. This could include displaying content based on your preferences.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information to look at site trends and customer interests :</b> We may use your information to make our website and products better. We may combine the information we get from you with information about you we get from third parties.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use information for security purposes :</b> We may use the information to protect our company, our customers, or our websites.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information for marketing purposes :</b> We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third-party offers or products we think you might find interesting. Or, for example, if you buy a product from us we'll enrol you in our newsletter.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We use the information to send you transactional communications :</b> We might send you emails or SMS about your account or a product purchase. We use information as otherwise permitted by law.
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding text-cgreen">
                    	<b>Sharing of information with third-parties :-</b>
                    </h4>
                    
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We may share information with logistics partners :</b> We will share information with our logistics partners to make shipping smooth. 
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We may share information if we think we have to in order to comply with the law :</b> We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We may share information with any successor to all or part of our business :</b> For example, if part of our business is sold we may give our customer list as part of that transaction.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">We may share your information for reasons not described in this policy :</b> We will tell you before we do this.
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding text-cgreen">
                    	<b>Email Opt-Out :-</b>
                    </h4>
                    
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">You can opt out of receiving our marketing emails :</b> To stop receiving our promotional emails, please email connect@perfumebooth.com. It may take about ten days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Third party sites :</b> If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third-party sites.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Grievance Officer :</b> In accordance with Information Technology Act 2000 and rules made thereunder, the name and contact details of the Grievance Officer are provided below:<br>
                        Mr Rohit Agrawal,3rd Floor, 70B/35A, Rama Road Industrial Area, New Delhi- 110015 Phone: +91-11- 40098888 Email: connect@perfumebooth.com
If you have any questions about this Policy or other privacy concerns, you can also email us at "connect@perfumebooth.com"

                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Updates to this policy :</b> This Privacy Policy was last updated on 12.12.2018. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for updates.
                    </p>
                	<p class="col-sm-12 col-xs-12 no-padding text-justify">
                        <b class="font-15">Jurisdiction :</b> If you choose to visit the website, your visit and any dispute over privacy are subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of USA.
                    </p>
                </div><!-- end of contact_detail -->
            
			</div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
    
