<section class="container-fluid content"><!-- start of middle_part -->
  <div class="container">
    <div class="row"><!-- start of row -->
      <app-left-menu></app-left-menu>
      <div class="col-md-9 col-sm-8 col-xs-12"><!-- start of right_part -->
        <div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
          <h3>Security <span></span></h3>
        </div><!-- end of review_heading -->

        <div class="col-sm-12 col-xs-12 no-padding login_form account_form"><!-- start of content -->
          <form class="col-xs-12 no-padding" [formGroup]="rForm" (ngSubmit)="updateSecurity(rForm.value);">
            <p class="col-xs-12 account_line text-uppercase hide">
              Email-Id: {{response.email}} <a>Mobile: {{response.mobile}}</a>
            </p>

            <p class="col-xs-12 account_line text-uppercase">
              Change Security
            </p>

            <div class="form-group col-sm-12 col-xs-12 rinput"><!-- start of Password -->
              <input type="password" class="form-control" formControlName="currentPassword">
              <span *ngIf="rForm.controls.currentPassword.invalid && !rForm.controls.currentPassword.dirty" class="filed_name">Current Password*</span>
              <span *ngIf="rForm.controls.currentPassword.invalid && rForm.controls.currentPassword.dirty && ( rForm.value.currentPassword == '' )" class="filed_name error_span">Current Password*</span>
              <span *ngIf="rForm.controls.currentPassword.valid" class="filed_name complete_filed">Current Password*</span>
            </div><!-- end of Password -->

            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of CPassword -->
              <input type="password" class="form-control" formControlName="newPassword">
              <span *ngIf="rForm.controls.newPassword.invalid && !rForm.controls.newPassword.dirty" class="filed_name">New Password*</span>
              <span *ngIf="rForm.controls.newPassword.invalid && rForm.controls.newPassword.dirty && ( rForm.value.newPassword == '' )" class="filed_name error_span">New Password*</span>
              <span *ngIf="rForm.controls.newPassword.valid" class="filed_name complete_filed">New Password*</span>
            </div><!-- end of CPassword -->

            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of CPassword -->
              <input type="password" class="form-control" formControlName="confirmPassword">
              <span *ngIf="rForm.controls.confirmPassword.invalid && !rForm.controls.confirmPassword.dirty" class="filed_name">Confirm Password*</span>
              <span *ngIf="rForm.controls.confirmPassword.invalid && rForm.controls.confirmPassword.dirty && ( rForm.value.confirmPassword == '' )" class="filed_name error_span">Confirm Password*</span>
              <span *ngIf="rForm.controls.confirmPassword.valid" class="filed_name complete_filed">Confirm Password*</span>
            </div><!-- end of CPassword -->
            <p class="text-center text-danger">{{msg}}</p>
            <div class="form-group col-sm-12 col-xs-12 text-right xs-no-padding"><!-- start of login_button -->
              <button type="submit" class="btn from-left cart_btn" [disabled]="!rForm.valid">Submit</button>
            </div><!-- end of login_button -->
          </form>
        </div><!-- end of content -->
      </div><!-- end of right_part -->

    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->

