<section class="container-fluid content bg-l-gray"><!-- start of middle_part -->
  <div class="container">
    <div class="row cf login_form"><!-- start of row -->
      <div class="col-sm-8 col-xs-12 xs-no-padding"><!-- start of left-part -->

        <div class="col-sm-12 col-xs-12 no-padding-left xs-no-padding checkout_row"><!-- start of login_div -->
          <div class="cart_box">

            <div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
              <h3 class="col-sm-12 col-xs-12">Login <i class="fa fa-check rytcheck"></i></h3>
              <h4 class="col-sm-12 col-xs-12 no-padding">ID : <span>{{auth.getEmail()}}</span></h4>
            </div><!-- end of left_part -->

          </div>
        </div><!-- end of login_div -->

        <div class="panel-group col-sm-12 col-xs-12 no-padding-left xs-no-padding" id="accordion"><!-- start of accordion_tab -->

          <div class="col-sm-12 col-xs-12 no-padding xs-no-padding checkout_row panel"><!-- start of shiping_address -->
            
			<div id="ShippingAddressSelected" [hidden]="!selectedAddress.firstname" (click)="addressMessageClear();" class="cart_box" data-toggle="collapse" data-target="#ShippingAddress" data-parent="#accordion"><!-- start of cart_box -->
              <div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
                <h3 class="col-sm-12 col-xs-12">Shipping Address <i *ngIf="selectedAddress.firstname" class="fa fa-check rytcheck"></i></h3>
				<h4 class="col-sm-12 col-xs-12 no-padding">{{selectedAddress.firstname+' '+selectedAddress.lastname}}, <span>{{selectedAddress.address}}, {{selectedAddress.city}}, {{selectedAddress.state}}, <b>{{selectedAddress.pincode}}</b></span></h4>
              </div><!-- end of left_part -->
			  
				<div class="col-md-2 col-sm-3 col-xs-4 no-padding change_div"><!-- start of right_part -->
					<div class="col-sm-12 col-xs-12 no-padding">
						<button type="button" class="btn from-left-checkout btn_checkout">
							Change
						</button>
					</div>
				</div><!-- end of right_part -->
            </div><!-- end of cart_box -->

			<div [hidden]="selectedAddress.firstname" class="cart_box"><!-- start of cart_box -->
              <div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
                <h3 class="col-sm-12 col-xs-12">Shipping Address</h3>
              </div><!-- end of left_part -->			  
            </div><!-- end of cart_box -->

            <div id="ShippingAddress" class="col-sm-12 col-xs-12 no-padding panel-collapse collapse in"><!-- start of collapse_div -->
			
				<form class="col-xs-12 no-padding" [formGroup]="rForm" (submit)="saveAddress(rForm.value, -1);">
				<div class="col-sm-12 col-xs-12 panel-body checkout_form multiple_add_div">				
				<label *ngFor="let item of addresses.address; let index=index;" class="address_row"><!-- start of label -->
					<div class="add_checkbox"><!-- start of add_checkbox -->
						<input type="radio" [value]="item.id" formControlName="setdefault">
						<div class="check"></div>
					</div><!-- end of add_checkbox -->
					
					<div class="deliver_content"><!-- start of deliver_content -->
					
						<div class="add_content" *ngIf="editedAddressId != item.id"><!-- start of content -->
							<p>
								<span>{{item.firstname+' '+item.lastname+', '+item.mobile}}</span>, {{item.email}}
							</p>
							<span class="complete_add">
								{{item.address}}, {{item.city}}, {{item.state}}, <span>{{item.pincode}}</span>
							</span>
							<p class="account_line" *ngIf="addressIndex == index" [ngClass]="addressResponse.class" [innerHTML]="addressResponse.message"></p>
							<button type="button" class="btn cart_btn from-left" (click)="saveAddress(item, index);">Deliver Here</button>							
							<button type="button" class="btn add_edit_btn" (click)="editAddress(item);">Edit</button>
						</div><!-- end of content -->
						
						<div *ngIf="editedAddressId == item.id" class="col-xs-12 no-padding form_filed"><!-- start of form -->
							  <p class="col-xs-12 account_line text-uppercase">
								<span>Edit Address</span>
							  </p>

							  <div class="form-group col-sm-6 col-xs-12 rinput sfname"><!-- start of Fname -->
								<input type="hidden" class="form-control" formControlName="id">
								<input type="text" class="form-control" formControlName="firstname">
								<span *ngIf="rForm.controls.firstname.invalid && !rForm.controls.firstname.dirty" class="filed_name">First Name*</span>
								<span *ngIf="rForm.controls.firstname.invalid && rForm.controls.firstname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
								<span *ngIf="rForm.controls.firstname.valid" class="filed_name complete_filed">First Name*</span>
							  </div><!-- end of Fname -->

							  <div class="form-group col-sm-6 col-xs-12 rinput slname"><!-- start of Lname -->
								<input type="text" class="form-control" formControlName="lastname">
								<span *ngIf="rForm.controls.lastname.invalid && !rForm.controls.lastname.dirty" class="filed_name">Last Name*</span>
								<span *ngIf="rForm.controls.lastname.invalid && rForm.controls.lastname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
								<span *ngIf="rForm.controls.lastname.valid" class="filed_name complete_filed">Last Name*</span>
							  </div><!-- end of Lname -->

							  <div class="form-group col-sm-12 col-xs-12 rinput saddr"><!-- start of address -->
								<textarea class="form-control" formControlName="address" rows="1"></textarea>
								<span *ngIf="rForm.controls.address.invalid && !rForm.controls.address.dirty" class="filed_name">Address*</span>
								<span *ngIf="rForm.controls.address.invalid && rForm.controls.address.dirty" class="filed_name error_span">Please enter address[allowed chars are ) ( , ' / " . _ - ]!</span>
								<span *ngIf="rForm.controls.address.valid" class="filed_name complete_filed">Address*</span>
							  </div><!-- end of address -->

							  <div class="form-group col-sm-4 col-xs-12 rinput spincode"><!-- start of Zipcode -->
								<input type="text" class="form-control" formControlName="pincode">
								<span *ngIf="rForm.controls.pincode.invalid && !rForm.controls.pincode.dirty" class="filed_name">Pincode*</span>
								<span *ngIf="rForm.controls.pincode.invalid && rForm.controls.pincode.dirty" class="filed_name error_span">Please enter 6 digit number!</span>
								<span *ngIf="rForm.controls.pincode.valid" class="filed_name complete_filed">Pincode*</span>
							  </div><!-- end of Zipcode -->

							  <div class="form-group col-sm-4 col-xs-12 rinput scity"><!-- start of City -->
								<input type="text" class="form-control" formControlName="city">
								<span *ngIf="rForm.controls.city.invalid && !rForm.controls.city.dirty" class="filed_name">City/Town/District*</span>
								<span *ngIf="rForm.controls.city.invalid && rForm.controls.city.dirty" class="filed_name error_span">Please enter city/town/district!</span>
								<span *ngIf="rForm.controls.city.valid" class="filed_name complete_filed">City/Town/District*</span>
							  </div><!-- end of City -->

							  <div class="form-group col-sm-4 col-xs-12 rinput"><!-- start of State -->
								<select class="form-control" formControlName="state">
								  <option *ngFor="let item of addresses.locations" [value]="item.title">{{item.title}}</option>
								</select>
							  </div><!-- end of State -->

							  <div class="form-group col-sm-6 col-xs-12 rinput semail"><!-- start of emailAddress -->
								<input type="text" class="form-control" formControlName="email" (keyup)="upperToLower($event,'email');">
								<span *ngIf="rForm.controls.email.invalid && !rForm.controls.email.dirty" class="filed_name">Email*</span>
								<span *ngIf="rForm.controls.email.invalid && rForm.controls.email.dirty" class="filed_name error_span">Please enter a valid email id!</span>
								<span *ngIf="rForm.controls.email.valid" class="filed_name complete_filed">Email*</span>
							  </div><!-- end of emailAddress -->

							  <div class="form-group col-sm-6 col-xs-12 rinput smobile"><!-- start of Mobilenumber -->
								<input type="text" class="form-control" formControlName="mobile">
								<span *ngIf="rForm.controls.mobile.invalid && !rForm.controls.mobile.dirty" class="filed_name">Mobile Number*</span>
								<span *ngIf="rForm.controls.mobile.invalid && rForm.controls.mobile.dirty" class="filed_name error_span">Please enter a 10 digit mobile number!</span>
								<span *ngIf="rForm.controls.mobile.valid" class="filed_name complete_filed">Mobile Number*</span>
							  </div><!-- end of Mobilenumber -->

							  <div class="form-group col-sm-12 col-xs-12 rinput"><!-- start of Country -->
								<input type="text" class="form-control country" formControlName="country">
								<span class="filed_name complete_filed">Country*</span>
							  </div><!-- end of Country -->
							  
							  <div class="form-group col-sm-12 col-xs-12 rinput" *ngIf="addressResponse.id == item.id">
									<p class="account_line" [ngClass]="addressResponse.class" [innerHTML]="addressResponse.message"></p>
							  </div><!-- end of Country -->
							  
							  <div class="form-group col-sm-12 col-xs-12 no-padding"><!-- start of Country -->
									<button type="submit" class="btn from-left cart_btn">Save and Deliver Here</button>
									<button type="button" class="btn cancel_btn" (click)="cancelAddress();">Cancel</button>
							  </div><!-- end of Country -->
						</div><!-- end of form -->
					</div><!-- end of deliver_content -->
				</label><!-- end of label -->					
				</div>
				
				<div class="col-sm-12 col-xs-12 no-padding add_new_address"><!-- start of add_new_address -->
					<h3 class="col-xs-12" (click)="addNewAddress();">
						<span class="plus_ico_tag"><i class="plus_icon"></i><i class="plus_icon"></i></span> Add a new address
					</h3>
					
					<div class="col-xs-12 new_form" *ngIf="editedAddressId == 0"><!-- start of form -->
						<p class="col-xs-12 account_line text-uppercase">
							<span>* Required Fields</span>
						</p>
						
							  <div class="form-group col-sm-6 col-xs-12 rinput sfname"><!-- start of Fname -->
								<input type="hidden" class="form-control" formControlName="id">
								<input type="text" class="form-control" formControlName="firstname">
								<span *ngIf="rForm.controls.firstname.invalid && !rForm.controls.firstname.dirty" class="filed_name">First Name*</span>
								<span *ngIf="rForm.controls.firstname.invalid && rForm.controls.firstname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
								<span *ngIf="rForm.controls.firstname.valid" class="filed_name complete_filed">First Name*</span>
							  </div><!-- end of Fname -->

							  <div class="form-group col-sm-6 col-xs-12 rinput slname"><!-- start of Lname -->
								<input type="text" class="form-control" formControlName="lastname">
								<span *ngIf="rForm.controls.lastname.invalid && !rForm.controls.lastname.dirty" class="filed_name">Last Name*</span>
								<span *ngIf="rForm.controls.lastname.invalid && rForm.controls.lastname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
								<span *ngIf="rForm.controls.lastname.valid" class="filed_name complete_filed">Last Name*</span>
							  </div><!-- end of Lname -->

							  <div class="form-group col-sm-12 col-xs-12 rinput saddr"><!-- start of address -->
								<textarea class="form-control" formControlName="address" rows="1"></textarea>
								<span *ngIf="rForm.controls.address.invalid && !rForm.controls.address.dirty" class="filed_name">Address*</span>
								<span *ngIf="rForm.controls.address.invalid && rForm.controls.address.dirty" class="filed_name error_span">Please enter address[allowed chars are ) ( , ' / " . _ - ]!</span>
								<span *ngIf="rForm.controls.address.valid" class="filed_name complete_filed">Address*</span>
							  </div><!-- end of address -->

							  <div class="form-group col-sm-4 col-xs-12 rinput spincode"><!-- start of Zipcode -->
								<input type="text" class="form-control" formControlName="pincode">
								<span *ngIf="rForm.controls.pincode.invalid && !rForm.controls.pincode.dirty" class="filed_name">Pincode*</span>
								<span *ngIf="rForm.controls.pincode.invalid && rForm.controls.pincode.dirty" class="filed_name error_span">Please enter 6 digit number!</span>
								<span *ngIf="rForm.controls.pincode.valid" class="filed_name complete_filed">Pincode*</span>
							  </div><!-- end of Zipcode -->

							  <div class="form-group col-sm-4 col-xs-12 rinput scity"><!-- start of City -->
								<input type="text" class="form-control" formControlName="city">
								<span *ngIf="rForm.controls.city.invalid && !rForm.controls.city.dirty" class="filed_name">City/Town/District*</span>
								<span *ngIf="rForm.controls.city.invalid && rForm.controls.city.dirty" class="filed_name error_span">Please enter city/town/district!</span>
								<span *ngIf="rForm.controls.city.valid" class="filed_name complete_filed">City/Town/District*</span>
							  </div><!-- end of City -->

							  <div class="form-group col-sm-4 col-xs-12 rinput"><!-- start of State -->
								<select class="form-control" formControlName="state">
								  <option *ngFor="let item of addresses.locations" [value]="item.title">{{item.title}}</option>
								</select>
							  </div><!-- end of State -->

							  <div class="form-group col-sm-6 col-xs-12 rinput semail"><!-- start of emailAddress -->
								<input type="text" class="form-control" formControlName="email" (keyup)="upperToLower($event,'email');">
								<span *ngIf="rForm.controls.email.invalid && !rForm.controls.email.dirty" class="filed_name">Email*</span>
								<span *ngIf="rForm.controls.email.invalid && rForm.controls.email.dirty" class="filed_name error_span">Please enter a valid email id!</span>
								<span *ngIf="rForm.controls.email.valid" class="filed_name complete_filed">Email*</span>
							  </div><!-- end of emailAddress -->

							  <div class="form-group col-sm-6 col-xs-12 rinput smobile"><!-- start of Mobilenumber -->
								<input type="text" class="form-control" formControlName="mobile">
								<span *ngIf="rForm.controls.mobile.invalid && !rForm.controls.mobile.dirty" class="filed_name">Mobile Number*</span>
								<span *ngIf="rForm.controls.mobile.invalid && rForm.controls.mobile.dirty" class="filed_name error_span">Please enter a 10 digit mobile number!</span>
								<span *ngIf="rForm.controls.mobile.valid" class="filed_name complete_filed">Mobile Number*</span>
							  </div><!-- end of Mobilenumber -->

							  <div class="form-group col-sm-12 col-xs-12 rinput"><!-- start of Country -->
								<input type="text" class="form-control country" formControlName="country">
								<span class="filed_name complete_filed">Country*</span>
							  </div><!-- end of Country -->
							  
							  <div class="form-group col-sm-12 col-xs-12 rinput" *ngIf="addressResponse.id == 0">
									<p [ngClass]="addressResponse.class"  [innerHTML]="addressResponse.message"></p>
							  </div><!-- end of Country -->
							  
							  <div class="form-group col-sm-12 col-xs-12"><!-- start of Country -->
									<button type="submit" class="btn from-left cart_btn">Save and Deliver Here</button>
									<button type="button" class="btn cancel_btn" (click)="cancelAddress();">Cancel</button>
							  </div><!-- end of Country -->
					</div><!-- end of form -->
                </div><!-- end of add_new_address -->
				</form>				
            
			</div><!-- end of collapse_div -->
          </div><!-- end of shiping_address -->

          <div class="col-sm-12 col-xs-12 no-padding xs-no-padding checkout_row panel"><!-- start of review_order -->
		  
            <div id="RevieworederSelected" [hidden]="!(tabIndex.third == 1)" class="cart_box" data-toggle="collapse" data-target="#Revieworeder" data-parent="#accordion"><!-- start of cart_box -->
				<div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
					<h3 class="col-sm-12 col-xs-12">Review Your Order <i class="fa fa-check rytcheck"></i></h3>
					<h4 *ngIf="myCart.cart" class="col-sm-12 col-xs-12 no-padding">{{myCart.cart.length}} item</h4>
				</div><!-- end of left_part -->
				
				<div class="col-md-2 col-sm-3 col-xs-4 no-padding change_div"><!-- start of right_part -->
					<div class="col-sm-12 col-xs-12 no-padding">
						<button type="button" class="btn from-left-checkout btn_checkout">
							Review
						</button>
					</div>
				</div><!-- end of right_part -->
            </div><!-- end of cart_box -->

            <div [hidden]="(tabIndex.third == 1)" class="cart_box"><!-- start of cart_box -->
				<div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
					<h3 class="col-sm-12 col-xs-12">Review Your Order</h3>
				</div><!-- end of left_part -->				
            </div><!-- end of cart_box -->

            <div id="Revieworeder" class="col-sm-12 col-xs-12 no-padding panel-collapse collapse"><!-- start of collapse_div -->
				<form class="col-xs-12 no-padding">
				  <div class="col-sm-12 col-xs-12 panel-body">

					<div *ngFor="let item of myCart.cart" class="col-sm-12 col-xs-12 no-padding re_product_row"><!-- start of product_1 -->
					  <div class="addcart_image"><!-- start of image -->
						<img *ngFor="let img of item.images" src="{{img.url}}" alt="{{item.title}}" class="center-block img-responsive">
					  </div><!-- end of image -->

					  <div class="addcart_detail"><!-- start of image_detail -->
						<p>{{item.title}}</p>
						<span *ngIf="prive.product_id != item.id" class="product_size">Size: {{item.size}} {{item.size_unit.toUpperCase()}}</span>
						<span class="product_price"><i class="fa fa-rupee"></i>{{item.price}}</span>
						<span *ngIf="prive.product_id != item.id" class="product_qty">{{item.cart_qty}} Qty</span>
					  </div><!-- end of image_detail -->
					</div><!-- end of product_1 -->
					
					<div class="col-sm-12 col-xs-12 checkout_continue_btn"><!-- start of button -->
						<button type="button" class="btn from-left cart_btn" (click)="reviewedCartContinue();">Continue</button>
					</div><!-- end of button -->
				  </div>
				</form>
			</div><!-- end of collapse_div -->
          </div><!-- end of review_order -->
		  
		  <div class="col-sm-12 col-xs-12 no-padding xs-no-padding checkout_row panel"><!-- start of payment_method -->
				<div id="PaymentoptionSelected" [hidden]="!(tabIndex.fourth == 1)" class="cart_box" data-toggle="collapse" data-target="#Paymentoption" data-parent="#accordion"><!-- start of cart_box -->
				
					<div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
						<h3 class="col-sm-12 col-xs-12">Payment Method <i *ngIf="inputData.paymentMethodSelected" class="fa fa-check rytcheck"></i></h3>
						<h4 class="col-sm-12 col-xs-12 no-padding">{{inputData.paymentMethodSelected}}</h4>
					</div><!-- end of left_part -->
					
					<div *ngIf="inputData.paymentMethodSelected" class="col-md-2 col-sm-3 col-xs-12 no-padding change_div"><!-- start of right_part -->
						<div class="col-sm-12 col-xs-12 no-padding">
							<button type="button" class="btn from-left-checkout btn_checkout">
								Change
							</button>
						</div>
					</div><!-- end of right_part -->
				</div><!-- end of cart_box -->
	
				<div [hidden]="(tabIndex.fourth == 1)" class="cart_box"><!-- start of cart_box -->		
						<div class="col-md-10 col-sm-9 col-xs-12 no-padding close_box"><!-- start of left_part -->
							<h3 class="col-sm-12 col-xs-12">Payment Method</h3>
						</div><!-- end of left_part -->						
				</div><!-- end of cart_box -->
				
			<div id="Paymentoption" class="col-sm-12 col-xs-12 no-padding panel-collapse collapse"><!-- start of collapse_div -->
				<form class="col-xs-12 no-padding" [formGroup]="methodForm">
				  <div class="col-sm-12 col-xs-12 panel-body payment_div">
					<ul class="col-sm-12 col-xs-12 no-margin">
					
						<li class="col-sm-8 col-xs-12">
							<ul class="col-sm-12 col-xs-12 no-padding select_method">
								<li class="col-sm-12 col-xs-12">
									<label>Prepaid <!--small data-toggle="modal" data-target="#prepaidOfferPopup" title="Get Free Sachets and a 2-4ml Tester Perfume">(Free Gift &nbsp; <i class="fa fa-info"></i>)</small--></label>
								</li>
								<li *ngFor="let item of paymentMethodData" class="col-sm-6 col-xs-12">
									<input *ngIf="item.id != 1" type="radio" id="pg-{{item.id}}" (change)="onSelectionChange(item.id);"  [value]="item.id" formControlName="paymentMethod">
									<label *ngIf="item.id != 1" for="pg-{{item.id}}">{{item.title}}</label>
									<div *ngIf="item.id != 1" class="check"></div>
								</li>
							</ul>
						</li>
					
						<li class="col-sm-4 col-xs-12">
							<ul class="col-sm-12 col-xs-12 no-padding select_method">
								<li class="col-sm-12 col-xs-12">
									<label>Postpaid</label>
								</li>
								<li *ngFor="let item of paymentMethodData" class="col-sm-12 col-xs-12">
									<input *ngIf="item.id == 1" type="radio" id="pg-{{item.id}}" (change)="onSelectionChange(item.id);"  [value]="item.id" formControlName="paymentMethod">
									<label *ngIf="item.id == 1" for="pg-{{item.id}}">{{item.title}}</label>
									<div *ngIf="item.id == 1" class="check"></div>
								</li>
							</ul>
						</li>
					
					  
					  
					</ul>
					<span *ngIf="methodForm.controls.paymentMethod.invalid && methodForm.controls.paymentMethod.dirty" class="col-xs-12 text-danger">Choose payment method!</span>
					
					<div class="col-sm-12 col-xs-12 checkout_continue_btn"><!-- start of button -->
						<button type="button" (click)="checkData();" class="btn from-left-checkout btn_checkout">Place Order </button>
					</div><!-- end of button -->
				  </div>
				</form>
			</div><!-- end of collapse_div -->
          </div><!-- end of payment_method -->

        </div><!-- end of accordion_tab -->

      </div><!-- end of left-part -->

      <div class="col-sm-4 col-xs-12 xs-no-padding cd-filter" [ngClass]="summaryClass"><!-- start of right-part -->

        <div class="price_box"><!-- start of price_box -->

          <h3 class="col-sm-12 col-xs-12 price_heading"><!-- start of price_heading -->
            Price Summary
          </h3><!-- end of price_heading -->

          <div class="col-sm-12 col-xs-12 price_summary"><!-- start of price_summary -->
            <p class="col-sm-12 col-xs-12 no-padding">
              Products Prices <span class="price_money"><i class="fa fa-rupee"></i> {{myCart.cart_total | number:'2.2-2'}}</span>
            </p>
            <p class="col-sm-12 col-xs-12 no-padding">
              Discounts <a href="#Discount" data-toggle="collapse"><i class="fa fa-info"></i></a> <span class="price_money"><span class="price_sign">(<i class="fa fa-minus"></i>)</span> <i class="fa fa-rupee"></i> {{discounts.amount | number:'2.2-2'}}</span>
            </p>

            <div class="col-sm-12 col-xs-12 collapse no-padding-right" id="Discount"><!-- start of collapse_div -->
              <p *ngIf="discounts.voucher_501 > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                <i class="fa fa-rupee"></i> 501 Voucher ({{discounts.voucher_qty_501}}) <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.voucher_501 | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.voucher_100 > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                <i class="fa fa-rupee"></i> 100 Voucher ({{discounts.voucher_qty_100}}) <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.voucher_100 | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.points > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                PB Points <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.points | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.cash > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                PB Cash <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.cash | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.prive > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                Prive <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.prive | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.coupon > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                Coupon <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.coupon | number:'2.2-2'}}</span>
              </p>
              <p *ngIf="discounts.extra > 0" class="col-sm-12 col-xs-12 no-padding no-margin">
                Additional Discount <span class="price_money"><i class="fa fa-rupee"></i> {{discounts.extra | number:'2.2-2'}}</span>
              </p>
              <p class="col-sm-12 col-xs-12 no-padding no-margin-md-bottom">
                
              </p>
            </div><!-- end of collapse_div -->

            <p *ngIf="codAmount > 0" class="col-sm-12 col-xs-12 no-padding">
              Cash On Delivery <span class="price_money"><span class="price_sign">(<i class="fa fa-plus"></i>)</span> <i class="fa fa-rupee"></i> {{codAmount | number:'2.2-2'}}</span>
            </p>
            <p class="col-sm-12 col-xs-12 no-padding">
              Shipping Charges <span class="price_money"><span class="price_sign">(<i class="fa fa-plus"></i>)</span> <i class="fa fa-rupee"></i> {{shippingAmount | number:'2.2-2'}}</span>
            </p>
          </div><!-- end of price_summary -->

          <div class="col-sm-12 col-xs-12 price_total"><!-- start of price_total -->
            <h4>
              Grand Total <span><i class="fa fa-rupee"></i> {{grandFinalTotal | number:'2.2-2'}}</span>
            </h4>
          </div><!-- end of price_total -->

        </div><!-- end of price_box -->

        <div class="price_detail hidden-xs"><!-- start of price_detail -->
			<p *ngIf="credits.message != ''" class="col-sm-12 col-xs-12 order_note" [innerHTML] ="credits.message"></p>
			<p class="col-sm-12 col-xs-12 no-padding" [ngClass]="{'text-success':(finalStatus == true),'text-danger':(finalStatus == false)}"><b>{{finalMessage}}</b></p>
			<a class="text-right" id="getOtpPopup" href="#otpPopup" data-toggle="modal"></a>

			<div class="col-sm-12 col-xs-12 order_secure">
				<p><img src="assets/images/secure.png" alt="Secure">100% Authentic products,Safe & Secure Payment.</p>
			</div>
			<div *ngIf="paymentOffer.paypal" class="col-sm-12 col-xs-12 no-padding">
				<img class="img-responsive center-block" src="assets/images/payment-offer/400X250.png" alt="Payment Offer" />
			</div>
        </div><!-- end of price_detail -->
        <a class="cd-close visible-xs" (click)="hideSummary();"><i class="fa fa-angle-left"></i></a>
      </div><!-- end of right-part -->
      <a class="cd-filter-trigger m_price_detail" [ngClass]="summaryClass" (click)="showSummary();">Price Summary <span><i class="fa fa-rupee"></i> {{grandFinalTotal | number:'2.2-2'}}</span></a>

		<div class="col-sm-12 col-xs-12 xs-no-padding visible-xs price_detail">
			<p *ngIf="credits.message != ''" class="col-sm-12 col-xs-12 order_note" [innerHTML] ="credits.message"></p>
			<p class="col-sm-12 col-xs-12 no-padding" [ngClass]="{'text-success':(finalStatus == true),'text-danger':(finalStatus == false)}"><b>{{finalMessage}}</b></p>
			<div *ngIf="paymentOffer.paypal" class="col-sm-12 col-xs-12 no-padding">
				<img class="img-responsive center-block" src="assets/images/payment-offer/400X250.png" alt="Payment Offer" />
			</div>
			<div class="col-sm-12 col-xs-12 order_secure">
				<p><img src="assets/images/secure.png" alt="Secure">100% Authentic products,Safe & Secure Payment.</p>
			</div>
		</div>
	
    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->

<div id="prepaidOfferPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm col-sm-offset-3">
      <div class="modal-header no-padding no-border">
        <button type="button" class="close video_close" data-dismiss="modal">
          <span class="icon_cross"></span>
          <span class="icon_cross"></span>
        </button>
      </div>
      <div class="modal-body col-sm-12 col-xs-12 confirm_popup_div confirm_popup_div_prive">
		<h3 class="clearfix"><strong>Free Gift</strong></h3>
        <p class="clearfix">Get Free Sachets and a 2-4ml Tester Perfume (Only for Prepaid Order)</p>
      </div>
    </div>
  </div>
</div>
<div id="otpPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm col-sm-offset-3">
      <div class="modal-header no-padding no-border">
        <button type="button" id="closeOtpPopup" class="close video_close" data-dismiss="modal">
          <span class="icon_cross"></span>
          <span class="icon_cross"></span>
        </button>
      </div>
      <div class="modal-body col-sm-12 col-xs-12 login_popup_div">
        <h3 class="clearfix col-xs-12 text-danger">Verify your mobile number</h3>
        <div class="col-xs-12 login_form"><!-- start of form_part -->
          <form #otpForm="ngForm" (ngSubmit)="verifyOtp();" class="col-xs-12 no-padding">
            <p class="col-xs-12 account_line" [ngClass]="otpResponse.class" [innerHTML]="otpResponse.message"></p>
            <div class="form-group col-xs-12 no-padding"><!-- start of email -->
              <input type="text" class="form-control" name="enterOtpNumber" [(ngModel)]="enterOtpNumber">
							<span class="filed_name" [ngClass]="{'complete_filed': (enterOtpNumber != '')}">Enter OTP*</span>
					</div><!-- end of email -->

            <div class="form-group col-xs-12 no-padding"><!-- start of login_button -->
              <button type="submit" class="btn from-left cart_btn btn-block">Submit</button>
            </div><!-- end of login_button -->
            <div class="form-group col-xs-12 no-padding"><!-- start of login_button -->
              <button type="button" (click)="getOtp();" class="btn from-left cart_btn btn_outline btn-block">Resend OTP</button>
            </div><!-- end of login_button -->

          </form>
        </div><!-- end of form_part -->
      </div>
    </div>

  </div>
</div>

<!-- start of Loginmodal -->
<form id="paymentGatewayForm" action="{{paymentGatewayUrl}}" [hidden]="true" method="post">
	<input type="hidden" name="orderId" value="{{orderNumber}}">
</form>

<!-- end of Loginmodal -->
<!-- start of page js -->
