

/* start of login_box css */
.cart_box{padding:6px 10px; float:left; position:relative; width:100%; background:#fff; border:1px solid rgba(0,0,0,0.1); border-radius:4px;}
.close_box h3{margin:0; padding:5px 0 5px; font-size:18px; font-weight:700; text-transform:uppercase; -webkit-text-fill-color: transparent;
	background:linear-gradient(to right, #8b3390 0%, #ea1f61 10%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ea1f61 10%, #ed1b62 100%);
	background:-moz-linear-gradient(left, #8b3390 0%, #ea1f61 10%, #ed1b62 100%);
}
.close_box h3.gradient_use, .price_box h3.price_heading{-webkit-background-clip: text;}
.close_box h4{margin:0 0 10px 0; font-size:14px; color:#28373f; font-weight:500;}
.cart_box_1 h5{margin:0; padding:10px 0 10px; font-size:16px; font-weight:300; color:rgba(0,0,0,0.8);}
.cart_box_1 a{margin:0;}

/* start of table_css */
.cart_table_left{width:100%; float:left; position:relative; padding:0 35px 0 0; border-right:1px solid rgba(0,0,0,0.1);}
.order_heading{padding:15px 10px; margin:0; font-size:20px; font-weight:700; border-bottom:none; color:#28373f; text-transform:uppercase;}
.table-bordered.cart_table tr th{padding:15px 10px; text-align:center; color:#28373f; border-width:0; font-weight:normal; font-size:14px; vertical-align:middle; font-weight:500; text-transform:uppercase;}
.table-bordered.cart_table tr th:nth-child(1){width:60%; text-align:left;}
.table-bordered.cart_table tr th:nth-child(2), .table-bordered.cart_table tr th:nth-child(3){width:20%;}
.table-bordered.cart_table tr td{padding:25px 10px; vertical-align:middle; position:relative; border-width:1px 0px 0px 0;}
.cart_table tr td .addcart_image{/*float:left; position:relative; display:inline-block;*/ margin-right:10px;}
.table-bordered.cart_table tr td.product_td{display:flex; align-items:center; margin-top:-1px;}
/*.cart_table tr td .addcart_image img{width:100px;}
.cart_table tr td .addcart_detail{position:relative; display:inline-block; float:left;}*/
.cart_table tr td .addcart_detail p{margin:0;}
.cart_table tr td .addcart_detail p a{color:#28373f; font-size:15px; padding-bottom:10px; padding-top:5px; display:block; text-decoration:none;}

/* start of remove_cart css */
.remove_cart{display:block; position:relative; text-align:center;}
.remove_cart .btn{position:relative; color:rgba(0,0,0,0.9); cursor:pointer; background:none; border:none; padding:0 5px; font-size:12px; text-decoration:underline;}
.remove_cart button:active{box-shadow:none;}

/* start of add or minus number css 
.cart_qty{display:inline-block; width:90px;}
.add_on_div span .btn-info{padding:4px 10px; font-size:10px; border-radius:0px; background:rgba(0,0,0,0.05); color:#28373f; border:none; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.add_on_div span .btn-info:hover{background:#28373f; color:#fff;}
.add_on_div span .btn-info.disabled.focus, .add_on_div span .btn-info.disabled:focus, .add_on_div span .btn-info.disabled:hover, .add_on_div span .btn-info.focus[disabled], .add_on_div span .btn-info[disabled]:focus, .add_on_div span .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover{background:#28373f; color:#fff; border-color:#28373f !important; box-shadow:none !important;}
.add_on_div input{padding:6px 5px; border:1px solid rgba(0,0,0,0.1); border-radius:4px !important;}
/* end of add or minus number css */

.cart_table tr td.total_text{text-align:center;}
.cart_table tr td.total_text h4{font-size:16px; color:#28373f; margin:0;}
.cart_table tr.total_product{background:rgba(0,0,0,0.08);}
.cart_table tr.total_product td.subtotal_text{padding:10px 15px; text-align:center; border:none; text-transform:uppercase;}
.cart_table tr td.subtotal_text h3{margin:0; font-size:18px; color:rgba(0,0,0,0.8); padding:0; text-align:left; font-weight:700;}
.cart_table tr td.subtotal_text h4{font-size:18px; color:#28373f; margin:0; font-weight:700;}
.cart_table tr td.subtotal_text h4 i, .cart_table tr td.total_text h4 i{padding-right:2px; font-size:15px;}

/* start of select box */
.select_box{width:55px; margin:0 auto;}
.select_box button{border-radius:0px; padding:3px 12px;}
.select_box button span.filter-option{font-size:14px;}
.select_box .btn-group.open .dropdown-toggle{box-shadow:none; background:none;}
.select_box .btn-group.open .dropdown-toggle:focus, .select_box .btn-group.open .dropdown-toggle:active{outline:none; background:none;}
.select_box .bootstrap-select .dropdown-toggle:focus{outline:none !important;}
.select_box button:hover, .select_box button:focus, .select_box button:active{background:none !important; box-shadow:none; outline:none;}
.select_box .dropdown-menu{box-shadow:0 1px 5px rgba(0, 0, 0, 0.2); border-radius:0px; margin:1px 0 0 0;}
.select_box .dropdown-menu ul li a{padding:5px 12px; font-size:14px; color:#28373f;}
.select_box .dropdown-menu ul li a span.glyphicon{top:8px;}
.select_box .dropdown-menu ul li:first-child a{display:none !important;}
.select_box .dropdown-menu ul li a:focus{background:none;}

/* start of subtotal css */
.grandtotal_div{padding:12px 10px; border-bottom:1px solid #ddd; float:left; width:100%; position:relative;}
.grandtotal_div h3{margin:0; font-size:22px; color:rgba(0,0,0,0.8); padding:0;}
.grandtotal_div h4{margin:0; font-size:20px; color:rgba(0,0,0,0.8); padding:0; text-align:right;}
.grandtotal_div h4 .fa-rupee{font-size:18px; padding-right:2px;}
.grandtotal_div h4 a{text-decoration:none;}
.grandtotal_div.short_breakup{padding:8px 0px; margin:10px 0; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.grandtotal_div.short_breakup h3{font-size:18px;}
.grandtotal_div.short_breakup h4{font-size:16px;}
.grandtotal_div.short_breakup h4 .fa-rupee{font-size:15px;}

/* price_breakup css */
.price_breakup{padding:20px 10px; border-bottom:1px solid #ccc;}
.breakup_price{padding:4px 25px 0 0;}
.breakup_content span.information_div a{display:inline-block; font-size:16px; color:#28373f; position:relative;}
.breakup_content span.information_div a:focus{outline:none;}
.breakup_price p{text-align:right; font-size:16px; color:#28373f; margin:0;}
.breakup_price p i{font-size:13px; color:#28373f; padding-right:2px;}
.breakup_price p span{color:#28373f; padding-right:2px; font-size:10px;}
.breakup_price p span i{font-size:8px; padding:0 1px; line-height:1px;}
.grandtotal_div .input-group input{box-shadow:none; border:1px solid #28373f; border-radius:0px;}
.grandtotal_div .input-group span .btn-coupon{background:#28373f; color:#fff; font-size:14px; border-radius:0px; border:1px solid #28373f;}

.grandtotal_div h3.coupon_line{color:rgba(0, 0, 0, 0.5); font-weight:normal; font-size:18px; padding:7px 0;}
.grandtotal_div .col-sm-4 p{padding:6px 15px 0; margin:0;}
.grandtotal_div .col-sm-4 p.coupon_error{color:#df5745;}
.grandtotal_div .col-sm-4 p.coupon_success{color:#28373f;}

/* start of pb offers */
.payment_div{padding:15px; border-bottom:1px solid #ccc;}
.payment_div:nth-last-child(2){margin-bottom:12px;}
.payment_div ul{list-style: none; margin:8px 0 0px; padding: 0;}
.payment_div ul li{color: #28373f; font-size:13px; display: inline-block; position: relative; float: left; padding:0;}
.payment_div ul li input[type=radio]{position: absolute; visibility: hidden;}
.payment_div ul li label{display: inline-block; position: relative; font-size: 13px; padding: 4px 10px 2px 28px; z-index: 9; cursor: pointer; color:#28373f; font-weight:500; -webkit-transition: all 0.25s linear;}
.payment_div ul li label i{font-size:13px;}
.payment_div ul li:hover label{color: #ed1b62;}
.payment_div ul li .check{display: block; position: absolute; border: 2px solid rgba(0, 0, 0, 0.5); border-radius: 100%; height: 15px; width: 15px; top: 5px; left: 0px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
.payment_div ul li .breakup_content:hover .check {border: 2px solid #ed1b62;}
.payment_div ul li .check::before {display: block; position: absolute; content: ''; border-radius: 100%; height: 5px; width: 5px; top: 3px; left: 3px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
.payment_div input[type=radio]:checked ~ .check {border: 2px solid #ed1b62;}
.payment_div input[type=radio]:checked ~ .check::before{background: #ed1b62;}
.payment_div input[type=radio]:checked ~ label{color: #ed1b62;}

/* buton css */
.cart_button a{display:inline-block; text-decoration:none;}
.cart_button a:last-child{float:right;}
.cart_button a.btn-div-buy{font-size:14px;}
.cart_button a.btn-div-cart{height:40px; line-height:40px;}

/* on hover toltip css */
a.toltip{cursor:pointer;}
.toltip .tooltiptext{visibility:hidden; width:250px; background:#333333; cursor:text; color:#fff; text-align:left; position:absolute; z-index:99; top:0px; left:0; transform:translateX(-45%);}
.toltip .tooltiptext:before{content:"\f0d8"; font-family: FontAwesome; font-style:normal; font-weight:normal; position:absolute; left:46%; transform:translateX(-50%); top:-26px; color:#333333; font-size:30px; display:block;}
.toltip:hover .tooltiptext{visibility:visible;}
#discount_collapse.collapse.in .toltip .tooltiptext{top:30px; padding:5px;}

/* discount_collapse */
.discount_arrow{float:right; padding:0px 5px; background:none; cursor:pointer; color:rgba(0,0,0,0.8); position:relative; top:3px;}
.discount_arrow i{font-size:18px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.discount_arrow.collapsed i{transform:rotate(180deg);}
.discount_arrow:active{background:none; box-shadow:none; outline:none !important;}

.popover{width:250px; cursor:text;}

/* start of price_detail */
.price_box{padding:0; float:left; position:relative; width:100%; background:#fff;}
.price_box .price_heading{border-bottom:1px solid #ccc; padding:15px 10px; margin:0; font-size:20px; font-weight:700; text-transform:uppercase;-webkit-text-fill-color: transparent;
	background:linear-gradient(to right, #8b3390 0%, #ea1f61 30%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ea1f61 30%, #ed1b62 100%);
	background:-moz-linear-gradient(left, #8b3390 0%, #ea1f61 30%, #ed1b62 100%);
}
.price_summary{padding:15px 0px;}
.price_summary p{margin:0; font-size:14px; color:#28373f; font-weight:700;}
.price_summary p small, .breakup_content label small, .breakup_content span small{font-size:11px; color:#28373f; padding-left:5px; font-weight:500;}
.breakup_price p{color:#28373f; font-size:13px; font-weight:500;}
.price_summary p span.price_money{float:right; padding-right:25px; position:relative; font-size:14px; font-weight:500;}
.price_summary p span.price_money i{font-size:14px;}
.price_summary p span.price_money span.price_sign{font-size:13px; color:#28373f; padding-right:5px;}
.price_summary p span.price_money span.price_sign i{font-size:10px; padding:1px; line-height:1px;}
.info_btn{margin-left:5px; width:16px; height:16px; border:1px solid rgba(0,0,0,0.6); border-radius:50%; padding:0 0 0 2px; background:none; display:flex; align-items:center; justify-content:center; position:absolute; right:0; top:5px;}
.info_btn i{font-size:10px; color:rgba(0,0,0,0.5); padding:0; font-weight:500;}
.info_btn:hover, .info_btn:active, .info_btn:focus{outline:none; box-shadow:none;}
.price_total{border-top:1px solid #ccc; padding:15px;}
.price_total p{color:#28373f;}
.price_total p span{color:#ed1b62;}
.price_total h4{margin:0; font-size:18px; font-weight:700; color:#28373f;}
.price_total h4 span{font-weight:700; float:right; color:#28373f; padding-right:25px;}
.price_total h4 span i{font-size:16px;}
.add_voucher{padding:0 10px 0 0;}
.add_voucher p{font-size:14px; color:#28373f; padding-top:5px;}
.add_voucher_btn{padding:0; margin-top:4px;}
.add_voucher_btn .input-group .form-control{height:auto; padding:4px 8px; box-shadow:none; border-radius:0; border-color:#28373f; color:#28373f; font-weight:300;}
.add_voucher_btn span button{padding:4px 15px; border-color:#28373f; border-radius:0; color:#fff; background:#28373f; transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.add_voucher_btn span button:hover{background:#ed1b62; border-color:#ed1b62; color:#fff;}

/* start of discount_popup css */
.discount_div{padding:0 15px; margin:20px 0 15px 10px; text-align:justify;}
.discount_div li p{font-size:14px; line-height:22px; margin:0 0 10px 0; padding:0; text-align:justify;}
.discount_div li:last-child p{padding-bottom:15px;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:30px; padding-left:0; padding-right:0;}
}

@media (min-width:992px) and (max-width:1200px) { 
	
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:60px; padding-top:20px;}
	
	.review_heading button.video_close{right:0; top:5px;}
	.close_box h3{font-size:14px; margin-bottom:0; padding:4px 0 8px;}
	.close_box h4{font-size:12px; margin:0 0 7px 0;}
	
	/* checkbox css plus price breakup */
	.breakup_price p{font-size:12px; padding-top:6px;}
	.breakup_price p span{position:relative; top:-2px; font-size:10px; padding-right:6px;}
	.breakup_price p span i{font-size:8px;}
	.breakup_price p i{font-size:13px;}
	.grandtotal_div h3{font-size:18px;}
	.grandtotal_div h4{font-size:17px;}
	.grandtotal_div h4 .fa-rupee{font-size:15px;}
	.price_breakup{padding:10px 0px 20px;}
	.breakup_content .collapse{margin-bottom:10px;}
	.breakup_content span.information_div a{font-size:14px;}
	.review_heading h3{font-size:18px;}
	
	/* start of subtotal css */
	.grandtotal_div{padding:5px 0px 10px;}
	.grandtotal_div .col-sm-4 p{padding:6px 15px 0 0;}
	
	/* start of pb offers */
	.payment_div ul li label{padding:4px 10px 5px 20px; font-size:12px;}
	.payment_div ul li .check{width:15px; height:15px; top:4px;}
	.payment_div ul li .check::before {width:5px; height:5px;}
	.payment_div ul li label small{display:block; padding:0;}
	.breakup_price{padding:0 15px 0 0;}
	.info_btn{right:-10px; padding:0 0 0 1px;}
	.add_voucher_btn .info_btn{top:12px;}
	
	/* start of table */
	.cart_table_left{box-shadow:none; padding:0; border:0;}
	.order_heading{border:1px solid rgba(0,0,0,0.1); font-size:16px;}
	.responsive-mobile-table .cart_table tr{margin-top:-1px; border-color:rgba(0,0,0,0.1);}
	.table-bordered.cart_table tr td, .cart_table tr td.subtotal_text{padding:7px 5px 10px 32%; border:none; color:#28373f; font-size:12px;}
	.cart_table tr td .addcart_image{display:block; float:none; position:absolute; left:0; top:50%; transform:translateY(-40%); z-index:-1; width:30%;}
	.cart_table tr td .addcart_detail{float:none; display:block; padding-top:5px;}
	.cart_table tr td .addcart_detail p a{font-size:12px; padding-bottom:8px; padding-top:0px;}
	.cart_qty{display:block; margin:0 auto;}
	.cart_table tr td.total_text h4, .cart_table tr td.subtotal_text h4{text-align:right; font-size:14px; padding-right:8px;}
	.cart_table tr td.subtotal_text h4 i, .cart_table tr td.total_text h4 i{font-size:14px;}
	.cart_table tr td.total_text h4 button{top:-100%;}
	.select_box .form-control{height:auto;}
	.select_box button{padding:4px 8px 0;}
	.cart_table tr td .addcart_detail span.product_qty{padding-bottom:10px;}
	.table-bordered.cart_table tr td.quantity_td{display:flex; align-items:center;}
	.quantity_td .select_box{margin:0; display:inline-block; width:auto;}
	.quantity_td .remove_cart{margin-left:auto; display:inline-block;}
	.cart_table tr.total_product td.subtotal_text{padding-right:5px;}
	.remove_cart .btn{font-size:12px;}
	
	/* start cart_button */
	.cart_button{position: fixed; left: 0px; z-index: 9; margin: 0px; bottom: 0px; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.15);}
	.cart_button a{width:100%;}
	.cart_button a.btn-div-cart, .cart_button a.btn-div-buy{height:40px; line-height:40px; padding:0 10px; font-size:13px;}
	.grandtotal_div.short_breakup h3{font-size:14px;}
	
	.toltip .tooltiptext{left:5px;}
	
	/*start of price_summary css */
	.xs_price_summary_margin{margin-top:10px;}
	.payment_div .margin-top{margin-top:0;}
	.price_summary p span.price_money, .price_total h4 span{padding-right:15px;}
	.price_box{border:1px solid rgba(0,0,0,0.1);}
	.price_box .price_heading{font-size:16px;}
	.price_summary p, .price_summary p span.price_money{font-size:12px;}
	.price_summary p small, .breakup_content label small, .breakup_content span small{font-size:9px;}
	.price_summary p span.price_money i{font-size:12px;}
	.price_total h4{font-size:16px;}
	
	/* start of discount_popup css */
	.discount_div li p, .add_voucher p{font-size:12px;}
	
	/* start of shop_more */
	.cart_box_1 h5{padding:5px 0 10px; font-size:14px; line-height:20px;}
	
	/* shopping cart icon css */
	ul.nav_menu li a.shopping-cart{display:none;}
	
	/* start of scrollup css */
	.scrollUp{left:0; bottom:0;}
}