/* start of middle_part css */
.index_2_div{padding-top:0;}
.index_2_div section.container-fluid .container{display:flex; align-items:center; justify-content:center;}
.index_2_div section.container-fluid a.product_img_div{display:block;}
.index_2_div section.container-fluid a.product_img_div img{width:auto; max-width:500px;}
.scent_shot_div{padding:70px 0 50px;}
.content_div{padding-bottom:20px; border-left:1px solid rgba(0,0,0,0.6);}
.content_div h1, .content_div h3{font-size:36px; color:#28373f; text-transform:uppercase; margin:0; padding:0 0 20px; font-weight:700;}
.content_div h1 span, .content_div h3 span{font-weight:300; display:block; line-height:30px;}
.content_div p{font-size:16px; color:rgba(0,0,0,0.6); padding:0 0 15px; margin:0;}
.content_div p.brand_price{color:#28373f; font-weight:bold;}
.content_div p.brand_price span{font-size:20px;}
.content_div p.brand_price span i{font-weight:normal; padding-right:1px; font-size:19px;}
.content_div p:last-child{padding:0 0 20px;}
.content_div a{text-decoration:none;}
.content_div a.btn-div-more{background:#ed1b62; color:#fff; font-size:16px; padding:0px 15px; display:inline-block; height:35px; line-height:35px; border-radius:0px; text-transform:uppercase; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.content_div a.btn-div-more:hover, .content_div a.btn-div-more:focus, .content_div a.btn-div-more:active{background:#00a9bd; outline:none;}
.content_div a.btn-div-more span{position:relative; display:inline-block; cursor:pointer; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.content_div a.btn-div-more span:after{content:"\00bb"; position:absolute; opacity:0; top:-1px; right:-20px;}
.content_div a.btn-div-more:hover span{padding-right:20px;}
.content_div a.btn-div-more:hover span:after{opacity:1; right:0;}
.overflow_hidden{overflow:hidden;}
.content_div_white{border-left:1px solid #fff;}
.content_div_white h1, .content_div_white h3, .content_div_white p, .content_div_white p.brand_price{color:#fff;}

/* start of sold_text css */
.sold_text{display:inline-block; font-size:12px; border:1px dotted; padding:2px 10px 1px; margin-left:8px; font-weight:500; position:relative; top:-3px; border-top-left-radius:12px; border-bottom-right-radius:12px;}

/* start of bg_colors css */
.brand_EB{background:#ececec;}
.brand_CA{background:#5c505e}
.brand_C{background:#694133;}
.brand_E{background:#e1cad8;}
.brand_LC{background:#fcdeab;}
.brand_M{background:#c47979;}
.brand_L{background:#d9d7e9;}
.brand_BS{background:#c5b5a5;}
.brand_PC{background:#f3eadd;}
.brand_NNB{background:#2a2837;}
.brand_O{background:#dddad6;}
.brand_CME{background:#ececec;}
.brand_pattern{background-image:url(../images/brand/brand_pattern.png); background-repeat:repeat;}

/* start of on scroll animation css */
.os-animation{opacity: 0;}
.os-animation.animated{opacity: 1;}


/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
	
	/* start of middle_part css */
	.index_2_div section.container-fluid a.product_img_div img{max-width:350px;}
	.content_div h1, .content_div h3{font-size:30px; padding:0 0 15px;}
	.content_div p{padding:0 0 10px;}
}

@media (min-width:992px) and (max-width:1200px) {
	/* start of middle_part css */
	.index_2_div section.container-fluid a.product_img_div img{max-width:400px;}
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	/* start of middle_part css */
	.index_2_div{padding-top:0;}
	.scent_shot_div{padding:50px 0 40px 0;}
	.scent_shot_div:First-child{padding:20px 0 40px 0;}
	.index_2_div section.container-fluid .container{display:block;}
	.index_2_div section.container-fluid a.product_img_div{padding-top:25px;}
	.index_2_div section.container-fluid a.product_img_div img{max-width:100%;}
	.content_div{text-align:center; border-left:0; border-right:0;}
	.content_div h1, .content_div h3{padding:0 0 8px; font-size:28px;}
	.content_div p{padding:0 0 10px; font-size:14px;}
	.content_div p:last-child{padding:0 0 15px;}
	.content_div{padding-bottom:0px;}
	.content_div h1 span, .content_div h3 span{font-weight:300; display:inline-block; line-height:30px;}
}