html, body{margin: 0px; padding: 0px; height:100%; color:rgba(0, 0, 0, 0.7);}

.wrapper {min-height:100%;position:relative; padding-top:0.01%;}
.header{}
.content{padding-bottom:540px; padding-top:20px;} /* Height of the footer element */
.footer{width:100%; height:auto; position:absolute; bottom:0;}

/* start of breadcrumb_list css */
ul.breadcrumb{padding:0; background:none; margin:0;}
ul.breadcrumb li{padding:0;}
ul.breadcrumb li a{padding:8px 5px; color:rgba(0, 0, 0, 0.5); font-size:12px; display:inline-block; transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
ul.breadcrumb li a:first-child{padding-left:0px;}
ul.breadcrumb li + li:before{color:rgba(0, 0, 0, 0.5); font-size:11px; position:relative; left:0px; padding:0}
ul.breadcrumb li a:hover{text-decoration:none; color:#4b6c99;}
ul.breadcrumb li a.active{color:#4b6c99;}

/* start filter tab css */
.filter_heading{padding:10px 10px 10px 0; border-width:1px 1px 1px 0; border-style:solid; border-color:rgba(0,0,0,0.1);}
.filter_heading h3{margin:0; position:relative; font-size:18px; font-weight:500;}
.filter_heading h3 span{position:absolute; right:0; bottom:0; font-size:12px; font-weight:400; text-transform:uppercase; color:#4b6c99; cursor:pointer;}
.filter_tab{border-right:1px solid rgba(0,0,0,0.1); padding:10px 0px 10px 0;}
.filter_tab .panel{box-shadow:none; border-bottom:1px solid rgba(0,0,0,0.1); border-right:0; margin-top:0; border-radius:0;}
.filter_tab .panel:last-child{border-bottom:0px;}
.filter_tab .panel .panel-heading{padding:0;}
.filter_tab .panel .panel-heading h4 a{padding:10px 15px 10px 0; display:block; color:rgba(0,0,0,0.9); font-size:15px; font-weight:400;}
.panel_open .panel-heading h4 a{pointer-events:none;}
.filter_tab .panel .panel-heading h4 a .fa{float:right; color:rgba(0, 0, 0, 0.4); font-size:22px;}
.panel_open .panel-heading h4 a .fa{display:none;}
.filter_tab .panel .panel-heading h4 a:hover, .filter_tab .panel .panel-heading h4 a:focus{text-decoration:none;}
.filter_tab .panel-collapse .panel-body{padding:0px 10px 5px 0; border-top:0 !important;}
.filter_tab .panel-collapse .panel-body .checkbox label{padding:0 0 3px; font-size:13px;}
.panel_open .collapse{display:block; height:100% !important;}

/* start of sticky div css */
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cd-filter {position: -webkit-sticky; position: sticky; top: 20px;}

/* start of select box */
.select_box button{border-radius:0px;}
.select_box button span.filter-option{font-size:13px;}
.select_box .btn-group.open .dropdown-toggle{box-shadow:none; background:none;}
.select_box .btn-group.open .dropdown-toggle:focus, .select_box .btn-group.open .dropdown-toggle:active{outline:none; background:none;}
.select_box .bootstrap-select .dropdown-toggle:focus{outline:none !important;}
.select_box button:hover, .select_box button:focus, .select_box button:active{background:none !important; box-shadow:none; outline:none;}
.select_box .dropdown-menu{box-shadow:0 1px 5px rgba(0, 0, 0, 0.2); border-radius:0px; margin:1px 0 0 0;}
.select_box .dropdown-menu ul li a{padding:5px 12px; font-size:14px; color:rgba(0,0,0,0.6);}
.select_box .dropdown-menu ul li a span.glyphicon{top:8px;}
.select_box .dropdown-menu ul li:first-child a{display:none !important;}
.select_box .dropdown-menu ul li a:focus{background:none;}

/* stat of list_headin part */
.list_heading_div{border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:4px 0 10px; margin-bottom:15px;}
.list_heading_div .col-sm-8 h1{margin:0; font-size:24px; padding-top:2px; color:rgba(0,0,0,0.8);}
.list_heading_div .col-sm-8 h1 span{font-size:15px;}

/* start of list_item css */
/*.thumbnail_image a img{width:100px;}*/
.thumbnail_content{padding:10px 5px; position:static; z-index:2;}
.thumbnail_name{padding-bottom:45px; margin:0; margin-top:0; font-weight:bold; z-index:2;}
.thumbnail_name a{color:rgba(0,0,0,0.8); font-size:16px; text-decoration:none;}
.thumbnail_price_div{padding:0 5px 10px; position:absolute; left:0; bottom:0; z-index:2;}
.thumbnail_price_div .thumbnail_border{border-top:1px solid #ccc; float:left; width:100%;}
.thumbnail_price{font-size:20px; color:#4b6c99; font-weight:bold; padding-top:2px; margin:0;}
.thumbnail_cart{text-align:right; margin-top:-1px;}
.item_border .thumbnail_image{margin:0; z-index:2; padding:10px 2px 0;}
.item_border{float:left; width:100%; border:1px solid transparent; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.item_border:hover .thumbnail_content{transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}

/* start border animation effect css */
.item_border:before, .item_border:after{box-sizing:inherit; content:""; position:absolute; width:100%; height:100%; left:0; z-index:1;}
.border_center:before, .border_center:after{top:0; bottom:0; width:100%; height:100%; transform-origin:center;}
.border_center:before{border-top:1px solid #4b6c99; border-bottom:1px solid #4b6c99; transform:scale3d(0,1,1);}
.border_center:after{border-left:1px solid #4b6c99; border-right:1px solid #4b6c99; transform:scale3d(1,0,1);}
.border_center:hover:before, .border_center:hover:after{transform:scale3d(1,1,1); transition: transform 0.5s;}
/* end border animation effect css */

/* start of pagination css */
ul.pagination_div li a{background:rgba(0,0,0,0.05); color:rgba(0,0,0,0.6); font-size:16px; padding:6px 15px; cursor:pointer; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
ul.pagination_div li.active a, ul.pagination_div li.active a:hover{cursor:default; background:#4b6c99; border-color:#4b6c99; color:#fff;}
ul.pagination_div li a:hover, ul.pagination_div li a:focus{background:#4b6c99; border-color:#4b6c99; color:#fff;}
ul.pagination_div li.disabled a{cursor:not-allowed;}

/* start of list_banner */
.list_banner p{display:block; width:100%; height:200px; overflow:hidden; position:relative; margin-bottom:20px;}
.list_banner p img{position:absolute; left:-99999px; right:-99999px; top:-99999px; bottom:-99999px; margin:auto; width:auto; min-width:100%; min-height:100%; height:auto;}
.btn_cross{background:none; box-shadow:none; border:none; position:absolute; right:1px; top:8px; z-index:1;}
.btn_cross .icon-bar{height:1px; width:20px; background:#000000; display:block; position:relative;}
.btn_cross .icon-bar:first-child{transform:rotate(45deg);}
.btn_cross .icon-bar:last-child{transform:rotate(-45deg); top:-1px;}
.btn_cross:hover, .btn_cross:active, .btn_cross:focus{outline:none; box-shadow:none; background:none;}

/* start of list_content css */
.list_content{float:left; width:100%; position:relative; padding:0 0 15px;}
.list_content:last-child{padding:0;}
.list_content h4{font-size:15px; margin:0; padding-bottom:5px; font-weight:bold; color:rgba(0,0,0,0.6);}
.list_content p{line-height:22px; margin:0; color:rgba(0,0,0,0.6);}

/* start of brand slider css*/
.brand_slider{margin-bottom:15px; padding:0;}
.brand_slider .item .thumb_div{margin-bottom:0;}
.brand_slider .item .thumb_div a img{width:70px;}
.brand_slider .item .thumb_div .ca-content .ca-main{padding:0;}
.brand_slider .item .thumb_div .ca-content .ca-main a{font-size:12px; color:rgba(0,0,0,0.8); font-weight:400;}
.brand_slider p{text-align:center; margin-bottom:15px;}
.brand_slider p span{border-bottom:1px solid #4b6c99; font-size:16px; color:#4b6c99; font-weight:500;}
.brand_slider ul.lSPager{display:none;}
.brand_slider .item .thumb_div span.ca-icon a{display:inline-block;}
.brand_slider .item.active .thumb_div span.ca-icon a{border:2px solid #4b6c99;}
.brand_slider .item.active .thumb_div .ca-content h2 a{color:#4b6c99;}

/* start of gender_button css */
.gender_div{padding:0; margin-bottom:8px; /*border-bottom:1px solid rgba(0,0,0,0.1); text-align:center;*/}
.gender_div ul{display:inline-block; margin:-1px auto 0 !important; float:right; border:1px solid #ccc;}
.gender_div ul li{padding:0; position:relative; float:left;}
.gender_div ul li + li:before{content:"|"; font-size:14px; position:absolute; left:-3px; top:3px; color:#ccc;}
.gender_div ul li a{/*border-bottom:1px solid #ccc;*/ text-decoration:none; font-weight:500; display:inline-block; padding:5px 15px; margin-right:0; font-size:12px; color:#636363; border-radius:0; background:none; transition:all ease 0.5s; -webkit-transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s;}
.gender_div ul li a:hover, .gender_div ul li a:focus, .gender_div ul li a:active{color:#4b6c99;}
.gender_div ul li a.active{color:#4b6c99; box-shadow:none;}


/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
	.thumbnail_price{padding-top:5px; font-size:16px;}
	/*.thumbnail_image a img{width:70px;}*/
}

@media (min-width:992px) and (max-width:1200px) {
	.thumbnail_price{padding-top:5px; font-size:16px;}
}

@media (max-width:767px){
	.filter_tab{border:0px; padding:0;}
	.panel_open .panel-heading h4 a{pointer-events:auto;}
	.panel_open .panel-heading h4 a .fa{display:block;}
	.filter_heading{border-width:0 0 1px; padding:10px 70px 10px 15px; position:fixed; top:0; left:0; z-index:99999;}
	.panel_open .collapse{display:none; height:auto !important;}
	.panel_open .collapse.in{display:block;}
	.cd-filter {position: -webkit-fixed; position: fixed; top: 0px;}
	.select_box{position:fixed; bottom:0; right:0; width:50%; background:#fff; z-index:999; box-shadow:2px -3px 5px rgba(0, 0, 0, 0.3);}
	.select_box .show-tick{height:auto;}
	.select_box .show-tick button{border:none; padding:10px 12px; font-size:18px; transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
	.select_box .show-tick button:hover{color:#4b6c99;}
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}

	.item_border{margin-bottom:20px; padding:0 1px;}
	/*.thumbnail_image a img{width:70px;}*/
	.thumbnail_name{text-align:center; padding-bottom:85px;}
	.thumbnail_price{margin-bottom:5px; text-align:center; padding-top:5px;}
	.thumbnail_cart{text-align:center;}

	ul.pagination_div li a{margin-left:15px; border-radius:4px;}

	/* start of list_banner */
	.list_banner p{height:60px;}

		/* start of brand slider css*/
	.brand_slider .item .thumb_div a img{width:100%;}
	.brand_slider .item .thumb_div.ca-content .ca-main a{font-size:11px;}
	.brand_slider ul.lSPager{display:block; margin:0;}
	.brand_slider .lSAction{display:none !important;}

	.xs_list_margin{margin-top:0;}

	/* start list_heading */
	.list_heading_div .col-sm-8 h1{font-size:18px;}
	.list_heading_div .col-sm-8 h1 span{font-size:10px;}
	.list_heading_div{margin-bottom:0;}

	.mrp_text small{font-size:8px;}

	/* start of breadcrumb_list css */
	ul.breadcrumb li a{padding:4px 2px; font-size:10px;}

}
