/* start of middle_part css */

/* start of top part css */
.index_2_div{padding-top:0;}
.scent_shot_div{position:relative; padding:0;}
.scent_shot_div img{width:100%;}

/* banner_button css */
.banner_btn{position:absolute; left:0; bottom:60px; z-index:1; text-align:center; width:100%;}
.banner_btn a:nth-child(1){font-size:65px; color:#ffffff; margin:0 0 8px 0; line-height:30px; display:block; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.banner_btn a:nth-child(1):hover{color:#fcd603;}
.banner_btn a:nth-child(2){height:40px; line-height:40px; background:#fcd603; font-size:20px; color:#000000;}
.banner_btn a:nth-child(2):hover{color:#ffffff;}

/* start of design_specs css */
.gradient_div{padding:80px 15px; background:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,0.4));}
.gradient_div .main_heading, .gradient_div .beauty_heading{padding-bottom:30px;}
/* start carousel_list css */
.carousel_images{padding:0 10px 0 0;}
.carousel_images .item .thumbnail_div{display:flex; align-items:center; justify-content:center; padding:0; width:100%; float:left;}
.carousel_images .item img{width:600px;}
.carousel_content{padding:0 0 0 10px;}
.carousel_content h3{color:#28373f; font-size:36px; line-height:1.5; margin:0; padding-bottom:20px; font-weight:300;}
.carousel_content h5{color:rgba(0,0,0,0.7); font-size:18px; margin:0; padding-bottom:10px; line-height:24px; font-weight:300;}
.carousel_content h5 b{font-weight:500; font-size:20px; color:rgba(0,0,0,0.9);}
.carousel_content p{color:rgba(0,0,0,0.7); font-size:15px; margin:0; padding-bottom:15px; font-style:italic;}
.carousel_content p:last-child{font-style:normal;}
.carousel_list{padding:0; margin-top:20px; border-top:1px solid #ccc;}
.carousel_list ul{text-align:center; margin:0; overflow:hidden; display:flex; align-items:center; justify-content:center; padding-bottom:30px;}
.carousel_list ul li{position:relative; box-shadow:inset 0px -2px 0px #ddd; padding:10px 5px 10px; cursor:pointer;}
.carousel_list ul li:nth-child(2):before{content:"Male"; position:absolute; bottom:-25px; transform:translateX(-50%); left:50%; color:rgba(0,0,0,0.7); font-weight:300; font-size:16px;}
.carousel_list ul li:nth-child(5):before{content:"Female"; position:absolute; bottom:-25px; transform:translateX(-50%); left:50%; color:rgba(0,0,0,0.7); font-weight:300; font-size:16px;}
.carousel_list ul li:nth-child(4){margin-left:20px;}
.carousel_list ul li img, .carousel_1_list ul li img{width:60px;}
.carousel_list ul li:after, .carousel_1_list ul li:after{content:""; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:20px; height:20px; border-radius:50%; background:#fff; box-shadow:inset 1px 1px 5px rgba(0,0,0,0.8); opacity:0; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.carousel_list ul li.active:after, .carousel_1_list ul li.active:after{opacity:1;}
.carousel-fade .carousel-inner .item {opacity: 0; transition-property: opacity;}
.carousel-fade .carousel-inner .active {opacity: 1;}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {opacity: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {opacity: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
}

/* start of beautifully_crafted css */
.beauty_div{display:flex; align-items:center; justify-content:center;}
.beauty_heading_div{padding-left:100px;}
.beauty_heading h3{margin:0;}
.beauty_heading h3 span{font-size:28px; margin:0 0 20px 0; padding:0 15px 10px 0; border-bottom:1px solid #ddd; color:#28373f; font-weight:500; display:inline-block;}
.beauty_heading h4{margin:10px 0 5px; color:#28373f; font-weight:500; font-size:22px;}
.beauty_heading h4:nth-child(3){margin-top:30px;}
.beauty_heading p{margin:0 0 10px; color:#28373f; font-size:18px; line-height:30px; font-weight:300;}
.beauty_heading p:last-child{padding-bottom:0;}
.beauty_heading p i{font-size:16px; padding-right:2px;}

/* start of our_brands css */
.our_brands_div .item .thumb_div p{margin:0; height:150px; cursor:pointer; opacity:0.6; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.our_brands_div .item .thumb_div p img{width:130px; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.our_brands_div .item .thumb_div p:hover{opacity:1;}
.our_brands_div .item .thumb_div p:hover img{width:150px;}
.our_brands_div .lSSlideOuter ul.lSPager{display:none;}

/* start of stylish carry case css */
.carousel_1_list{padding:0;}
.carousel_1_list ul li{padding:10px 0px 10px; position:relative; box-shadow:inset -1px 0px 0px #ddd; cursor:pointer;}
.carousel_1_list ul li:nth-child(2):before{content:"Male"; position:absolute; top:0px; right:-25px; color:rgba(0,0,0,0.7); font-weight:300; font-size:16px; writing-mode:vertical-rl; -webkit-writing-mode:vertical-rl; text-orientation:upright; -webkit-text-orientation:upright;}
.carousel_1_list ul li:nth-child(5):before{content:"Female"; position:absolute; top:0px; transform:translateY(-16%); right:-25px; color:rgba(0,0,0,0.7); font-weight:300; font-size:16px; writing-mode:vertical-rl; -webkit-writing-mode:vertical-rl; text-orientation:upright; -webkit-text-orientation:upright;}
.carousel_1_list ul li:nth-child(4){margin-top:20px;}
.carry_content{position:absolute; right:10%; top:50%; transform:translateY(-80%);}
.carry_content h4{font-size:20px; color:#28373f; margin:0; line-height:2.2;}

/* start of thumbnail css */
.brand_slider{padding:20px 0px;}
.brand_slider .thumb_div{width:100%; float:left; position:relative; box-shadow:0px 0px 2px rgba(0,0,0,0.1); margin-bottom:15px; padding:0 0 20px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.brand_slider .thumb_div:hover{box-shadow:1px 1px 13.5px rgba(0,0,0,0.2);}
h2.rproduct_name{float:left; width:100%; text-align:center; margin:0; padding:0px 10px;}
h2.rproduct_name a{font-size:16px; color:#554740; text-transform:capitalize; display:block; text-decoration:none; font-weight:500;}
h2.rproduct_name span{font-size:13px; color:rgba(0,0,0,0.7); display:block; font-weight:300; padding-top:10px;}
p.product_image{float:left; width:100%; padding:0; margin:0; position:relative;}
p.product_image a{display:block; width:100%;}
p.product_image a img{width:100%;}
.product_content{float:left; width:100%; position:relative; padding:20px 0 0;}
.brand_slider .lSSlideOuter ul.lSPager{display:none;}

/* start of banner-slider */
.transition-timer-carousel .carousel-indicators {bottom: 0px;}
.transition-timer-carousel .carousel-indicators li {background-color:rgba(0, 0, 0, 0.3);}
.transition-timer-carousel .carousel-indicators li.active {background-color:#ed1b62;}
.transition-timer-carousel .carousel-control {z-index: 11; background-image:none; width:5%; opacity:1;}
.transition-timer-carousel .carousel-control span.glyphicon{position:absolute; top:50%; font-size:50px; color:#e4e3e3; text-shadow:none; left:50%; transform:translateX(-50%); transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.transition-timer-carousel .carousel-control:hover span {color:#3b3b3b;}
.banner_div{padding:0;}
.banner_div .carousel-inner .item img{width:100%;}

/* start of design_smart css */
.smart_div{border-left:1px solid #ddd;}

/* start of on scroll animation css */
.os-animation{opacity: 1;}
.os-animation.animated{opacity: 1;}


/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
}

@media (min-width:992px) and (max-width:1200px) {
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	/* start of top part css */
	.index_2_div{padding-top:0;}
	/* banner_button css */
	.banner_btn{bottom:auto; top:38%;}
	.banner_btn a:nth-child(1){font-size:58px;}
	.banner_btn a:nth-child(2){height:36px; line-height:36px; font-size:18px;}
	
	/* start of design_specs css */
	.gradient_div{padding:25px 0px 25px;}
	.gradient_div:last-child{padding:50px 0px 50px;}
	.gradient_div .main_heading{padding-bottom:10px;}
	.gradient_div .beauty_heading{padding-top:20px;}
	.beauty_heading_div{padding-left:0;}
	/* start carousel_list css */
	.carousel_images{padding:0;}
	.carousel_list ul li{padding:10px 3px 10px; box-shadow:inset 0px -1px 0px #ddd;}
	.carousel_list ul li:nth-child(2):before, .carousel_list ul li:nth-child(5):before{bottom:-20px; font-size:14px;}
	.carousel_list ul li img, .carousel_1_list ul li img{width:40px;}
	.carousel_list ul li:after, .carousel_1_list ul li:after{height:15px; width:15px;}
	.carousel_list ul li:nth-child(4):before{font-size:35px;}
	
	/* start of beautifully_crafted css */
	.beauty_div{display:block;}
	.beauty_heading_div .beauty_heading_content{padding:15px 0 0 0px; border-left:0; border-top:1px solid #ddd;}
	.beauty_heading p{text-align:center; font-size:15px; line-height:normal; padding-bottom:15px; margin:0;}
	.beauty_heading p:before{display:none;}
	.beauty_heading h3{text-align:center;}
	.beauty_heading h3 span{font-size:24px; padding:0px 10px 10px 10px;}
	.beauty_heading h4{margin:10px 0 5px; font-size:18px; text-align:center;}
	.beauty_heading h4:nth-child(3){margin-top:20px;}
	
	/* start of our_brands css */
	.our_brands_div .item .thumb_div p{height:auto;}
	.our_brands_div .item .thumb_div p:hover img{width:130px;}
	.our_brands_div .lSSlideOuter .lSAction > a{display:none;}
	
	/* start of stylish carry case css */
	.carousel_1_list{padding:0;}
	.carousel_1_list ul{text-align:center; margin-bottom:30px; display:flex; align-items:center; justify-content:center;}
	.carousel_1_list ul li{margin-bottom:0px; display:inline-block; padding:10px 3px; box-shadow:inset 0px -1px 0px #ddd;}
	.carousel_1_list ul li:nth-child(4){margin-top:0; margin-left:20px;}
	.carousel_1_list ul li:nth-child(2):before, .carousel_1_list ul li:nth-child(5):before{top:auto; right:auto; bottom:-20px; left:50%; transform:translateX(-50%); font-size:14px; writing-mode:horizontal-tb;}
	
	/* start thumbnail css */
	.brand_slider{padding:15px 0;}
	.brand_slider .row-flex-wrap{margin-top:0;}
	.brand_slider .row-flex > div[class*="col-"]{padding:1px 0px;}
	.brand_slider .lSSlideOuter .lSAction > a{display:none;}
	.product_content{padding:20px 0 0;}
	p.product_image a img{width:100%;}
	
	/* start of design_smart css */
	.smart_div{border-left:0; border-top:1px solid #ddd; margin-top:80px; padding-top:90px;}
	
	/* start of banner-slider */
	.transition-timer-carousel .carousel-control {width:8%;}
	.transition-timer-carousel .carousel-control span.glyphicon{font-size:20px;}
}