	<div class="content index_2_div">
    
		<section id="sect1" class="container-fluid scent_shot_div">
			<img src="assets/images/scent_shot/main_desktop.jpg" alt="Scent Shot" class="img-responsive center-block hidden-xs">
        	<img src="assets/images/scent_shot/main_mobile.jpg" alt="Scent Shot" class="img-responsive center-block visible-xs">

			<div class="os-animation banner_btn" [@sect1FadeInUp]="1">
            	<a href="https://www.youtube.com/watch?v=pUideDh8pj8" target="_blank">
                    <i class="fa fa-youtube-play"></i>
                </a>
                <a class="btn from-left cart_btn" routerLink="/scent-shot/scent-shot-perfumes">Shop Now</a>
            </div>

			<!--div class="shop_now_btn">
				<a class="btn from-left cart_btn" routerLink="/scent-shot/scent-shot-perfumes">Shop Now</a>
			</div-->		
        </section>
			
        <!--section id="sect1" class="container-fluid scent_shot_div">
			<div class="col-xs-12 scent_shot_bg hidden-xs" style="background:url(assets/images/scent_shot/main_desktop.jpg) no-repeat;"></div>
			<div class="col-xs-12 scent_shot_bg visible-xs" style="background:url(assets/images/scent_shot/main_mobile.jpg) no-repeat;"></div>
        	<div class="container">
            	<div class="row">
                    <div class="col-sm-12 col-xs-12 scent_shot_content">
                    	<h1 [@sect1FadeInDown]="1">Scent Shot</h1>
                        <h4 [@sect1FadeIn]="1">Reinvent your perfume</h4>
                        <div class="margin-md-bottom">
                        	<a routerLink="/scent-shot/scent-shot-perfumes" class="btn from-left cart_btn">Shop Now</a>
                        </div>
                        <p [@sect1FadeInUp]="1">
                        	<a href="https://youtu.be/EDFozz8__qA" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </section-->
    
        <section id="sect2" class="container-fluid gradient_div"><!-- start of Crafted_Perfection -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Crafted Perfection
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            Designed to match your style
                        </p>
                    </div><!-- end of heading_part -->
                    
                    <div id="myCarousel" class="carousel slide carousel-fade col-xs-12 xs-no-padding" data-ride="carousel" data-interval="false"><!-- start of selfie_slider -->
                        
                        <div class="col-sm-12 col-xs-12 carousel_img_cont"><!-- start of carousel_img_cont -->
                            <div class="col-md-12 col-sm-12 col-xs-12 carousel_images"><!-- start Carousel images -->
                                <div class="carousel-inner">
                                    <div class="item" [ngClass]="{active:sect2ItemActive==0}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/manhattan.png" alt="Manhattan" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Manhattan</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                    
                                    <div class="item" [ngClass]="{active:sect2ItemActive==1}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/signature.png" alt="Signature" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Signature</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                    
                                    <div class="item" [ngClass]="{active:sect2ItemActive==2}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/drifter.png" alt="Drifter" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Drifter</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                    
                                    <div class="item" [ngClass]="{active:sect2ItemActive==3}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/malibu.png" alt="Malibu" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Malibu</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                    
                                    <div class="item" [ngClass]="{active:sect2ItemActive==4}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/voodoo.png" alt="Voodoo" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Voodoo</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                    
                                    <div class="item" [ngClass]="{active:sect2ItemActive==5}"><!-- start of item -->
                                    	<div class="thumbnail_div"><!-- start of thumbnail_div -->
                                        
                                            <div class="col-md-9 col-sm-8 col-xs-12 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of image_div -->
                                                <img src="assets/images/scent_shot/design_specs/blush.png" alt="Blush" class="img-responsive center-block">
                                            </div><!-- end of image_div -->
                                            
                                            <div class="col-md-3 col-sm-4 hidden-xs carousel_content"><!-- start of carousel_content -->
                                                <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                                    Curated to be <br>your personal <br>perfume vanity.
                                                </h3>
                                                <h5 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.5s">
                                                    Variant Name : <b>Blush</b>
                                                </h5>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                                                    7 perfumes in one Scent Shot Box
                                                </p>
                                                <p class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                                </p>
                                            </div><!-- end of carousel_content -->
                                            
                                        </div><!-- end of thumbnail_div -->
                                    </div><!-- End Item -->
                                </div>
                            </div><!-- end Carousel images -->
                        </div><!-- end of carousel_img_cont -->
                
                        <div class="col-md-12 col-sm-12 col-xs-12 carousel_list"><!-- end Carousel thumbnail -->
                            <ul class="list-group list-unstyled list-inline">
                                <li (click)="setSectTwoClass(0);" [ngClass]="{active:sect2ItemActive==0}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s" data-target="#myCarousel_23323" data-slide-to="0">
								
									<img src="assets/images/scent_shot/design_specs/icon/manhattan.png" alt="Manhattan" class="img-responsive img-circle">
								
                                </li>
                                <li (click)="setSectTwoClass(1);" [ngClass]="{active:sect2ItemActive==1}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s" data-target="#myCarousel_23323" data-slide-to="1" class="os-animation">
								
									<img src="assets/images/scent_shot/design_specs/icon/signature.png" alt="Signature" class="img-responsive img-circle">
								
                                </li>
                                <li (click)="setSectTwoClass(2);" [ngClass]="{active:sect2ItemActive==2}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s" data-target="#myCarousel_23323" data-slide-to="2">
								
									<img src="assets/images/scent_shot/design_specs/icon/drifter.png" alt="Drifter" class="img-responsive img-circle">
								
                                </li>
                                <li (click)="setSectTwoClass(3);" [ngClass]="{active:sect2ItemActive==3}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" data-target="#myCarousel_23323" data-slide-to="3">
								
									<img src="assets/images/scent_shot/design_specs/icon/malibu.png" alt="Malibu" class="img-responsive img-circle">
								
                                </li>
                                <li (click)="setSectTwoClass(4);" [ngClass]="{active:sect2ItemActive==4}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" data-target="#myCarousel_23323" data-slide-to="4">
								
									<img src="assets/images/scent_shot/design_specs/icon/voodoo.png" alt="Voodoo" class="img-responsive img-circle">
								
                                </li>
                                <li (click)="setSectTwoClass(5);" [ngClass]="{active:sect2ItemActive==5}" class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" data-target="#myCarousel_23323" data-slide-to="5">
								
									<img src="assets/images/scent_shot/design_specs/icon/blush.png" alt="Blush" class="img-responsive img-circle">
								
                                </li>
                            </ul>
                        </div><!-- end Carousel thumbnail -->
						
						<div class="col-sm-12 col-xs-12 no-padding visible-xs text-center margin-md-top"><!-- start of mobile_shop button -->
                            <p class="os-animation animated fadeInDown" data-os-animation="fadeInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                                <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                            </p>                        
                        </div>
                    
                    </div><!-- end of selfie_slider -->
                    
                </div>
            </div>
        </section><!-- end of Crafted_Perfection -->
    
        <section id="sect3" class="container-fluid gradient_div"><!-- start of starter_kit -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                What's  in the starter Kit
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            Revolutionize your perfume
                        </p>
                    </div><!-- end of heading_part -->
                
                    <div class="col-sm-12 col-xs-12 beauty_div"><!-- start of beauty_main_div -->                        
                        <div class="col-sm-7 col-xs-12 xs-no-padding os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of slider -->
                            <img src="assets/images/scent_shot/starter_set.png" class="img-responsive center-block" alt="Starter Set">
                        </div><!-- end of slider -->
                        
                        <div class="col-sm-5 col-xs-12 beauty_heading beauty_heading_div xs-no-padding"><!-- start of heading_part -->
                        	<div class="beauty_heading_content">
								<h3 class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                	<span>Here's What's In It</span>
                                </h3>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Scent Shot Box
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Scent Shot carry case
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    7 international perfumes
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    1 voucher worth <i class="fa fa-rupee"></i>501
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    3  vouchers worth <i class="fa fa-rupee"></i>100 each
                                </p>
								<p class="os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0s" style="animation-delay: 0s;"><!-- start of mobile_shop button -->
                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                </p>
                            </div>
                        </div><!-- end of heading_part -->
                    </div><!-- end of beauty_main_div -->
                    
                </div>
            </div>
        </section><!-- end of starter_kit -->
    
        <section id="sect4" class="container-fluid gradient_div"><!-- start of bullets -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Bullets
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            Beautifully Crafted
                        </p>
                    </div><!-- end of heading_part -->
                    
                    <div class="col-sm-12 col-xs-12 beauty_div"><!-- start of beauty_main_div -->                        
                        <div class="col-sm-7 col-xs-12 xs-no-padding os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of slider -->
                            <img src="assets/images/scent_shot/bullets.png" class="img-responsive center-block" alt="Bullets">
                        </div><!-- end of slider -->
                        
                        <div class="col-sm-5 col-xs-12 beauty_heading beauty_heading_div xs-no-padding"><!-- start of heading_part -->
                        	<div class="beauty_heading_content">
								<h3 class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                	<span>Unique, Just like you</span>
                                </h3>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    7 Luxury Fragrances
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    5ML Perfume Each
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Handcrafted Bullet Shaped Vials
                                </p>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Silicone sealant to prevent spillage.
                                </p>
								<p class="os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0s" style="animation-delay: 0s;"><!-- start of mobile_shop button -->
                                    <a [routerLink]="['/scent-shot/scent-shot-perfumes']" class="btn from-left cart_btn">Shop Now</a>
                                </p>
                            </div>
                        </div><!-- end of heading_part -->
                    </div><!-- end of beauty_main_div -->
                    
                </div>
            </div>
        </section><!-- end of bullets -->
        
        <section id="sect5" class="container-fluid banner_div"><!-- start of banner -->            
            <!-- The carousel -->
            <div class="carousel slide transition-timer-carousel">  
			
                <ngu-carousel [inputs]="nguSlider5" (initData)="initDataSlider5Fn($event)" [dataSource]="nguSliderDataSource5" class="carousel-inner">
                    <ngu-item NguCarouselItem *nguCarouselDef="let item;">
                        <img [src]="item.image.desktop" class="img-responsive hidden-xs" [alt]="item.alt" />
                        <img [src]="item.image.mobile" class="img-responsive visible-xs" [alt]="item.alt" />
                    </ngu-item>
					<button NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"></i></button>
					<button NguCarouselNext class="rightRs"><i class="fa fa-angle-right"></i></button>
                </ngu-carousel>
    
            </div>
        </section><!-- end of banner -->
    
        <section id="sect6" class="container-fluid gradient_div"><!-- start of carry_case -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Stylish Carry Case
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            An accessory, you can’t miss
                        </p>
                    </div><!-- end of heading_part -->
                    
                    <div id="myCarousel_1" class="carousel slide carousel-fade col-xs-12 xs-no-padding" data-ride="carousel" data-interval="false"><!-- start of selfie_slider -->
                
                        <div class="col-md-1 col-sm-2 col-xs-12 carousel_1_list"><!-- end Carousel thumbnail -->
                            <ul class="list-group list-unstyled">
                                <li (click)="setSectSixClass(0)" [ngClass]="{active:sect6ItemActive==0}" data-target="#myCarousel_1" data-slide-to="0" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Manhattan.png" alt="PerfumeCase Manhattan" class="img-responsive center-block">
                                
                                </li>
                                <li (click)="setSectSixClass(1)" [ngClass]="{active:sect6ItemActive==1}" data-target="#myCarousel_1" data-slide-to="1" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Signature.png" alt="PerfumeCase Signature" class="img-responsive center-block">
                                
                                </li>
                                <li (click)="setSectSixClass(2)" [ngClass]="{active:sect6ItemActive==2}" data-target="#myCarousel_1" data-slide-to="2" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.3s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Drifter.png" alt="PerfumeCase Drifter" class="img-responsive center-block">
                                
                                </li>
                                <li (click)="setSectSixClass(3)" [ngClass]="{active:sect6ItemActive==3}" data-target="#myCarousel_1" data-slide-to="3" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.6s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Blush.png" alt="PerfumeCase Blush" class="img-responsive center-block">
                                
                                </li>
                                <li (click)="setSectSixClass(4)" [ngClass]="{active:sect6ItemActive==4}" data-target="#myCarousel_1" data-slide-to="4" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.9s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Voodoo.png" alt="PerfumeCase Voodoo" class="img-responsive center-block">
                                
                                </li>
                                <li (click)="setSectSixClass(5)" [ngClass]="{active:sect6ItemActive==5}" data-target="#myCarousel_1" data-slide-to="5" class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.2s">
                                
                                        <img src="assets/images/scent_shot/carry_case/icons/PerfumeCase_Malibu.png" alt="PerfumeCase Malibu" class="img-responsive center-block">
                                
                                </li>
                            </ul>
                        </div><!-- end Carousel thumbnail -->
                        
                        <div class="col-md-11 col-sm-10 col-xs-12 carousel_images"><!-- start Carousel images -->
                            <div class="carousel-inner os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s"><!-- start of carousel -->
                                <div class="item" [ngClass]="{active:sect6ItemActive==0}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Manhattan.png" alt="PerfumeCase Manhattan" class="img-responsive center-block">
                                </div><!-- End Item -->
                            
                                <div class="item" [ngClass]="{active:sect6ItemActive==1}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Signature.png" alt="PerfumeCase Signature" class="img-responsive center-block">
                                </div><!-- End Item -->
                            
                                <div class="item" [ngClass]="{active:sect6ItemActive==2}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Drifter.png" alt="PerfumeCase Drifter" class="img-responsive center-block">
                                </div><!-- End Item -->
                            
                                <div class="item" [ngClass]="{active:sect6ItemActive==3}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Blush.png" alt="PerfumeCase Blush" class="img-responsive center-block">
                                </div><!-- End Item -->
                            
                                <div class="item" [ngClass]="{active:sect6ItemActive==4}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Voodoo.png" alt="PerfumeCase Voodoo" class="img-responsive center-block">
                                </div><!-- End Item -->
                            
                                <div class="item" [ngClass]="{active:sect6ItemActive==5}">
                                    <img src="assets/images/scent_shot/carry_case/PerfumeCase_Malibu.png" alt="PerfumeCase Malibu" class="img-responsive center-block">
                                </div><!-- End Item -->
                            </div><!-- end of carousel -->
                            
                            <div class="carry_content hidden-xs"><!-- start of carry_content -->
                            	<h4 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s">
                                	<b>Bold Ergonomically</b> <br>Designed Case Available <br>In <b>6 Attractive Colours.</b>
                                </h4>
                            </div><!-- end of carry_content -->
                        </div><!-- end Carousel images -->
                    
                    </div><!-- end of selfie_slider -->
                    
                </div>
            </div>
        </section><!-- end of carry_case -->
    
        <section id="sect7" class="container-fluid gradient_div"><!-- start of use_smart -->
        	<div class="container">
            	<div class="row">
                
                	<div class="col-sm-6 col-xs-12"><!-- start of setup_use -->
                
                        <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                            <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                <span>
                                    Setup &amp; Use
                                    <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                                </span>
                            </h3>
                            <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                On-the-go freshness
                            </p>
                        </div><!-- end of heading_part -->
                        
                        <div class="col-sm-12 col-xs-12 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s"><!-- start of image -->
                            <img src="assets/images/scent_shot/stup_use.png" class="img-responsive center-block" alt="Stup Use">
                        </div><!-- end of image -->
                    
                    </div><!-- end of setup_use -->
                
                	<div class="col-sm-6 col-xs-12 smart_div"><!-- start of designed_smart -->
                
                        <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                            <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                                <span>
                                    Designed Smart
                                    <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                                </span>
                            </h3>
                            <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                To make life seamless.
                            </p>
                        </div><!-- end of heading_part -->
                        
                        <div class="col-sm-12 col-xs-12 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s"><!-- start of image -->
                            <img src="assets/images/scent_shot/design_smart.png" class="img-responsive center-block" alt="Design Smart">
                        </div><!-- end of image -->
                    
                    </div><!-- end of designed_smart -->
                    
                </div>
            </div>
        </section><!-- end of use_smart -->
    
        <section id="sect8" class="container-fluid gradient_div"><!-- start of Come once, Come Again -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Re-Fill Scent Shot
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            Upgrade your Scent Shot game
                        </p>
                    </div><!-- end of heading_part -->
                
                    <div class="col-sm-12 col-xs-12 beauty_div"><!-- start of beauty_main_div -->                        
                        <div class="col-sm-7 col-xs-12 xs-no-padding os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s"><!-- start of slider -->
                            <img src="assets/images/scent_shot/vial-or-perfume.png" class="img-responsive center-block" alt="Vial Or Perfume">
                        </div><!-- end of slider -->
                        
                        <div class="col-sm-5 col-xs-12 beauty_heading beauty_heading_div xs-no-padding"><!-- start of heading_part -->
                        	<div class="beauty_heading_content">
                                <h4 class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                	Loved a Scent Shot perfume?
                                </h4>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Buy the full size perfume bottle using <i class="fa fa-rupee"></i>501 voucher
                                </p>
                            	<h4 class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                	Refill your Scent Shot box
                                </h4>
                                <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    Buy Scent Shot refill pack using <i class="fa fa-rupee"></i>100 voucher
                                </p>
								<p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                    <a [routerLink]="['/scent-shot/refills']" class="btn from-left cart_btn">Buy Re-fill &amp; Perfumes</a>
                                </p>
                            </div>
                        </div><!-- end of heading_part -->
                    </div><!-- end of beauty_main_div -->
                    
                </div>
            </div>
        </section><!-- end of Come once, Come Again -->
    
        <section id="sect9" class="container-fluid gradient_div"><!-- start of our_products -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Full Size Perfumes
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            Your signature perfume waits
                        </p>
                    </div><!-- end of heading_part -->
                    
                    <div class="col-sm-12 col-xs-12 no-padding brand_slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s"><!-- start of slider -->
                        <div class="content-slider ca-menu touch_slider_2 row-flex row-flex-wrap"><!-- start of slider -->
                        <ngu-carousel [inputs]="nguSlider9" [dataSource]="nguSliderDataSource9" class="col-xs-12">                    
                            <ngu-item NguCarouselItem *nguCarouselDef ="let item;">
                                <div class="thumb_div">
                                    <p class="product_image">
                                        <a [routerLink]="[item.link]"><img [src]="item.image" [alt]="item.alt" class="img-responsive center-block"></a>
                                    </p>                                    
                                    <div class="product_content">
                                        <h2 class="rproduct_name"><a [routerLink]="[item.link]">{{item.title}}</a></h2>
                                    </div>
                                </div>
                            </ngu-item>
                            
							<button NguCarouselPrev class='leftRs hidden-xs'><i class="fa fa-angle-left"></i></button>
							<button NguCarouselNext class='rightRs hidden-xs'><i class="fa fa-angle-right"></i></button>
                        </ngu-carousel>   
                        </div><!-- end of slider -->
                    </div><!-- end of slider -->
                    
                </div>
            </div>
        </section><!-- end of our_products -->
    
        <section id="sect10" class="container-fluid gradient_div"><!-- start of our_brands -->
        	<div class="container">
            	<div class="row">
                
                    <div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
                        <h3 class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <span>
                                Popular Brands
                                <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                            </span>
                        </h3>
                        <p class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            All the brands you want
                        </p>
                    </div><!-- end of heading_part -->
                    
                    <div class="col-sm-12 col-xs-12 xs-no-padding our_brands_div os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s"><!-- start of slider -->
                        <div class="content-slider ca-menu touch_slider_1 row-flex row-flex-wrap"><!-- start of slider -->
                        <ngu-carousel [inputs]="nguSlider10" [dataSource]="nguSliderDataSource10" class="brnd_slider">    
                            <ngu-item NguCarouselItem *nguCarouselDef="let item;">
                                <div class="thumb_div">
                                    <p>
                                    	<a [routerLink]="[item.link]">
											<img [src]="item.image" class="img-responsive center-block" [alt]="item.alt">
										</a>
                                    </p>
                                </div>
                            </ngu-item>                            
							<button NguCarouselPrev class='leftRs hidden-xs'><i class="fa fa-angle-left"></i></button>
							<button NguCarouselNext class='rightRs hidden-xs'><i class="fa fa-angle-right"></i></button>
						</ngu-carousel>                            
                        </div><!-- end of slider -->
                    </div><!-- end of slider -->
                    
                </div>
            </div>
        </section><!-- end of our_brands -->
    </div>