    <section class="container-fluid content"><!-- start of middle_part -->
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top xs-no-padding"><!-- start of heading_part -->
                    <h3>
                        <span>
                            About Us
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
						<ul [hidden]="1" itemscope itemtype="http://schema.org/BreadcrumbList">	
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemprop="item" routerLink="/about-us"><span itemprop="name">About Us</span></a>
								<meta itemprop="position" content="1" />
                            </li>
						</ul>
                    </h3>
                    <p>
                        Be a part of our fragrant world
                    </p>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12 xs-no-padding margin-lg-top margin-md-bottom"><!-- start of contact_detail -->
                    <div class="col-sm-12 col-xs-12 plan_heading"><!-- start of plan_heading -->
                    	<h4>A Little Introducton About Perfumebooth</h4>
                    	<h5>Get to know our values, mission &amp; work philosophy</h5>
                    </div><!-- end of plan_heading -->
                    
                    <div class="col-sm-12 col-xs-12 no-padding"><!-- start of about_content -->
                    	<p class="text-justify">
                        	Coming from a family that has been in the perfume business for the last 30 years, Rohit Agrawal has managed to understand the fragrance market perfectly. He has been born and brought up in an environment that speaks the ‘fragrance language’. After getting into the distribution business, Sunil,Rohit and Richa, the founding trio realized that the market for fragrance in India is dominated by deodorants. They managed to crack the code when they figured that perfumes are associated with an ‘expensive’ purchase, whereas deodorants are ‘affordable’. They began working on The Perfume Booth that offers amazing fragrances from all over the world at affordable prices with a dream of making perfumes easily accessible and affordable.  For about a year, they thoroughly studied and researched the Indian market and devised this plan in a manner that the customers get to try their perfumes before they buy them.
                        </p>
                    	<p class="text-justify">
                        	With this aim, they created Perfume Selfie and Scent Shot, making available 7 assorted international fragrances in one box. There are several variations, suiting to different personalities and moods, so that you get seven perfumes that are suitable to your style and persona. It is a unique concept that has never been explored before. Apart from this, the founding trio also managed to eliminate the various steps in marketing and distributing a perfume and brought premium quality fragrances from all over the world directly to the customers using the Perfume Booth. It not only reduces the cost of the perfume but also makes sure that you get the fragrance in its finest condition.
                        </p>
                    </div><!-- end of about_content -->
                    
                    <div class="col-sm-12 col-xs-12 no-padding margin-md-bottom"><!-- start of about_three_section -->
                    	<div class="col-sm-4 col-xs-12 no-padding-left xs-no-padding about_section"><!-- start of our_history -->
                        	<div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
                                <h3>Our History <span></span></h3>
                            </div><!-- end of review_heading -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of content -->
                                <p class="text-justify">
                                	The founding team started their journey in 2011, selling cosmetics and body care products. It was the year 2012, when they ventured into the business of fragrances. With a long journey, each step providing them basic knowledge about the perfume industry all over the world and India. Trying and testing several selling methods, getting in-depth with perfume industry in India and understanding the buyer’s behaviour, they launched a revolutionary product in the year 2016 known as, Perfume Selfie.
                                </p>
                                <p id="ourhistory" class="collapse text-justify"><!-- start of collapse_content -->
                                	With the success they got with Perfume Selfie, the founding trio revamped the brand in the year 2017, adding more than 400 perfume products on the website. The sole idea was to reduce the cost of high-end perfumes without compromising with the quality and customer experience. Having this vision in mind, Perfume Booth Pvt. Ltd aims to grow high.
                                </p><!-- end of collapse_content -->
                            </div><!-- end of content -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of more_button -->
                                <a href="#ourhistory" data-toggle="collapse" class="btn from-left cart_btn btn_outline">
                                	More
                                </a>
                            </div><!-- end of more_button -->
                        </div><!-- end of our_history -->
                        
                    	<div class="col-sm-4 col-xs-12 xs-no-padding about_section"><!-- start of our_Missions -->
                        	<div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
                                <h3>Our Missions &amp; Values <span></span></h3>
                            </div><!-- end of review_heading -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of content -->
                                <p class="text-justify">
                                	The Perfume Booth started with a dream for making perfumes accessible and affordable for the common man. High end International fragrance brands such as Lomani Paris, Chris Adams, Baug Sons, Emper, English Blazer, Louis Cardin and many others are part of The Perfume Booth family which is growing with each passing day. To make the International imported fragrances as affordable as possible, The Perfume Booth is the only place where you can buy Perfume Selfie- an assorted collection of 7 international fragrances in miniature vials at an economical cost.
                                </p>
                                <p id="ourmissions" class="collapse text-justify"><!-- start of collapse_content -->
                                	The brand believes that perfumes can be much more affordable if intermediary or middleman process is removed in between, making the international perfumes and body sprays available directly to the customers. We strive to provide nothing but the best to our customers. All the products are checked for their quality and authenticity with multiple quality check processes before it reaches your doorstep. If you want to smell great, The Perfume Booth has a scent for you!
                                </p><!-- end of collapse_content -->
                            </div><!-- end of content -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of more_button -->
                                <a href="#ourmissions" data-toggle="collapse" class="btn from-left cart_btn btn_outline">
                                	More
                                </a>
                            </div><!-- end of more_button -->
                        </div><!-- end of our_Missions -->
                        
                    	<div class="col-sm-4 col-xs-12 no-padding-right xs-no-padding about_section"><!-- start of Why Choose Us -->
                        	<div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
                                <h3>Why Choose Us <span></span></h3>
                            </div><!-- end of review_heading -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of content -->
                                <p class="text-justify">
                                	There are very few places in India where you can buy International fragrances of every kind without worrying about any issue & The Perfume Booth is one of them. Established by someone who has an in-depth knowledge of fragrances and it’s need in your day to day life, The Perfume Booth has taken care of all your fragrant needs. We strive to provide nothing but the best of International fragrance range including Eau De Parfum, Eau de Toilette, Parfum De Toilette, Attar, Body Sprays, Body Mists and Deodorants at a minimal cost. All the products are checked several times with multiple quality check processes to ensure its authenticity.
                                </p>
                                <p id="whychoose" class="collapse text-justify"><!-- start of collapse_content -->
                                	If you wish to try fragrances from leading brands before investing in just one of them, The Perfume Booth has Perfume Selfie and Scent Shot for you. Each having a handpicked assorted collection of 7 international fragrances in form of miniature vials packed in a striking box. This is how we make available high-end international fragrance at the lowest possible cost to our customers. Apart from this, you can also buy bigger perfume bottles from some of the popular international brands. 
                                </p><!-- end of collapse_content -->
                            </div><!-- end of content -->
                            
                        	<div class="col-xs-12 no-padding"><!-- start of more_button -->
                                <a href="#whychoose" data-toggle="collapse" class="btn from-left cart_btn btn_outline">
                                	More
                                </a>
                            </div><!-- end of more_button -->
                        </div><!-- end of Why Choose Us -->
                    </div><!-- end of about_three_section -->
                    
                    <div class="col-sm-12 col-xs-12 no-padding margin-lg-top hidden-xs"><!-- start of our_brands -->
                    	<div class="col-sm-12 col-xs-12 main_heading margin-md-top xs-no-padding"><!-- start of heading_part -->
                            <h3>
                                <span>
                                    Our Brands
                                    <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                                </span>
                            </h3>
                            <p>
                                Writing a new fragrance story each day
                            </p>
                        </div><!-- end of heading_part -->
                        
                        <div class="col-sm-12 col-xs-12 no-padding brand_logo"><!-- start of featured_products -->
                        
                        	<div class="MultiCarousel" data-items="3,5,7,7" data-slide="1"  data-interval="3000"><!-- start of slider -->
                                <div class="MultiCarousel-inner row-flex row-flex-wrap">
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/america.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/baug-sons.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/chris-adams.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/colourme.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/creation.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/emper.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/englis.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/jacqui&david.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/lomani.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/louis-cardin.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/maryaj.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/nabeel.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/new-nb.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/otoori.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/perfumebooth.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                    <div class="item col-md-2 col-sm-4 col-xs-12 margin-bottom no-padding"><!-- start of thumbnail -->
                                        <a>
                                        	<img src="assets/images/brand_logo/perfumers-choice.jpg" alt="America" class="img-responsive center-block">
                                        </a>
                                    </div><!-- end of thumbnail -->
                                    
                                </div>
                            </div><!-- end of slider -->
                            
                        </div><!-- end of featured_products -->
                    </div><!-- end of our_brands -->
					
                </div><!-- end of contact_detail -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
    