	<div class="{{headerClass}}">
        <nav class="navbar nav_div {{toggledClass}}" id="wrapper"><!-- start of navbar -->
            <div class="container">
                <div class="navbar-header">
					<a *ngIf="headerClass !=''" (click)="historyBack();" class="back_btn visible-xs">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="navbar-brand logo_div" [ngClass]="{'pbprive_logo':priveMember==true}" routerLink="{{(secondParam == 'store-offer') ? '/store-offer' : '/'}}">
                    	<img [src]="priveMember ? 'assets/images/logo_prive.svg':'assets/images/logo.svg'" alt="Logo" class="img-responsive">
                    </a>
                </div>
				
                <div class="nav">
					<app-mini-cart (passDataFromMiniCartToHeader)="getDataFromMiniCart($event);"></app-mini-cart>
                    <product-search></product-search>
                </div>

                <div class="navbar-header hidden-xs">
                    <button type="button" class="navbar-toggle {{buttonClass}}" id="menu-toggle" (click)="toggleMenu();" data-target="#menu-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div *ngIf="(secondParam != 'store-offer')" class="navbar-collapse hidden-xs" id="sidebar-wrapper"><!-- start of menu -->
                    <ul class="nav navbar-nav nav_menu_1">
                        <li class="dropdown" [ngClass]="{'active':(secondParam == '')}">
                        	<a routerLink="{{customDir}}"><i class="fa fa-home fa-lg"></i></a>
                        </li>
                        <li class="dropdown" [ngClass]="{'active':(secondParam == 'scent-shot' && thirdParam != 'refills')}">
                        	<a routerLink="/{{customDir}}/scent-shot">Scent Shot</a>
                        </li>
                        <li class="dropdown" [ngClass]="{'active':(secondParam == 'perfume-bottle')}">
                        	<a routerLink="/{{customDir}}/perfume-bottle/all">Perfumes</a>
                        </li>
                        <li class="dropdown" [ngClass]="{'active':(secondParam == 'deodorant')}">
                        	<a routerLink="/{{customDir}}/deodorant/all">Deodorant</a>
                        </li>
                        <li class="dropdown" [ngClass]="{'active':(thirdParam == 'jacqui-david-passion-bodymist')}">
                        	<a routerLink="/{{customDir}}/body-mist/jacqui-david-passion-bodymist">Body Mist</a>
                        </li>
						
                    </ul>
                </div><!-- end of menu -->
            </div>
        </nav><!-- end of navbar -->
	</div>
	
<!-- start of minicart item delete popup -->
<div id="removeItemFromMiniCartPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm col-sm-offset-3">
      <div class="modal-header no-padding no-border">
        <button type="button" class="close video_close" #hideDeleteMiniCartModal data-dismiss="modal">
          <span class="icon_cross"></span>
          <span class="icon_cross"></span>
        </button>
      </div>
      <div class="modal-body col-sm-12 col-xs-12 confirm_popup_div">
        <h3 class="clearfix">Confirmation</h3>
        <p class="clearfix">{{confimMsg}}</p>
        <button type="button" class="btn from-left cart_btn margin-md-bottom" (click)="removeItemFromMiniCart();">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- end of minicart item delete popup -->