	<div class="content index_2_div">
        <section class="container-fluid scent_shot_div"><!-- start of section_1 -->
        	<div [ngSwitch]="pageType" class="container">
				<div *ngSwitchCase="'loading'" class="row">
					<div class="col-xs-12 xs-no-padding"><!-- start of image_section -->
						<div class="col-sm-12 col-xs-12 no-padding-right xs-no-padding"><!-- start of image_detail -->
							<h1 class="col-xs-12 text-center detail_heading"><!-- start of heading -->
								<img src="assets/images/gif-main2.gif" />
							</h1><!-- end of heading -->
						</div><!-- end of image_part -->
					</div><!-- end of image_section -->
				</div>
				
                <div *ngSwitchCase="'product'" class="row">
                	
                    <div class="col-sm-12 col-xs-12 no-padding item"><!-- start of upper_part -->
                        <div class="col-sm-5 col-xs-12 no-padding-left xs-no-padding large_img_ribbon"><!-- start of image_part -->
							<div *ngIf="result.tagLine != '';" class="corner_label"><!-- start of corner_label -->
								<img [src] = "( result.tagClass == '' ) ? 'assets/images/product_label/best_seller.svg' : 'assets/images/product_label/' + result.tagClass + '.svg'" />
                            </div><!-- end of corner_label -->
							<div class="list-unstyled no-margin">
								<ngu-carousel [inputs]="nguSecond" [dataSource]="result.images" class="col-xs-12 no-padding">
									<ngu-item NguCarouselItem *nguCarouselDef="let item;" class="item col-xs-12">
										<img class="img-responsive center-block" [src]="item.imgLarge" alt="{{result.name}}" />
									</ngu-item>
									  <button *ngIf="result.images.length > 1" NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"></i></button>
									  <button *ngIf="result.images.length > 1" NguCarouselNext class="rightRs"><i class="fa fa-angle-right"></i></button>
								</ngu-carousel>
							</div>
                            
                            <span class="male_female_div"><!-- start of male_female icon -->
                                <img [src]="(result.gender == 'female') ? 'assets/images/female.svg':'assets/images/male.svg'" [alt]="result.gender | titlecase" [title]="result.gender | titlecase" [class]="img-responsive">
                            </span><!-- end of male_female icon -->
                            							                            
							<div *ngIf="result.isStock == 'out_of_stock'" class="out_stock"><span>Out Of Stock</span></div> 
                            
                            <span class="wishlist_div" [ngClass]="{wishlist_color:result.isWishlist == 1}" (click)="addToWishlist(result.id);" title="Wishlist"><!-- start of wishlist -->
                            	<i class="fa fa-heart"></i>
                            </span><!-- end of wishlist -->
                        </div><!-- end of image_part -->
                        
                        <div class="col-sm-7 col-xs-12 no-padding-right xs-no-padding">
                        
                        	<h1 class="col-xs-12 detail_heading"><!-- start of heading -->                                
                                <span class="product_name">
                                    {{result.title}}
                                    <span class="brand_flag">
                                        <img [src]="result.brand.image" [alt]="result.brand.countryName" data-toggle="tooltip" data-placement="bottom" [title]="result.brand.countryName">
                                    </span>
                                </span>
                                
								<span class="detail_rating">
									<div class="starrr">
									{{ result.custReviews.rating | number: '1.2-2' }}
									<i *ngFor="let itemactive of getFinalRating(result.custReviews.rating);" class="fa fa-star gradient_use color-star"></i>
									<i *ngFor="let itemnonactive of getRemainingRating(result.custReviews.rating);"  class="fa fa-star gradient_use"></i>
									</div>
								</span>
								
                            </h1><!-- end of heading -->
                            
                            <h3 class="col-xs-12 detail_price"><!-- start of price -->
								<p class="col-xs-12 detail_mrp no-margin"><!-- start of size -->
									<span class="detail_main_price"><i class="fa fa-rupee"></i>{{result.price | number: '1.2-2' }}</span> 
									<del *ngIf="result.offerPrice > result.price"><i class="fa fa-rupee"></i>{{result.offerPrice | number: '1.2-2' }}</del>
									<span *ngIf="result.sold" class="sold_text">{{result.sold}} Sold</span>
								</p>
				
                            </h3><!-- end of price -->
                            
                            <div class="col-sm-12 col-xs-10 detail_pincode"><!-- start of pincode -->                                
                                <div class="col-md-5 col-sm-6 no-padding col-xs-12"><!-- start of check -->
                                    <div class="input-group pin_code">
                                        <input type="text" class="form-control" (focus)="pincodeMsg='';" id="pincode" value="{{savePincode}}" placeholder="Enter Pincode">
                                        <span class="input-group-btn">
                                            <button class="btn btn-check" type="button" (click)="checkPincode();">Check</button>
                                        </span>
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div><!-- end of check -->
                                
                                <div class="col-md-7 col-sm-6 no-padding col-xs-12"><!-- start of error -->
									<p [class]="pincodeClass" [innerHTML]="sanitizer.bypassSecurityTrustHtml(pincodeMsg)"></p>
                                </div><!-- end of error -->
                            </div><!-- end of pincode -->
                            
                            <div *ngIf="result.isStock == 'in_stock'" class="col-md-7 col-sm-8 col-xs-12 detail_btn"><!-- start of add-on or button -->
                            	<div class="col-md-12 col-sm-12 col-xs-12"><!-- start of cart_btn -->
                                    <span *ngIf="!result.isCart" class="btn from-right cart_btn add-to-cart" (click)="addCart(result.id);">Add to Cart</span>
                                    <a *ngIf="result.isCart" [routerLink]="['/checkout/cart']" class="btn from-right cart_btn add-to-cart">Go to Cart</a>
                                </div><!-- end of cart_btn -->
                            </div><!-- end of add-on or button -->
							
                            <div *ngIf="result.isStock == 'coming_soon' || result.isStock == 'out_of_stock'" class="col-md-7 col-sm-8 col-xs-12 detail_btn"><!-- start of add-on or button -->
                            	<div class="col-md-12 col-sm-12 col-xs-12"><!-- start of cart_btn -->
                                    <span *ngIf="result.isStock == 'coming_soon'" class="out_of_stock">Coming Soon</span>
                                    <span *ngIf="result.isStock == 'out_of_stock'" class="out_of_stock">Out Of Stock</span>
                                    <button type="button" class="btn from-left cart_btn" (click)="notifyMePopup(result.id);" data-target="#NotifyMe" data-toggle="modal">
                                        Notify Me!
                                    </button>
                                </div><!-- end of cart_btn -->
                            </div><!-- end of add-on or button -->
							
                            <h3 *ngIf="result.isContain" class="col-xs-12 detail_price"><!-- start of enlarge_content -->
                                <p class="col-xs-12 detail_mrp no-margin"><!-- start of mrp -->
                                    Contains Mini Perfume Of The Following <small>(Click to enlarge)</small>
                                </p><!-- end of mrp -->
                                
                                <ul class="col-xs-12 list-unstyled no-padding enlarge_popup"><!-- start of enlarge_image -->
                                    <li *ngFor="let item of result.related; let i = index">
                                        <button type="button" class="btn" (click)="productPopup(i);" data-toggle="modal" data-target="#Enlarge_images">
											<img [src]="(item.images.url != '') ? item.images.url:'assets/images/product/default/is-base.jpg'" [alt]="item.name | titlecase" [title]="item.name | titlecase" class="img-responsive center-block" />
                                        </button>
                                    </li>
                                </ul><!-- end of enlarge_image -->
                            </h3><!-- end of enlarge_content -->
							
							<div class="col-sm-12 col-xs-12 no-padding nav_tabs"><!-- start of nav-tab -->
                            
                            	<ul class="list-unstyled list-inline"><!-- start of nav-menu -->
                                    <li class="active"><a data-toggle="tab" href="#tabDescription">Description</a></li>
  									<li><a data-toggle="tab" href="#tabNotes">Notes</a></li>
  									<li><a data-toggle="tab" href="#tabDetail">Detail Description</a></li>
  									<li><a data-toggle="tab" href="#tabBrand">Brand</a></li>
                                </ul><!-- end of nav-menu -->
                                
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent"><!-- start of nav-content -->
                                
                                    <div id="tabDescription" class="tab-pane fade in active" [innerHTML]="sanitizer.bypassSecurityTrustHtml(result.shortDescription)"></div>                                    
                                    <div id="tabNotes" class="tab-pane fade"><!-- start of content_2 -->
										<p *ngFor="let note of result.notes">
											{{note.title.replace('_',' ').toUpperCase()}} : {{note.description}}
										</p>
                                    </div><!-- end of content_1 -->                                    
                                    <div id="tabDetail" class="tab-pane fade" [innerHTML]="sanitizer.bypassSecurityTrustHtml(result.description)"></div>                                    
                                    <div id="tabBrand" class="tab-pane fade" [innerHTML]="sanitizer.bypassSecurityTrustHtml(result.brand.description)"></div>
                                    
                                </div><!-- end of nav-content -->
                                
                            </div><!-- end of nav-tab -->
							<div *ngIf="result.paymentOffer && result.paymentOffer.paypal" class="col-sm-12 col-xs-12 no-padding">
								<img class="img-responsive center-block" src="assets/images/payment-offer/400X250.png" alt="Payment Offer" />
							</div>
                            
                        </div>
                    </div><!-- end of upper_part -->
					
					<reviews [userId]="userId"></reviews>
					<related-product></related-product>
                    
                </div>
				
				<div *ngSwitchCase="'static'" class="row">
					<static-product></static-product>
					<div class="col-sm-12 col-xs-12 no-padding" [innerHTML]="sanitizer.bypassSecurityTrustHtml(result.content)"></div>
				</div>
				
				<div *ngSwitchDefault class="row">
					<div class="col-xs-12 xs-no-padding"><!-- start of image_section -->
						<div class="col-sm-12 col-xs-12 no-padding-right xs-no-padding"><!-- start of image_detail -->
							<h1 class="col-xs-12 text-center detail_heading"><!-- start of heading -->
								<span>{{resultMsg}}</span>
							</h1><!-- end of heading -->
						</div><!-- end of image_part -->
					</div><!-- end of image_section -->
				</div>
            </div>
        </section><!-- end of section_1 -->
    
    </div>
<notifyme></notifyme>
<popup-product></popup-product>