/deep/ .price_total p span{color:#38b8bf;}
.content{
	padding-bottom: 30px;
}
.payment_div ul li label.checkboxfree{padding-left:0;}
.resend_otp{padding:0; border:none; background:none; color:#f03f3f; cursor:pointer; font-size:13px;}
.form-group .back-btn{background:none; box-shadow:none; height:auto; line-height:normal; text-align:center; margin-top:10px;}

@media (max-width:767px){
	/* shopping cart icon css */
	/deep/ ul.nav_menu li button.shopping-cart{display:none;}
	
	/* start of scrollup css */
	/deep/ .scrollUp{left:0; bottom:0;}
}