@import './../../../../assets/css/product-new-2.css';

	/* start of mobile_menu css */
	.mobile_menu{text-align:center; padding:0; display:block; margin:10px 0 20px 0;}
	.mobile_menu table{margin:0;}
	.mobile_menu table tr td{padding:0 4px; position:relative;}
	.mobile_menu table tr td a{cursor:pointer;display:block; text-decoration:none; position:relative; text-align:center; box-shadow:0 0 8px rgba(0,0,0,0.2); overflow:hidden;}
	.mobile_menu table tr td a img{width:100%; display:block;}
	.mobile_menu table tr td a span{color:#28373f; font-size:12px; padding:10px; display:block; background:#fff; white-space:nowrap;}
	.mobile_menu table tr td a.active span{color:#fff; background:#38b8bf;}
	.mobile_menu table tr td a.active:before{content:""; position:absolute; bottom:-12px; left:50%; transform:translateX(-50%); background:#fff; height:20px; width:20px; border-radius:50%;}
	
	/* start of corner_ribbon css */
	.corner_label{position:absolute; top:10px; left:10px; z-index:2;}
	
	.sold_product label{padding:0px 10px; color:#ed1b62; font-size:18px; border-right:1px solid #ccc;}

.pt0{padding-top:0;}
.sale_banner_img{position:relative; margin-bottom:30px;}
.sale_banner_img img{width:100%; display:block;}
.sale_banner_img:before{content:""; position:absolute; top:0; left:0; width:100%; height:100%; display:block; background:radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.8)); background:-webkit-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.8)); background:-moz-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.8)); background:-o-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.8));}

@media (max-width:767px){
	.sale_banner_img:before{background:radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.5)); background:-webkit-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.5)); background:-moz-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.5)); background:-o-radial-gradient(farthest-corner at 50% 50%,rgba(256,256,256,0),rgba(256,256,256,0),rgba(0,0,0,0.1),rgba(0,0,0,0.5));}
}