@import './../../../assets/css/custom.css';
@import './../../../assets/css/responsive-table.css';
@import './../../../assets/css/filter.css';
@import './../../../assets/css/checkout.css';
.content{
	padding-bottom: 30px;
}
/deep/ .price_detail .order_note span{color:#38b8bf;}
.checkout_form .form-group textarea, .checkout_form .form-group input{font-size:16px;}
.login_form form p.account_line{margin-bottom: 12px;}