@import './../../../../assets/css/thumbnail.css';
@import './../../../../assets/css/lightslider.css';
@import './../../../../assets/css/perfume_selfie.css';

.selfie_generic_div .carousel{float:left;}
.contains_slider .item{padding:0 !important; text-align:center;}
.touch_slider ul{padding:0 !important; display:none !important;}

@media (max-width:767px){
	.touch_slider ul{padding:12px !important; display:inline-block !important;}
}
