    <section class="container-fluid content"><!-- start of middle_part -->        
        <div class="container">
            <div class="row"><!-- start of row -->                
						<ul [hidden]="1" itemscope itemtype="http://schema.org/BreadcrumbList">	
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemprop="item" routerLink="/faq"><span itemprop="name">FAQ</span></a>
								<meta itemprop="position" content="1" />
                            </li>
						</ul>
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top"><!-- start of heading_part -->
                    <h3><span> FAQ<img src="assets/images/heading_img.png" class="img-responsive" alt="Square"></span></h3>
                    <p>Everything you want to know about Perfumebooth</p>
                </div><!-- end of heading_part -->                
                <accordion [closeOthers]="oneAtATime" class="col-sm-12 col-xs-12 panel-group faq_panel"><!-- start of content class="col-sm-12 col-xs-12 panel-group faq_panel" id="accordion" role="tablist" aria-multiselectable="true" -->
                
                	<h4 class="no-padding text-cgreen"><b>Privé Membership :-</b></h4>
                    
                    <accordion-group (click)="setAction(1);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 1, 'glyphicon-minus':index == 1}"></i>
							What is Privé Membership and how can I get it?
                        </div>
						Privé membership allows the customer to enjoy various benefits on registration. Right now, you can simply register to the website and avail this privé membership at a nominal cost of Rs. 99. A privé member will get free shipping for one year and 10% point back on cart value of every successful purchase.
                    </accordion-group>
                    
                    <accordion-group (click)="setAction(2);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 2, 'glyphicon-minus':index == 2}"></i>
							What is the cost of Privé Membership?
                        </div>
                        Privé membership is available at a nominal cost of Rs. 99.
                    </accordion-group>
                    
                    <accordion-group (click)="setAction(3);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 3, 'glyphicon-minus':index == 3}"></i>
                            Am I a Privé member?
                        </div>
                       	All existing registered customers are privé members. For the new members, the cost of privé membership is Rs. 99.
                    </accordion-group>
                    
                	<h4 class="no-padding text-cgreen"><b>PB Discounts :-</b></h4>

                    <accordion-group (click)="setAction(4);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 4, 'glyphicon-minus':index == 4}"></i>
                            What are PB Points?
                        </div>
                        PB Points or PerfumeBooth points are given to customers on every successful purchase. You can avail them on registration, referring a friend and buying products. For privé members only, on every purchase, you can earn 10% PB points on the Grand Total before shipping. 
                    </accordion-group>
                    
                    <accordion-group (click)="setAction(5);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 5, 'glyphicon-minus':index == 5}"></i>
                            What are PB Cash?
                        </div>
                        PB Cash comes under PB discount available to existing customers. You can see them under the wallet section of your profile. This can be used to get discount on your purchase. You can use entire value of PB cash available or part of it.
                    </accordion-group>
                    
                    <accordion-group (click)="setAction(6);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 6, 'glyphicon-minus':index == 6}"></i>
                            How much assured Cash Back will I get, after a successful purchase?
                        </div>
                        On every purchase, you can assure avail 10% PB points on the grand total before shipping. This is applicable only for privé members. Apart from this, you can also avail one gift voucher worth Rs. 501 & three gift vouchers worth Rs. 100 each on purchase of every Scent Shot.
                    </accordion-group>
                    
                    <h4 class="no-padding text-cgreen"><b>Scent Shot :-</b></h4>

                    <accordion-group (click)="setAction(7);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 7, 'glyphicon-minus':index == 7}"></i>
                            What is Scent Shot?
                        </div>
                        Scent Shot is a stylish box that consists of 7 international perfumes and a carry case that is used to carry the smaller perfume vials and make it look bigger and stylish. It makes the smaller perfume vials easy enough to fit in your hand yet small enough to fit in your pocket or purse.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(8);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 8, 'glyphicon-minus':index == 8}"></i>
                            What do I get inside the Scent Shot Box?
                        </div>
                        Inside the Scent shot Box, you will get 7 perfumes chosen from 7 brands, one carry case, packed in a sleek box which you can keep on your dressing table, and an instruction guide. You will also get one Rs. 501 voucher and three Rs. 100 vouchers with every box of Scent Shot.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(9);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 9, 'glyphicon-minus':index == 9}"></i>
                            What are the sizes of the seven perfumes?
                        </div>
                        The perfumes are 5ml each packed in a handmade vial with a spray nozzle on top sealed with silicone gel.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(10);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 10, 'glyphicon-minus':index == 10}"></i>
                            How long will the Scent Shot Box last?
                        </div>
                        Each box contains seven perfumes of 5ml each. With 14 sprays a day, the Scent Shot Box should last for more than 30 days.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(11);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 11, 'glyphicon-minus':index == 11}"></i>
                            Can I choose the variants of perfumes I want to add in a Scent Shot Box?
                        </div>
                        No. All variants of perfumes have been handpicked and chosen as per the personality of the box.
					</accordion-group>
                                        
                    <h4 class="no-padding text-cgreen"><b>501 Gift Voucher :-</b></h4>
                    
                    <accordion-group (click)="setAction(12);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 12, 'glyphicon-minus':index == 12}"></i>
                            What is the Rs. 501 gift voucher along with the Scent Shot?
                        </div>
                        With every purchase of Scent Shot Box, a discount voucher worth Rs. 501 added to your account. This voucher can be used against a bigger perfume bottle worth Rs. 1000 or more. If you are buying Scent Shot from any other marketplace, you will get a voucher along with the box, which is automatically credited to your Perfume Booth account. You can check it under the Wallet section in your profile.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(13);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 13, 'glyphicon-minus':index == 13}"></i>
                            How do I use the Rs. 501 gift voucher?
                        </div>
                        Log on to The Perfume Booth using your user id. Add a perfume bottle of the minimum value of Rs. 1000 or more to the shopping cart. Before making the final payment, select voucher. You will get a discount worth Rs. 501 on the original order.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(14);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 14, 'glyphicon-minus':index == 14}"></i>
                            Can I redeem the gift voucher against any product?
                        </div>
                        The gift voucher can be redeemed only against any perfume bottle with a minimum value of Rs. 1000 or more.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(15);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 15, 'glyphicon-minus':index == 15}"></i>
                            What is the minimum purchase price to use the voucher?
                        </div>
                        There is no minimum purchase price. However, it can be redeemed only against perfume bottle worth Rs. 1000 or more.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(16);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 16, 'glyphicon-minus':index == 16}"></i>
                            What are the three Rs. 100 vouchers along with Scent Shot for?
                        </div>
                        You will also receive 3 Rs. 100 vouchers along with Scent shot. These can be used to get discount on Scent Shot refill pack. Only one Rs. 100 voucher can be used per box.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(17);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 17, 'glyphicon-minus':index == 17}"></i>
                            Can I apply two or more discount vouchers at once?
                        </div>
                        Perfume Booth does not offer an option to add two or more discount codes against one order.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(18);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 18, 'glyphicon-minus':index == 18}"></i>
                            My discount voucher does not work. What do I do?
                        </div>
                        Please write to us at admin@perfumebooth.com or call us at 011-40098888 and we will get back to you at the earliest.
					</accordion-group>
                    
                    <h4 class="no-padding text-cgreen"><b>Perfume Selfie :-</b></h4>
                    
                    <accordion-group (click)="setAction(19);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 19, 'glyphicon-minus':index == 19}"></i>
                            What is a Perfume Selfie?
                        </div>
                        A Perfume Selfie is a stylish patent-pending device that is used to carry the smaller perfume vials and make it look bigger and stylish. It makes the smaller perfume vials easy enough to fit in your hand yet small enough to fit in your pocket or purse.
					</accordion-group>
                	
                    <accordion-group (click)="setAction(20);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 20, 'glyphicon-minus':index == 20}"></i>
                            What do I get inside the Perfume Selfie Box?
                        </div>
                        Inside the Perfume Selfie Box, you will get 7 perfumes chosen from 7 brands, one Perfume Selfie, a box to keep on your dressing table along with two brochures.
					</accordion-group>
                	
                    <accordion-group (click)="setAction(21);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 21, 'glyphicon-minus':index == 21}"></i>
                            What are the sizes of the seven perfumes?
                        </div>
                        The perfumes are 4ml each.
					</accordion-group>
                	
                    <accordion-group (click)="setAction(22);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 22, 'glyphicon-minus':index == 22}"></i>
                            How long will the Perfume Selfie Box last?
                        </div>
                        Each box contains seven perfumes of 4ml each. With 14 sprays a day, the Selfie Box should last for 30 days.
					</accordion-group>
                	
                    <accordion-group (click)="setAction(23);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 23, 'glyphicon-minus':index == 23}"></i>
                            Can I choose the variants of perfumes I want to add in a Perfume Selfie Box?
                        </div>
                        No. All variants of perfumes have been handpicked and chosen as per the personality of the box.
					</accordion-group>
                	                	                       
                    <h4 class="no-padding text-cgreen"><b>About the Perfume Selfie Box :-</b></h4>
                    
                    <accordion-group (click)="setAction(24);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 24, 'glyphicon-minus':index == 24}"></i>
                            What do I do with the empty 4ml vials?
                        </div>
                        The empty 4ml vials can be used to fill other perfumes. If you wish to dispose them, we advise you to send them for recycling.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(25);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 25, 'glyphicon-minus':index == 25}"></i>
                            What do I do with the Perfume Selfie?
                        </div>
                        The Perfume Selfie can be used to fit in the smaller perfumes.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(26);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 26, 'glyphicon-minus':index == 26}"></i>
                            What do I do with the box?
                        </div>
                        The Perfume Selfie Box is an attractive box that can be used to store small things on the dressing table.
					</accordion-group>
                       
                    <h4 class="no-padding text-cgreen"><b>Perfume vs. Deodorant :-</b></h4>
                                                            
                    <accordion-group (click)="setAction(27);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 27, 'glyphicon-minus':index == 27}"></i>
                            What is the difference between a deodorant and a perfume?
                        </div>
                        Deodorants are primarily used to cover body odour, where as perfumes are used to give long-lasting fragrance.
					</accordion-group>
					
                    <accordion-group (click)="setAction(28);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 28, 'glyphicon-minus':index == 28}"></i>
                            What is the difference between an EDT and an EDP?
                        </div>
                        An EDT has about 8-12% perfume content where as an EDP has 12-18% perfume content.
					</accordion-group>
					
                    <accordion-group (click)="setAction(29);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 29, 'glyphicon-minus':index == 29}"></i>
                            How long does an EDT last?
                        </div>
                        An EDT should last for about 4 hours.
					</accordion-group>
					
                    <accordion-group (click)="setAction(30);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 30, 'glyphicon-minus':index == 30}"></i>
                            How long does an EDT last?
                        </div>
                        An EDP should last for about 6 hours.
					</accordion-group>
					
                    <h4 class="no-padding text-cgreen"><b>How to use perfumes properly :-</b></h4>
                    
                    <accordion-group (click)="setAction(31);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 31, 'glyphicon-minus':index == 31}"></i>
                            How can I properly apply perfumes?
                        </div>
                        Read the brochure in the box for all the details.
					</accordion-group>
					
                    <accordion-group (click)="setAction(32);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 32, 'glyphicon-minus':index == 32}"></i>
                            How many times should I spray the perfume?
                        </div>
                        About 6-8 sprays at one time are good enough. The key to wearing perfume is that the more sublime it is, the classier it is. Do not overspray.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(33);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 33, 'glyphicon-minus':index == 33}"></i>
                            What are the parts I should spray at?
                        </div>
                        Perfumes should be sprayed at pulse point. Please click here to know more.
					</accordion-group>
                                        
                    <accordion-group (click)="setAction(34);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 34, 'glyphicon-minus':index == 34}"></i>
                            Do perfumes last for only 2-3 hours?
                        </div>
                        Perfumes last longer when you are in a closed environment, preferably air-conditioned. When you sweat a lot, the perfumes will not last that long.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(35);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 35, 'glyphicon-minus':index == 35}"></i>
                            Does every perfume smell different on different people?
                        </div>
                        Everybody has their own smell. So, obviously different perfumes will smell differently or different people. It’s very important to find the right perfume for your body.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(36);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 36, 'glyphicon-minus':index == 36}"></i>
                            Why should you change perfume frequently?
                        </div>
                        Your nose gets used to/immune to the same smell if you use the same perfume every day. You should keep changing perfumes but have a favourite one that becomes synonymous to your identity.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(37);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 37, 'glyphicon-minus':index == 37}"></i>
                            What are the precautions I need to take while wearing perfume?
                        </div>
						<p class="font-15"><b>Don’t keep the perfume under the sun :-</b></p>
						<ul>
							<li>Never overspray perfumes.</li>
							<li>Keep changing perfumes.</li>
							<li>Carry your perfume in your pocket/purse to reapply whenever needed.</li>
						</ul>
					</accordion-group>
                    
                    <h4 class="no-padding text-cgreen"><b>About the perfume :-</b></h4>
                    
                    <accordion-group (click)="setAction(38);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 38, 'glyphicon-minus':index == 38}"></i>
                            Where are the perfumes imported from?
                        </div>
                        Most of the perfumes are imported from France and the UAE.
					</accordion-group>
					
                    <accordion-group (click)="setAction(39);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 39, 'glyphicon-minus':index == 39}"></i>
                            How good is the quality of these perfumes?
                        </div>
                        These perfumes are as good as any of your international brands.
					</accordion-group>
					
                    <accordion-group (click)="setAction(40);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 40, 'glyphicon-minus':index == 40}"></i>
                            Why are the perfumes sold at such basic prices?
                        </div>
                        The money spent by international brands on advertising, marketing, branding, license fee, etc are minimal in our case. Additionally the perfumes are sent to you directly, so there are no middlemen involved and that makes the price amazing.
					</accordion-group>
					
                    <h4 class="no-padding text-cgreen"><b>Rating :-</b></h4>
                    
                    <accordion-group (click)="setAction(41);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 41, 'glyphicon-minus':index == 41}"></i>
                            Why should I rate or give feedback on the website?
                        </div>
                        Rating and feedback enables other users to get view on how other consumers such as you think about the product. This will help other customers make a better purchase.
					</accordion-group>
					
                    <h4 class="no-padding text-cgreen"><b>Billing :-</b></h4>

                    <accordion-group (click)="setAction(42);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 42, 'glyphicon-minus':index == 42}"></i>
                            What are the different forms of payment?
                        </div>
                        Debit card, credit card, net banking, cash cards, mobile wallets and COD options are available.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(43);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 43, 'glyphicon-minus':index == 43}"></i>
                            Is COD available?
                        </div>
                        Yes, COD option is available. There is an additional charge of Rs. 20 on every COD order.
					</accordion-group>
                    
                    <h4 class="no-padding text-cgreen"><b>Shipping :-</b></h4>
					
                    <accordion-group (click)="setAction(44);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 44, 'glyphicon-minus':index == 44}"></i>
                            Can I track my order?
                        </div>
                        Yes, the option to track the order is available. Once your order is dispatched, you will receive an SMS with the name of the courier company and the ABW number. You may track your order from the company website using this number.
					</accordion-group>
                       
                    <accordion-group (click)="setAction(45);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 45, 'glyphicon-minus':index == 45}"></i>
                            How much does shipping cost?
                        </div>
						<p class="font-15"><b>Shipping is :-</b></p>
						<ul>
							<li><i class="fa fa-rupee"></i> 45 on 1 product</li>
							<li><i class="fa fa-rupee"></i> 75 on 2 products</li>
							<li><i class="fa fa-rupee"></i> 100 on 3 products</li>
							<li><i class="fa fa-rupee"></i> 130 on 4 products</li>
							<li><i class="fa fa-rupee"></i> 160 on 5 products</li>
						</ul>
						<p>Above this, shipping of Rs. 30 per product is applicable.</p>
					</accordion-group>
                    
                    <accordion-group (click)="setAction(46);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 46, 'glyphicon-minus':index == 46}"></i>
                            How much is the shipping time?
                        </div>
                        We dispatch the stock within 24-48 working hours. Delivery time may vary from 24 hours to 120 hours, depending on your location.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(47);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 47, 'glyphicon-minus':index == 47}"></i>
                            Where does The Perfume Booth ship?
                        </div>
                        While buying the product you may enter the pin code to check if we deliver the stock to the mentioned area. We cover 7,000 pin codes with the help of our logistic partners.
					</accordion-group>
                                           
                    <h4 class="no-padding text-cgreen"><b>Returns and refunds :-</b></h4>
                    
                    <accordion-group (click)="setAction(48);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 48, 'glyphicon-minus':index == 48}"></i>
                            What is the return policy?
                        </div>
                        Products once purchased cannot be returned unless they are received in a damaged condition.
					</accordion-group>
                    
					<accordion-group (click)="setAction(49);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 49, 'glyphicon-minus':index == 49}"></i>
                            Do you offer refunds?
                        </div>
                        As we do not take back returns, we do not offer refunds. If your product is received in a damaged condition, we will send you a replacement.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(50);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 50, 'glyphicon-minus':index == 50}"></i>
                            What do I do if I receive the product as damaged?
                        </div>
                        If the products are received as damaged, please mail us a picture of the product along with the courier box and details at connect@perfumebooth.com
					</accordion-group>
                    
                    <accordion-group (click)="setAction(51);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 51, 'glyphicon-minus':index == 51}"></i>
                            For bloggers
                        </div>
                        We will offer free Perfume Selfie Box to fashion and beauty bloggers who wish to cover us. Please send your details on admin@perfumebooth.com and we will get in touch with you.
					</accordion-group>
                    
					<accordion-group (click)="setAction(52);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 52, 'glyphicon-minus':index == 52}"></i>
                            For press
                        </div>
                        Do you wish to cover us? Please get in touch with us on admin@perfumebooth.com and our representative will get in touch with you.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(53);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 53, 'glyphicon-minus':index == 53}"></i>
                            Bulk enquiry
                        </div>
                        For bulk enquiry, please write to us on admin@perfumebooth.com and our representative will get in touch with you.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(54);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 54, 'glyphicon-minus':index == 54}"></i>
                            Corporate gifting
                        </div>
                        For corporate gifting, please write to us on admin@perfumebooth.com and our representative will get in touch with you.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(55);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 55, 'glyphicon-minus':index == 55}"></i>
                            For retailers
                        </div>
                        Retailers may get in touch with the address stated below.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(56);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 56, 'glyphicon-minus':index == 56}"></i>
                            Careers
                        </div>
                        Please write to us on the email stated below and our representative will get in touch with you. Email Id is admin@perfumebooth.com.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(57);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 57, 'glyphicon-minus':index == 57}"></i>
                            Mission
                        </div>
                        To be the world’s largest sellers of perfumes by focusing on giving customers the best quality perfumes at the cheapest possible price.
					</accordion-group>
                    
                    <accordion-group (click)="setAction(58);">
                        <div class="text-align" accordion-heading>
							<i class="more-less glyphicon" [ngClass]="{'glyphicon-plus':index != 58, 'glyphicon-minus':index == 58}"></i>
                            Vision
                        </div>
                        To be creative, young and dynamic throughout the life of the organization with a view to build an institution that stands for customer service, employee benefit, profits and steady growth.
					</accordion-group>
                    
                </accordion><!-- end of contact_detail -->
            
			</div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
