<h2 mat-dialog-title>Are you sure want to delete</h2>

<mat-dialog-content [formGroup]="rForm">  
	<b>{{ item.firstname + ' '+ item.lastname }}</b>
	<address class="confirm_popup_div"><!-- start of content -->
		{{item.address}}, <br>
		{{item.city}}, <br>
		{{item.state}} {{item.pincode}} {{item.country}}. <br>
		Mobile: {{item.mobile}},<br>
		Email: {{item.email}}
	</address><!-- end of content -->
    <mat-form-field>
		<span [class]="errClassObject">{{message}}</span>
        <textarea matInput formControlName="item" class="hidden"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="save()">Yes</button>
    <button class="mat-raised-button"(click)="close()">No</button>
</mat-dialog-actions>