<section class="container-fluid content"><!-- start of middle_part -->
  <div class="container">
    <div class="row"><!-- start of row -->

      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 login_popup_div login_page_div margin-md-top margin-md-bottom">
		
        <div class="col-xs-12 login_form"><!-- start of form_part -->
          <form class="col-xs-12 no-padding" [formGroup]="rForm" (ngSubmit)="forgotPassword(rForm.value);">
            <p class="col-xs-12 account_line">
              Please enter your registered email ID.
            </p>
            <div class="form-group col-xs-12 no-padding rinput"><!-- start of email -->
              <input type="email" class="form-control" formControlName="username" (keyup)="upperToLower($event);">
              <span *ngIf="rForm.controls.username.invalid && !rForm.controls.username.dirty" class="filed_name">Email*</span>
              <span *ngIf="rForm.controls.username.invalid && rForm.controls.username.dirty" class="filed_name error_span">Email*</span>
              <span *ngIf="rForm.controls.username.valid" class="filed_name complete_filed">Email*</span>
            </div><!-- end of email -->
            <p class="col-xs-12 text-center no-margin" [ngClass]="{'text-success': forgetStatus, 'text-danger': !forgetStatus}">{{forgetMessage}}</p>
            <div class="form-group col-xs-12 no-padding lg_re_btn"><!-- start of login_button -->
              <button type="submit" class="btn from-left cart_btn btn-block" [disabled]="!rForm.valid">Submit</button>
            </div><!-- end of login_button -->
            <div class="form-group col-xs-12 no-padding">
				<div class="form-group col-xs-6 an_account text-center">
				<a routerLink="/customer/registration" class="btn">Register Now</a>
				</div>
				<div class="form-group col-xs-6 an_account text-center">
				<a routerLink="/customer/login" class="btn">Login Now</a>
				</div>
            </div>
          </form>
        </div><!-- end of form_part -->
      </div>

    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->
