SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed
  */2  *  *  *  * root curl https://www.perfumebooth.com/pb/api/crons/send-mailers-to-list ##for run every 5 minutes
  */5  *  *  *  * root curl https://www.perfumebooth.com/pb/api/crons/send-mailers && curl https://www.perfumebooth.com/pb/api/crons/push-order-to-couriers ##for run every 5 minutes
  32  09  *  *  * root curl https://www.perfumebooth.com/pb/api/crons/product-stock && curl https://www.perfumebooth.com/pb/api/crons/product-out-of-stock && curl https://www.perfumebooth.com/pb/api/crons/notify-me && curl https://www.perfumebooth.com/pb/api/crons/facebook-catalogue
  0 */12  *  *  * root curl https://www.perfumebooth.com/pb/api/crons/update-token-shiprocket && curl https://www.perfumebooth.com/pb/api/crons/update-order-status-shiprocket ## run at 12 am/pm
