<section class="container-fluid content"><!-- start of middle_part -->
  <div class="container">
    <div class="row"><!-- start of row -->

      <app-left-menu></app-left-menu>

      <div class="col-md-9 col-sm-8 col-xs-12"><!-- start of right_part -->
        <div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
          <h3>My Order <span></span></h3>
        </div><!-- end of review_heading -->

        <div class="col-sm-12 col-xs-12 no-padding accordion_main_div"><!-- start of content -->

          <ul id="myTab" class="nav nav-tabs account_tab_div"><!-- start of left_part -->
            <li class="{{ordersClass}}"><a (click)="selectOrders('');" style="cursor:pointer;">Orders</a></li>
            <li class="{{cancelClass}}"><a (click)="selectOrders('cancel');" style="cursor:pointer;">Cancelled Orders</a></li>
          </ul><!-- end of left_part -->

          <div id="myTabContent" class="tab-content account_tab_content"><!-- start of right_part -->

            <div *ngIf="!loader" class="tab-pane fade in active col-sm-12 col-xs-12"><!-- start of content_1 -->
              <p class="col-sm-12 col-xs-12 no-padding no-margin">{{ordersList.length}} orders found!</p>

              <div *ngFor="let item of ordersList" class="col-sm-12 col-xs-12 no-padding account_order_div"><!-- start of order_div -->
                <div class="col-sm-12 col-xs-12 order_top_div"><!-- start of top_part -->
                  <div class="col-md-5 col-sm-12 hidden-xs no-padding"><!-- start of left_part -->
                    <table class="table no-border">
                      <tbody>
                      <tr>
                        <td>Order <strong>{{item.status.replace("_", " ")}}</strong></td>
                        <td>Total</td>
                        <td>Ship To</td>
                      </tr>
                      <tr>
                        <td>{{item.created}}</td>
                        <td><label [innerHTML]="item.price_logo"></label>{{item.payment_amount | number:'1.2-2'}}</td>
                        <td><span class="text-cgreen">{{item.shipping_firstname +' '+item.shipping_lastname}}</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!-- end of left_part -->

                  <div class="col-sm-3 hidden-xs hidden-sm"></div>

                  <div class="col-md-4 col-sm-12 col-xs-12 no-padding"><!-- start of right_part -->
                    <table class="table no-border">
                      <tbody>
                      <tr>
                        <td>Order # {{item.id}}</td>
                      </tr>
                      <tr>
                        <td>
                          <ul class="list-unstyled list-inline no-margin">
                            <li>
                              <a routerLink="/customer/orders/details" [queryParams]="{'order-number':item.id}" queryParamsHandling="merge">Order Details</a>
                            </li>
                            <li *ngIf="item.tracking_link != '' && item.tracking_link != null">
                              <a [href]="item.tracking_link" target="_blank">Track Order</a>
                            </li>
                            <!--li><a href="#">Invoice</a></li-->
                          </ul>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!-- end of right_part -->
                </div><!-- end of top_part -->

                <div class="col-sm-12 col-xs-12 order_bottom_div"><!-- start of bottom_part -->
                  <div class="col-sm-12 col-xs-12 delevered_date"><!-- start of Delivered_section -->
                    <h3>{{item.message}}</h3>
                    <div class="order_button"><!-- start of button -->
                      <button class="btn from-left cart_btn" (click)="reOrders(item.id);">Re-Order</button>
                      <!--button *ngIf="item.status == 'accepted'" class="btn btn-div-cart btn-1e margin-bottom" (click)="orderCancelPopup(item.id);" data-target="#orderCancelPopup" data-toggle="modal">Cancel</button-->
                    </div><!-- end of button -->
                  </div><!-- end of Delivered_section -->

                  <div *ngFor="let list of item.order_details" class="col-sm-12 col-xs-12 no-padding re_product_row"><!-- start of product_1 -->
                    <div class="addcart_image"><!-- start of image -->
                      <img [src]="(list.product.image != '') ? list.product.image : 'assets/images/product/default/is-small.jpg'" [alt]="list.title" class="center-block img-responsive">
                    </div><!-- end of image -->

                    <div class="addcart_detail"><!-- start of image_detail -->
                      <div class="col-sm-9 col-xs-12 no-padding-left xs-no-padding">
                        <p><a target="_blank" routerLink="/{{list.product.url_key}}">{{list.title}}</a></p>
                        <span class="product_size">Size: {{list.size}}</span>
                        <p>Qty: {{list.quantity}}</p>
                      </div>
                    </div><!-- end of image_detail -->
                  </div><!-- end of product_1 -->

                </div><!-- end of bottom_part -->
              </div><!-- end of order_div -->

              
            </div><!-- end of content_1 -->
			
			<div *ngIf="loader" class="col-sm-12 col-xs-12 no-padding margin-md-top"><!-- start of loader -->
				<p class="col-xs-12 loader_msz">
					<i class="fa fa-spinner fa-spin"></i>
				</p>
			</div><!-- end of loader -->
           

          </div><!-- end of right_part -->

        </div><!-- end of content -->

      </div><!-- end of right_part -->

    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->

<!-- start of confirmationPopup -->
<div id="orderCancelPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm col-sm-offset-3">
      <div class="modal-header no-padding no-border">
        <button type="button" class="close video_close" #hideDeleteModal data-dismiss="modal">
          <span class="icon_cross"></span>
          <span class="icon_cross"></span>
        </button>
      </div>
      <div class="modal-body col-sm-12 col-xs-12 confirm_popup_div">
        <h3 class="clearfix">Confirmation</h3>
        <p class="clearfix">{{confimMsg}}</p>
        <button type="button" class="btn btn-div-buy btn-1b btn-block margin-md-bottom" (click)="cancelOrders();">Yes</button>
      </div>
    </div>

  </div>
</div>
<!-- end of confirmationPopup -->
<!-- start of page js -->
<!-- start of tab_responsive -->
<script src="assets/js/my_order.js"></script>
