<section class="container-fluid content" style="padding-bottom: 10px;"><!-- start of middle_part -->
	<div class="container">
		<div class="row"><!-- start of row -->
			<div class="col-sm-12 col-xs-12 main_heading margin-md-top xs-no-padding"><!-- start of heading_part -->
				<h3>
                    <span>
                        Order Processing...<img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                    </span>
				</h3>
				<p>We hope you loved shopping with us</p>
			</div><!-- end of heading_part -->
			<div class="col-sm-12 col-xs-12 confirmed_detail xs-no-padding"><!-- start of content -->
				<img src="assets/images/loading.gif" class="img-responsive" alt="Wait...">
				<p class="font-17 margin-md-bottom">Please don`t refresh or reload page!</p>
			</div><!-- end of content -->
		</div><!-- end of row -->
	</div>
</section><!-- end of middle_part -->

