<section class="container-fluid content"><!-- start of middle_part -->
  <div class="container">
    <div class="row"><!-- start of row -->
      <app-left-menu></app-left-menu>
      <div class="col-md-9 col-sm-8 col-xs-12"><!-- start of right_part -->
        <div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
          <h3>Address Book <span></span></h3>
        </div><!-- end of review_heading -->
        <div class="col-xs-12 no-padding review_heading margin-md-top"><!-- start of review_heading -->
          <h3>Shipping Address <span></span></h3>
        </div><!-- end of review_heading -->
		
		<div *ngIf="!addressAction" class="col-sm-12 col-xs-12 no-padding row-flex row-flex-wrap"><!-- start of content -->
                        
			<div class="col-md-4 col-sm-6 col-xs-12"><!-- start of add_address -->
				<div class="address_border address_Dborder">
					<button (click)="newAddress();"class="btn Add_address_btn">
						<div><!-- start of plus_icon -->
							<span class="plus_icon">
								<span class="icon_cross"></span>
								<span class="icon_cross"></span>
							</span>
							<h3>Add Address</h3>
						</div><!-- end of plus_icon -->
					</button>
				</div>
			</div><!-- end of add_address -->
			
			<div *ngFor="let item of response.address" class="col-md-4 col-sm-6 col-xs-12"><!-- start of add_content -->
				<div class="address_border" [ngClass]="{'active': item.set_default == '1'}"><!-- start of main_div -->
					<b>{{ item.firstname + ' '+ item.lastname }}</b>
					<address><!-- start of content -->
						{{item.address}}, <br>
						{{item.city}}, <br>
						{{item.state}} {{item.pincode}} {{item.country}}. <br>
						Mobile: {{item.mobile}},<br>
						Email: {{item.email}}
					</address><!-- end of content -->
					<ul class="list-unstyled list-inline address_btn"><!-- start of content_btn -->
						<li><button class="btn address_btn" (click)="editAddress(item);">Edit</button></li>
						<li><button class="btn address_btn" (click)="openDeleteDialog(item);">Delete</button></li>
						<li>
							<button *ngIf="item.set_default == '0'" class="btn address_btn" (click)="setDefaultAddress(item.id);">Set As Default</button>
							<button *ngIf="item.set_default == '1'" class="btn address_btn">Default</button>
						</li>
					</ul><!-- end of content_btn -->
				</div><!-- end of main_div -->
			</div><!-- end of add_content -->
			
        </div><!-- end of content -->

        <div *ngIf="addressAction" class="col-sm-12 col-xs-12 no-padding login_form account_form"><!-- start of content -->
          <form class="col-xs-12 no-padding" [formGroup]="rForm" (ngSubmit)="addAddress(rForm.value);"><!-- start of form -->
            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of Fname -->
              <input type="hidden" class="form-control" formControlName="id">
              <input type="text" class="form-control" formControlName="firstname">
              <span *ngIf="rForm.controls.firstname.invalid && !rForm.controls.firstname.dirty" class="filed_name">First Name*</span>
              <span *ngIf="rForm.controls.firstname.invalid && rForm.controls.firstname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
              <span *ngIf="rForm.controls.firstname.valid" class="filed_name complete_filed">First Name*</span>
            </div><!-- end of Fname -->

            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of Lname -->
              <input type="text" class="form-control" formControlName="lastname">
              <span *ngIf="rForm.controls.lastname.invalid && !rForm.controls.lastname.dirty" class="filed_name">Last Name*</span>
              <span *ngIf="rForm.controls.lastname.invalid && rForm.controls.lastname.dirty" class="filed_name error_span">Please enter a to z and space char only!</span>
              <span *ngIf="rForm.controls.lastname.valid" class="filed_name complete_filed">Last Name*</span>
            </div><!-- end of Lname -->

            <div class="form-group col-sm-12 col-xs-12 rinput"><!-- start of address -->
              <textarea class="form-control" formControlName="address" rows="1"></textarea>
              <span *ngIf="rForm.controls.address.invalid && !rForm.controls.address.dirty" class="filed_name">Address*</span>
              <span *ngIf="rForm.controls.address.invalid && rForm.controls.address.dirty" class="filed_name error_span">Please enter address!</span>
              <span *ngIf="rForm.controls.address.valid" class="filed_name complete_filed">Address*</span>
            </div><!-- end of address -->

            <div class="form-group col-sm-4 col-xs-12 rinput"><!-- start of Zipcode -->
              <input type="text" class="form-control" formControlName="pincode">
              <span *ngIf="rForm.controls.pincode.invalid && !rForm.controls.pincode.dirty" class="filed_name">ZipCode*</span>
              <span *ngIf="rForm.controls.pincode.invalid && rForm.controls.pincode.dirty" class="filed_name error_span">Please enter zip code!</span>
              <span *ngIf="rForm.controls.pincode.valid" class="filed_name complete_filed">ZipCode*</span>
            </div><!-- end of Zipcode -->

            <div class="form-group col-sm-4 col-xs-12 rinput"><!-- start of City -->
              <input type="text" class="form-control" formControlName="city">
              <span *ngIf="rForm.controls.city.invalid && !rForm.controls.city.dirty" class="filed_name">City/Town*</span>
              <span *ngIf="rForm.controls.city.invalid && rForm.controls.city.dirty" class="filed_name error_span">Please enter city/town!</span>
              <span *ngIf="rForm.controls.city.valid" class="filed_name complete_filed">City/Town*</span>
            </div><!-- end of City -->

            <div class="form-group col-sm-4 col-xs-12 rinput"><!-- start of State -->
              <select class="form-control" formControlName="state">
                  <option *ngFor="let item of response.states" [value]="item.title">{{item.title}}</option>
              </select>
              <!--input type="text" class="form-control" formControlName="state">
              <span *ngIf="rForm.controls.state.invalid && !rForm.controls.state.dirty" class="filed_name">State/Province*</span>
              <span *ngIf="rForm.controls.state.invalid && rForm.controls.state.dirty" class="filed_name error_span">Please enter State/Province!</span>
              <span *ngIf="rForm.controls.state.valid" class="filed_name complete_filed">State/Province*</span-->
            </div><!-- end of State -->

            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of emailAddress -->
              <input type="text" class="form-control" formControlName="email" (keyup)="upperToLower($event,'email');">
              <span *ngIf="rForm.controls.email.invalid && !rForm.controls.email.dirty" class="filed_name">Email*</span>
              <span *ngIf="rForm.controls.email.invalid && rForm.controls.email.dirty" class="filed_name error_span">Please enter a valid email id!</span>
              <span *ngIf="rForm.controls.email.valid" class="filed_name complete_filed">Email*</span>
            </div><!-- end of emailAddress -->

            <div class="form-group col-sm-6 col-xs-12 rinput"><!-- start of Mobilenumber -->
              <input type="text" class="form-control" formControlName="mobile">
              <span *ngIf="rForm.controls.mobile.invalid && !rForm.controls.mobile.dirty" class="filed_name">Mobile Number</span>
              <span *ngIf="rForm.controls.mobile.invalid && rForm.controls.mobile.dirty" class="filed_name error_span">Please enter mobile number!</span>
              <span *ngIf="rForm.controls.mobile.valid" class="filed_name complete_filed">Mobile Number*</span>
            </div><!-- end of Mobilenumber -->

            <div class="form-group col-sm-12 col-xs-12 rinput"><!-- start of Country -->
              <select class="form-control" formControlName="country">
                  <option *ngFor="let item of response.locations" [value]="item.title">{{item.title}}</option>
              </select>
            </div><!-- end of Country -->

			<div class="form-group col-sm-12 col-xs-12 text-right xs-no-padding"><!-- start of login_button -->
              <p class="col-sm-12 col-xs-12 text-center text-danger">{{msg}}</p>
              <button type="submit" class="btn from-left cart_btn" [disabled]="!rForm.valid">Submit</button>
              <button type="reset" class="btn from-left cart_btn">Reset</button>
              <button type="button" class="btn from-left cart_btn" (click)="initAddressForm();">Cancel</button>
            </div><!-- end of login_button -->
          </form><!-- end of form -->
        </div><!-- end of content -->
      </div><!-- end of right_part -->

    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->

