<section class="container-fluid content"><!-- start of middle_part -->
  <div class="container">
    <div class="row"><!-- start of row -->
      <app-left-menu></app-left-menu>
      <div class="col-md-9 col-sm-8 col-xs-12"><!-- start of right_part -->
        <div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
          <h3>My Reviews <span></span></h3>
        </div><!-- end of review_heading -->

		<div *ngIf="(reviews.length == 0) && !loader" class="col-sm-12 col-xs-12 no-padding margin-md-top"><!-- start of loader -->
			<p>0 review found!</p>
		</div><!-- end of loader -->
        <div class="col-sm-12 col-xs-12 no-padding"><!-- start of content -->
          <div *ngFor="let item of reviews" class="col-sm-12 col-xs-12 re_product_row review_detail_div"><!-- start of product_1 -->
            <div class="addcart_image"><!-- start of image -->              
              <a routerLink="/{{item.urlKey}}" target="_blank">
                <img [src]="((item.images.url !== undefined) && (item.images.url !== '')) ? item.images.url : 'assets/images/product/default/is-base.jpg'" [alt]="item.images.alt" class="center-block img-responsive" />
              </a>
            </div><!-- end of image -->

            <div class="addcart_detail review_detail"><!-- start of image_detail -->
              <p><a routerLink="/{{item.urlKey}}" target="_blank">{{item.title}}</a></p>
              <span class="review_date">Posted on {{item.reviews.created}}</span>
              <div class="detail_rating"><!-- start of rating -->
                <div class="starrr">
                  <i class="fa fa-star gradient_use color-star" *ngFor="let star of getFinalRating(item.reviews.finalRating)"></i>
                </div>
                <div class="starrr">
                  <i class="fa fa-star gradient_use" *ngFor="let star of getRemainingRating(item.reviews.finalRating)"></i>
                </div>
              </div><!-- end of rating -->
            </div><!-- end of image_detail -->
          </div><!-- end of product_1 -->
		  
        </div><!-- end of content -->
		
		<div *ngIf="loader" class="col-sm-12 col-xs-12 no-padding margin-md-top"><!-- start of loader -->
			<p class="col-xs-12 loader_msz">
				<i class="fa fa-spinner fa-spin"></i>
			</p>
		</div><!-- end of loader -->
		<div *ngIf="moreReviewsFlag" class="col-sm-12 col-xs-12 no-padding margin-md-top"><!-- start of loader -->
			<button (click)="loadMoreReviews();" class="btn from-right cart_btn btn_outline">
                View More
            </button>
		</div><!-- end of loader -->
		
		
      </div><!-- end of right_part -->

    </div><!-- end of row -->
  </div>
</section><!-- end of middle_part -->


<!-- start of page js -->
