	<div class="content index_2_div">
		
        <section *ngIf="!resultStatus" class="container-fluid">
        	<div class="container">
                <div class="col-sm-12 col-xs-12 xs-no-padding text-center">
					<img src="assets/images/gif-main2.gif">
                </div>
            </div>
        </section>
<!--- open for perfume -->    
						<ul [hidden]="1" itemscope itemtype="http://schema.org/BreadcrumbList">	
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemprop="item" routerLink="{{categoryLink}}"><span itemprop="name">{{categoryName}}</span></a>
								<meta itemprop="position" content="1" />
                            </li>
						</ul>
        <section *ngIf="brands['Mural-De-Ruitz']" class="container-fluid scent_shot_div brand_E brand_pattern"><!-- start of Mural De Ruitz -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['Mural-De-Ruitz']">
                            <h3>
                                Mural <span>De Ruitz</span>
                            </h3>
                            <p>
                                {{brands['Mural-De-Ruitz']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['Mural-De-Ruitz']['country_name']}} <span class="sold_text">{{brands['Mural-De-Ruitz']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['Mural-De-Ruitz']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['Mural-De-Ruitz']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a routerLink="Mural-De-Ruitz" class="product_img_div">
                        <img src="assets/images/brand/brand_new/mural-de-ruitz.png" class="img-responsive center-block" alt="Mural De Ruitz">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of Mural De Ruitz -->

        <section *ngIf="brands['chris-adams-perfumes']" class="container-fluid scent_shot_div brand_CA brand_pattern"><!-- start of chrish_adams -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['chris-adams-perfumes']">
                            <h3>
                                Chris <span>Adams</span>
                            </h3>
                            <p>
                                {{brands['chris-adams-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['chris-adams-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['chris-adams-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['chris-adams-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['chris-adams-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['chris-adams-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/chris_adams.png" class="img-responsive center-block" alt="Chris Adams">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of chrish_adams -->
    
        <section *ngIf="brands[perfumersclubKey]" class="container-fluid scent_shot_div brand_L brand_pattern"><!-- start of lomani -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="[perfumersclubKey]">
                            <h3>
                                Perfumers<span>Club</span>
                            </h3>
                            <p [innerHTML]="brands[perfumersclubKey]['tag_line']"></p>
                            <p>
                                Country : {{brands[perfumersclubKey]['country_name']}} 
								<span class="sold_text">{{brands[perfumersclubKey]['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands[perfumersclubKey]['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="[perfumersclubKey]" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="[perfumersclubKey]" class="product_img_div">
                        <img src="assets/images/brand/brand_new/perfumersclub.png" class="img-responsive center-block" alt="Lomani">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of lomani  "1730206660567663"  "eaddd2b6bb1b27f5a88c9226092bf693" -->

        <section *ngIf="brands['new-nb-perfumes']" class="container-fluid scent_shot_div brand_NNB brand_pattern"><!-- start of new_nb -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div [@perfumeNewNBFadeInDown]="perfumeNewNBFadeInDown" class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['new-nb-perfumes']">
                            <h1>
                                New <span>NB</span>
                            </h1>
                            <p>
                                {{brands['new-nb-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['new-nb-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['new-nb-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['new-nb-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['new-nb-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [@perfumeNewNBFadeInUp]="perfumeNewNBFadeInUp" routerLink="new-nb-perfumes" class="product_img_div">
                        <img src="assets/images/brand/brand_new/new_nb.png" class="img-responsive center-block" alt="New NB">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of new_nb -->
        
        <section *ngIf="brands['lomani-perfumes']" class="container-fluid scent_shot_div brand_L brand_pattern"><!-- start of lomani -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['lomani-perfumes']">
                            <h3>
                                Lomani
                            </h3>
                            <p [innerHTML]="brands['lomani-perfumes']['tag_line']"></p>
                            <p>
                                Country : {{brands['lomani-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['lomani-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['lomani-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['lomani-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a routerLink="lomani-perfumes" class="product_img_div">
                        <img src="assets/images/brand/brand_new/lomani.png" class="img-responsive center-block" alt="Lomani">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of lomani  "1730206660567663"  "eaddd2b6bb1b27f5a88c9226092bf693" -->
    
        <section *ngIf="brands['louis-cardin-perfumes']" class="container-fluid scent_shot_div brand_LC brand_pattern"><!-- start of louis_cardin -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['louis-cardin-perfumes']">
                            <h3>
                                Louis <span>Cardin</span>
                            </h3>
                            <p>
                                {{brands['louis-cardin-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['louis-cardin-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['louis-cardin-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['louis-cardin-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['louis-cardin-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a routerLink="louis-cardin-perfumes" class="product_img_div">
                        <img src="assets/images/brand/brand_new/louis_cardin.png" class="img-responsive center-block" alt="Louis Cardin">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of louis_cardin -->
    
        <section *ngIf="brands['colourme-perfumes']" class="container-fluid scent_shot_div brand_CME brand_pattern"><!-- start of color_me -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['colourme-perfumes']">
                            <h3>
                                Colour <span>Me</span>
                            </h3>
                            <p>
                                {{brands['colourme-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['colourme-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['colourme-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['colourme-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['colourme-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a routerLink="colourme-perfumes" class="product_img_div">
                        <img src="assets/images/brand/brand_new/color_me.png" class="img-responsive center-block" alt="Color Me">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of color_me -->
    
        <section *ngIf="brands['Rich-and-Ruitz-Perfumes']" class="container-fluid scent_shot_div brand_PC brand_pattern"><!-- start of perfumer_choice -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['Rich-and-Ruitz-Perfumes']">
                            <h3>
                                Rich & Ruitz
                            </h3>
                            <p>
                                {{brands['Rich-and-Ruitz-Perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['Rich-and-Ruitz-Perfumes']['country_name']}} 
								<span class="sold_text">{{brands['Rich-and-Ruitz-Perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['Rich-and-Ruitz-Perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['Rich-and-Ruitz-Perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a routerLink="Rich-and-Ruitz-Perfumes" class="product_img_div">
                        <img src="assets/images/brand/brand_new/rich-ruitz.png" class="img-responsive center-block" alt="Rich & Ruitz">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of perfumer_choice -->
    
        <section *ngIf="brands['creation-perfumes']" class="container-fluid scent_shot_div brand_C brand_pattern"><!-- start of creation -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['creation-perfumes']">
                            <h3>
                                Creation
                            </h3>
                            <p>
                                {{brands['creation-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['creation-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['creation-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['creation-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['creation-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['creation-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/creation.png" class="img-responsive center-block" alt="Creation">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of creation -->
    
        <section *ngIf="brands['perfumes-choice-perfumes']" class="container-fluid scent_shot_div brand_PC brand_pattern"><!-- start of perfumer_choice -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['perfumes-choice-perfumes']">
                            <h3>
                                Perfumer&rsquo;s <span>Choice</span>
                            </h3>
                            <p>
                                {{brands['perfumes-choice-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['perfumes-choice-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['perfumes-choice-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['perfumes-choice-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['perfumes-choice-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['perfumes-choice-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/perfumer's_choice.png" class="img-responsive center-block" alt="Perfumer's Choice">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of perfumer_choice -->
    
        <section *ngIf="brands['mpf-perfumes']" class="container-fluid scent_shot_div brand_EB brand_pattern"><!-- start of mpf -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding"><!-- start of upper_part -->
                        <a [routerLink]="['mpf-perfumes']">
                            <h3>
                                MPF
                            </h3>
                            <p>
                                {{brands['mpf-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['mpf-perfumes']['country_name']}} <span class="sold_text">{{brands['mpf-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['mpf-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['mpf-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['mpf-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/mpf.png" class="img-responsive center-block" alt="MPF">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of mpf -->
		
        <section *ngIf="brands['baugsons-perfumes']" class="container-fluid scent_shot_div brand_BS brand_pattern"><!-- start of boug_sons -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['baugsons-perfumes']">
                            <h3>
                                Baug <span>Sons</span>
                            </h3>
                            <p>
                                {{brands['baugsons-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['baugsons-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['baugsons-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['baugsons-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['baugsons-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['baugsons-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/baug_sons.png" class="img-responsive center-block" alt="Baug Sons">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of boug_sons -->
    
        <section *ngIf="brands['otoori-perfumes']" class="container-fluid scent_shot_div brand_O brand_pattern"><!-- start of otoori -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['otoori-perfumes']">
                            <h3>
                                Otoori
                            </h3>
                            <p>
                                {{brands['otoori-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['otoori-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['otoori-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['otoori-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['otoori-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['otoori-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/otoori.png" class="img-responsive center-block" alt="Otoori">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of otoori -->
        
		<section *ngIf="brands['maryaj-perfumes']" class="container-fluid scent_shot_div brand_M brand_pattern"><!-- start of maryaj -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['maryaj-perfumes']">
                            <h3>
                                Maryaj
                            </h3>
                            <p>
                                {{brands['maryaj-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['maryaj-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['maryaj-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['maryaj-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['maryaj-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['maryaj-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/marayaj.png" class="img-responsive center-block" alt="Marayaj">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of maryaj -->
    
        <section *ngIf="brands['emper-perfumes']" class="container-fluid scent_shot_div brand_emper brand_pattern"><!-- start of emper -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['emper-perfumes']">
                            <h3>
                                Emper
                            </h3>
                            <p>
                                {{brands['emper-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['emper-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['emper-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['emper-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['emper-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['emper-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/emper.png" class="img-responsive center-block" alt="Emper">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of emper -->
    
        <section *ngIf="brands['english-blazer-perfumes']" class="container-fluid scent_shot_div brand_EB brand_pattern"><!-- start of english_blazer -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['english-blazer-perfumes']">
                            <h3>
                                English <span>Blazer</span>
                            </h3>
                            <p>
                                {{brands['english-blazer-perfumes']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['english-blazer-perfumes']['country_name']}} 
								<span class="sold_text">{{brands['english-blazer-perfumes']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['english-blazer-perfumes']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['english-blazer-perfumes']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['english-blazer-perfumes']" class="product_img_div">
                        <img src="assets/images/brand/brand_new/english_blazer.png" class="img-responsive center-block" alt="English Blazer">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of english_blazer -->
    
<!--- closed for perfume -->

<!--- open for deo -->    
        <section *ngIf="brands['chris-adams-deodorant']" class="container-fluid scent_shot_div brand_CA brand_pattern"><!-- start of chrish_adams -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['chris-adams-deodorant']">
                            <h3>
                                Chris <span>Adams</span>
                            </h3>
                            <p>
                                {{brands['chris-adams-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['chris-adams-deodorant']['country_name']}} <span class="sold_text">{{brands['chris-adams-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['chris-adams-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['chris-adams-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['chris-adams-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/chris-adams.png" class="img-responsive center-block" alt="Chris Adams">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of chrish_adams -->
    
        <section *ngIf="brands['new-nb-deodorant']" class="container-fluid scent_shot_div brand_NNB brand_pattern"><!-- start of new_nb -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div [@perfumeNewNBFadeInDown]="perfumeNewNBFadeInDown" class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['new-nb-deodorant']">
                            <h1>New <span>NB</span></h1>
                            <p>
                                {{brands['new-nb-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['new-nb-deodorant']['country_name']}}  <span class="sold_text">{{brands['new-nb-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['new-nb-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['new-nb-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [@perfumeNewNBFadeInUp]="perfumeNewNBFadeInUp" routerLink="new-nb-deodorant" class="product_img_div">
                        <img src="assets/images/brand/deo/new-nb.png" class="img-responsive center-block" alt="New NB">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of new_nb -->
    
        <section *ngIf="brands['colourme-deodorant']" class="container-fluid scent_shot_div brand_CME brand_pattern"><!-- start of color_me -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['colourme-deodorant']">
                            <h3>
                                Colour <span>Me</span>
                            </h3>
                            <p>
                                {{brands['colourme-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['colourme-deodorant']['country_name']}} <span class="sold_text">{{brands['colourme-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['colourme-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['colourme-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['colourme-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/colorme.png" class="img-responsive center-block" alt="Color Me">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of color_me -->
    
        <section *ngIf="brands['lomani-deodorant']" class="container-fluid scent_shot_div brand_L brand_pattern"><!-- start of lomani -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['lomani-deodorant']">
                            <h3>
                                Lomani
                            </h3>
                            <p>
                                {{brands['lomani-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['lomani-deodorant']['country_name']}} <span class="sold_text">{{brands['lomani-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['lomani-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['lomani-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['lomani-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/lomani.png" class="img-responsive center-block" alt="Lomani">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of lomani -->
    
        <section *ngIf="brands['louis-cardin-deodorant']" class="container-fluid scent_shot_div brand_LC brand_pattern"><!-- start of louis_cardin -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['louis-cardin-deodorant']">
                            <h3>
                                Louis <span>Cardin</span>
                            </h3>
                            <p>
                                {{brands['louis-cardin-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['louis-cardin-deodorant']['country_name']}} <span class="sold_text">{{brands['louis-cardin-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['louis-cardin-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['louis-cardin-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['louis-cardin-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/louis-cardin.png" class="img-responsive center-block" alt="Louis Cardin">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of louis_cardin -->
    
        <section *ngIf="brands['baugsons-deodorant']" class="container-fluid scent_shot_div brand_BS brand_pattern"><!-- start of boug_sons -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['baugsons-deodorant']">
                            <h3>
                                Boug <span>Sons</span>
                            </h3>
                            <p>
                                {{brands['baugsons-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['baugsons-deodorant']['country_name']}} <span class="sold_text">{{brands['baugsons-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['baugsons-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['baugsons-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['baugsons-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/baugsons.png" class="img-responsive center-block" alt="Baug Sons">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of boug_sons -->
    
        <section *ngIf="brands['english-blazer-deodorant']" class="container-fluid scent_shot_div brand_C brand_pattern"><!-- start of english-blazer -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['english-blazer-deodorant']">
                            <h3>
                                English <span>Blazer</span>
                            </h3>
                            <p>
                                {{brands['english-blazer-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['english-blazer-deodorant']['country_name']}} <span class="sold_text">{{brands['english-blazer-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['english-blazer-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['english-blazer-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['english-blazer-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/english-blazer.png" class="img-responsive center-block" alt="English Blazer">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of english-blazer -->
    
        <section *ngIf="brands['hotice-deodorant']" class="container-fluid scent_shot_div brand_M brand_pattern"><!-- start of Hotice -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div content_div_white xs-no-padding">
                        <a [routerLink]="['hotice-deodorant']">
                            <h3>
                                Hotice
                            </h3>
                            <p>
                                {{brands['hotice-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['hotice-deodorant']['country_name']}} <span class="sold_text">{{brands['hotice-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['hotice-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['hotice-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['hotice-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/hotice.png" class="img-responsive center-block" alt="Hotice">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of Hotice -->
    
        <section *ngIf="brands['jdman-deodorant']" class="container-fluid scent_shot_div brand_PC brand_pattern"><!-- start of jd-man -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['jdman-deodorant']">
                            <h3>
                                Jd <span>man</span>
                            </h3>
                            <p>
                                {{brands['jdman-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['jdman-deodorant']['country_name']}} <span class="sold_text">{{brands['jdman-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['jdman-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['jdman-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['jdman-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/jd-man.png" class="img-responsive center-block" alt="Jd Man">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of jd-man -->
    
        <section *ngIf="brands['america-deodorant']" class="container-fluid scent_shot_div brand_E brand_pattern"><!-- start of america -->
        	<div class="container">
                <div class="col-sm-4 col-xs-12 col-sm-push-8 col-xs-push-0 xs-no-padding"><!-- start of image_detail -->
                    <div class="col-sm-12 col-xs-12 content_div xs-no-padding">
                        <a [routerLink]="['america-deodorant']">
                            <h3>
                                America
                            </h3>
                            <p>
                                {{brands['america-deodorant']['tag_line']}}
                            </p>
                            <p>
                                Country : {{brands['america-deodorant']['country_name']}} <span class="sold_text">{{brands['america-deodorant']['sold']}} Sold</span>
                            </p>
                            <p class="brand_price">
                                Starting From <span><i class="fa fa-rupee"></i>{{brands['america-deodorant']['start_price']}}</span>
                            </p>
                        </a>
                        <a [routerLink]="['america-deodorant']" class="btn btn-div-more"><span>See All</span></a>
                    </div><!-- end of upper_part -->
                </div><!-- end of image_detail -->
                
                <div class="col-sm-8 col-xs-12 col-sm-pull-4 col-xs-pull-0 overflow_hidden"><!-- start of image_part -->
                    <a [routerLink]="['america-deodorant']" class="product_img_div">
                        <img src="assets/images/brand/deo/america.png" class="img-responsive center-block" alt="america">
                    </a>
                </div><!-- end of image_part -->
            </div>
        </section><!-- end of america -->
<!--- close for deo -->    
    
    </div>
    