    <section class="container-fluid content"><!-- start of middle_part -->
        <div class="container">
            <div class="row"><!-- start of row -->
                <app-left-menu></app-left-menu>
                
                <div class="col-md-9 col-sm-8 col-xs-12"><!-- start of right_part -->
                    <div class="col-xs-12 no-padding review_heading"><!-- start of review_heading -->
                        <h3>Order Detail <span></span></h3>
                    </div><!-- end of review_heading -->
                    
                    <div #getInvoicePdf class="col-sm-12 col-xs-12 no-padding order_detail"><!-- start of content -->
                        
                        <p class="col-sm-12 col-xs-12 no-padding back_btn"><!-- start of top_contetn -->
                            <button class="btn from-left cart_btn btn_outline" (click)="goBack();">Back</button>
                        </p><!-- end of top_contetn -->
                        
                        <p class="col-sm-12 col-xs-12 no-padding"><!-- start of top_contetn -->
                        	Order on {{orderDetails.created}} &nbsp;|&nbsp; Order # {{orderDetails.id}} 
							<span *ngIf="orderDetails.tracking_link != '' && orderDetails.tracking_link != null">&nbsp;|&nbsp;<a [href]="orderDetails.tracking_link" target="_blank">Track Order</a></span>
							<!--button class="btn btn-div-cart btn-1e margin-bottom" (click)="getInvoice(orderDetails.id);">Invoice</button-->
							<button class="btn btn-1e margin-bottom" (click)="reOrders(orderDetails.id);">Re-Order</button>
                        </p><!-- end of top_contetn -->
                        
                        <div class="col-sm-12 col-xs-12 detail_content"><!-- start of middle_contetn -->
                        	<div class="col-sm-4 col-xs-12 no-padding-left xs-no-padding"><!-- start of col_1 -->
                            	<p>
                                	<b>Shipping Address</b>
                                </p>
                                <p>{{orderDetails.shipping_firstname + ' ' +orderDetails.shipping_lastname}}</p>
                                <p>{{orderDetails.shipping_address}} <br> {{orderDetails.shipping_city}} <br> {{orderDetails.shipping_state}}, {{orderDetails.shipping_pincode}}, <br> {{orderDetails.shipping_country}}.</p>
                            </div><!-- end of col_1 -->
                            
                        	<div class="col-sm-4 col-xs-12 no-padding-left xs-no-padding"><!-- start of col_2 -->
                            	<p>
                                	<b>Payment Method</b>
                                </p>
                                <p>{{ (orderDetails.payment_method) ? orderDetails.payment_method : 'N/A'}}</p>
                            </div><!-- end of col_2 -->
                            
                        	<div class="col-sm-4 col-xs-12 no-padding-right xs-no-padding"><!-- start of col_3 -->
                            	<p class="col-sm-12 col-xs-12 no-padding">
                                	<b>Order Summary</b>
                                </p>
                                
                                <div class="col-sm-12 col-xs-12 no-padding"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left">Item(s) Subtotal</p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right"><label [innerHTML]="orderDetails.price_logo"></label>{{(orderDetails.product_total + orderDetails.mode_amount) | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                                
                                <div class="col-sm-12 col-xs-12 no-padding"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left">Shipping</p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right"><label [innerHTML]="orderDetails.price_logo"></label>{{orderDetails.ship_amount | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                                
                                <div class="col-sm-12 col-xs-12 no-padding" *ngIf="orderDetails.modeAmount > 0"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left">Mode Amount</p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right"><label [innerHTML]="orderDetails.price_logo"></label>{{orderDetails.mode_amount | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                                
                                <div class="col-sm-12 col-xs-12 no-padding"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left">Total</p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right"><label [innerHTML]="orderDetails.price_logo"></label>{{(orderDetails.product_total + orderDetails.ship_amount + orderDetails.mode_amount) | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                                
                                <div class="col-sm-12 col-xs-12 no-padding"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left">Discount</p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right">-<label [innerHTML]="orderDetails.price_logo"></label>{{orderDetails.discount | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                                
                                <div class="col-sm-12 col-xs-12 no-padding"><!-- start of price_list -->
                                	<p class="col-sm-7 col-xs-7 no-padding-left"><b>Grand Total</b></p>
                                	<p class="col-sm-5 col-xs-5 no-padding-right text-right"><label [innerHTML]="orderDetails.price_logo"></label>{{orderDetails.payment_amount | number:'3.2-2'}}</p>
                                </div><!-- end of price_list -->
                            </div><!-- end of col_3 -->
                        </div><!-- end of middle_contetn -->
                        
                        <div class="col-sm-12 col-xs-12 order_bottom_div order_re_order"><!-- start of bottom_part -->
                            
							<div *ngFor="let list of orderDetails.order_details" class="col-sm-12 col-xs-12 no-padding re_product_row"><!-- start of product_1 -->
                                <div class="addcart_image"><!-- start of image -->
									<img [src]="(list.product.image !='') ? list.product.image : 'assets/images/product/default/is-small.jpg'" [alt]="list.title" class="center-block img-responsive">
                                </div><!-- end of image -->
                                
                                <div class="addcart_detail"><!-- start of image_detail -->
                                    <p><a target="_blank" routerLink="/{{list.product.url_key}}">{{list.title}}</a></p>
                                    <span class="product_size">Size: {{list.size}}</span>
                                    <p>Qty {{list.quantity}}</p>
                                </div><!-- end of image_detail -->
                            </div><!-- end of product_1 -->
                        </div><!-- end of bottom_part -->
                    </div><!-- end of content -->
                </div><!-- end of right_part -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
    