html, body{margin: 0px; padding: 0px; font-family: 'Roboto Condensed', sans-serif; color:rgba(0, 0, 0, 0.7);}
body{margin: 0px; padding: 0px; font-family: 'Roboto Condensed', sans-serif; letter-spacing:0.5px;}

/* background css */
.no-bg{background: none;}
.bg-white{background:#ffffff;}
.bg-gray{background:#f2f2f2;}
.bg-black{background:#000000;}
.bg-yellow{background:#fbb64f;}
.bg-light-yellow{background:#fdff33;}
.bg-cgreen{background:#ed1b62;}
.bg-pink{background:#f0004b;}
.bg-d-pink{background:#ff5983;}
.bg-cgreen{background:#4b6c99;}
.bg-d-red{background:#101820;}
.bg-purple{background:#9664c7;}
.bg-d-blue{background:#0f1e3f;}
.bg-d-brown{background:#31251c;}
.bg-l-brown{background:#775325;}

/* text-color css */
.text-white{color:#fff;}
.text-yellow{color:#fbb64f;}
.text-light-yellow{color:#fdff33;}
.text-d-pink{color:#ff5983;}
.text-cgreen{color:#ed1b62;}
.text-d-red{color:#101820;}
.text-purple{color:#9664c7;}
.text-d-blue{color:#0f1e3f;}

.text-d-brown{color:#31251c;}
.text-l-brown{color:#775325;}
.text-l-gray{color:rgba(0,0,0,0.4);}

/* shadow css */
.no-box-shadow{box-shadow:none;}
.box-shadow{box-shadow: 0 0 5px rgba(0, 0, 0, .2);}

/* border css */
.no-border{border: none;}
.no-border-right{border-right:none;}
.border-right{border-right: 1px solid #eaeaea;}
.no-border-left{border-left:none;}
.border-left{border-left: 1px solid #eaeaea;}
.no-border-top{border-top:none;}
.border-top{border-top: 1px solid #eaeaea;}
.no-border-bottom{border-bottom:none;}
.border-bottom{border-bottom: 1px solid #eaeaea;}
.sq-border-transparent{border: 1px solid transparent;}
.sq-border{border: 1px solid #eaeaea;}

/* padding css */
.no-padding{padding:0px;}
.no-padding-right{padding-right: 0px;}
.padding-right{padding-right: 10px;}
.padding-md-right{padding-right: 20px;}
.padding-lg-right{padding-right: 30px;}
.padding-xlg-right{padding-right: 40px;}
.no-padding-left{padding-left: 0px;}
.padding-left{padding-left: 10px;}
.padding-md-left{padding-left: 20px;}
.padding-lg-left{padding-left: 30px;}
.padding-xlg-left{padding-left: 40px;}
.no-padding-top{padding-top: 0px;}
.padding-top{padding-top: 10px;}
.padding-md-top{padding-top: 20px;}
.padding-lg-top{padding-top: 30px;}
.padding-xlg-top{padding-top: 40px;}
.no-padding-bottom{padding-bottom: 0px;}
.padding-bottom{padding-bottom: 10px;}
.padding-md-bottom{padding-bottom: 20px;}
.padding-lg-bottom{padding-bottom: 30px;}
.padding-xlg-bottom{padding-bottom: 40px;}

/* margin css */
.no-margin{margin:0px !important;}
.no-margin-top{margin-top:0px;}
.margin-top {margin-top: 10px;}
.margin-md-top {margin-top: 20px;}
.margin-lg-top {margin-top: 30px;}
.margin-xlg-top {margin-top: 40px;}
.no-margin-bottom{margin-bottom:0px;}
.margin-bottom {margin-bottom: 10px;}
.margin-md-bottom {margin-bottom: 20px;}
.margin-lg-bottom {margin-bottom: 30px;}
.margin-xlg-bottom {margin-bottom: 40px;}
.no-margin-left {margin-left: 0px;}
.margin-left {margin-left: 10px;}
.margin-md-left {margin-left: 20px;}
.margin-lg-left {margin-left: 30px;}
.margin-xlg-left {margin-left: 40px;}
.no-margin-right {margin-right: 0px;}
.margin-right {margin-right: 10px;}
.margin-md-right {margin-right: 20px;}
.margin-lg-right {margin-right: 30px;}
.margin-xlg-right {margin-right: 40px;}
.top_arrow{margin:30px 0;}

/* font css */
.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-17{font-size:17px;}
.font-18{font-size:18px;}
.font-19{font-size:19px;}
.font-20{font-size:20px;}

a:focus, .btn:focus, :focus{outline:none;}
/* button css */
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* start of button css */
.btn_price, .sold_product{position:relative; display:block; width:100%; float:left; text-align:center; padding-top:15px;}
.btn_price .btn{display:inline-block; background:#00a9bd; color:#fff; font-size:14px; font-weight:bold; padding:0; border-radius:0px; z-index:1; position:relative; height:40px; line-height:40px; border:0; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;
	background: -moz-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background:-webkit-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background: linear-gradient(to right, #005586 0%, #00a9bd 100%);
}
.btn_price .btn span{display:inline-block; float:left; padding:0px 15px; position:relative;}
.btn_price .btn span + span:before{content:"|"; color:rgba(256,256,256,0.6); font-size:14px; position:absolute; left:-1px; top:50%; transform:translateY(-50%);}
.btn_price .btn span .fa{font-size:14px; padding-right:2px;}
.btn_price .btn span del{font-size:12px; display:inline-block; padding-right:6px; color:#000000; font-weight:500;}
.btn_price .btn span del .fa{font-size:12px;}
.btn_price .btn:hover span del{color:#000000; transition-delay: .4s;}

.cart_btn{display:inline-block; background:#00a9bd; color:#fff; font-size:16px; font-weight:700; padding:0 25px; height:40px; line-height:40px; border-radius:0px; z-index:1; position:relative; border:0; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;
	background: -moz-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background:-webkit-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background: linear-gradient(to right, #005586 0%, #00a9bd 100%);
}
.btn_outline{background:none; border:1px solid #28373f; color:#28373f;}
.btn_checkout{display:inline-block; background:#00a9bd; color:#fff; font-size:16px; font-weight:700; padding:0 25px; height:40px; line-height:40px; border-radius:0px; z-index:1; position:relative; border:0; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%, #ed1b62 100%);
}
/* start of cartpoup checkout btn */
ul.nav_menu li.dropdown_1.open a.btn_checkout{background:#00a9bd; color:#fff; font-weight:500;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%, #ed1b62 100%); color:#fff;
}
ul.nav_menu li.dropdown_1.open a.btn_checkout:focus, ul.nav_menu li.dropdown_1.open a.btn_checkout:hover{
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%, #ed1b62 100%); color:#fff;
}
.cart_btn:focus, .btn_checkout:focus{color:#fff;}
.btn_outline:focus{color:#00a9bd;}

.btn-div-subscribe{font-size:14px; height:36px; line-height:35px;}
.btn-div-subscribe:hover, .btn-div-subscribe:focus, .btn-div-subscribe:active{color:#fff; z-index:2; outline:none;}

.btn-search-outline{background:#fff; color:#575757; font-size:18px; padding:5px 15px; border:1px solid #ccc; border-radius:0px; text-transform:uppercase; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.btn-search-outline:hover, .btn-search-outline:focus, .btn-search-outline:active{color:#fff; background:#fff; border:1px solid #4b6c99; z-index:2; outline:none;}

.btn-category{display:inline-block; padding-left:10px;}
.btn-category .btn{background:rgba(256,256,256,0.7); color:rgba(0, 0, 0, 0.5); font-size:18px; padding:5px 25px; border:1px solid rgba(0,0,0,0.3); border-radius:0px; text-transform:capitalize; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.btn-category .btn:hover, .btn-category .btn:focus, .btn-category .btn:active{border:1px solid rgba(0,0,0,1); color:#424242; outline:none;}

.btn-div-facebook{background:#455987; color:#fff; font-size:16px; font-weight:bold; border-radius:20px; padding:5px 20px 8px; text-transform:uppercase; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.btn-div-facebook:hover, .btn-div-facebook:focus, .btn-div-facebook:active{background:#383838; color:#fff; outline:none;}

.btn-div-googleplus{background:#DD4D31; color:#fff; font-size:16px; font-weight:bold; border-radius:20px; padding:5px 20px 8px; text-transform:uppercase; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.btn-div-googleplus:hover, .btn-div-googleplus:focus, .btn-div-googleplus:active{background:#383838; color:#fff; outline:none;}

.btn-no-border{background:#fff; color:#000000; font-size:14px; border:none; padding:2px 0; margin-right:15px; border-radius:0px; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.btn-no-border i{padding-right:5px;}
.btn-no-border:hover, .btn-no-border:focus, .btn-no-border:active{color:#4b6c99; background:#fff; z-index:2; outline:none;}

/* start of button effect css */
.cart_btn:before, .btn_price .btn:before{content: ''; position: absolute; transition: inherit; z-index: -1;}
.cart_btn:hover, .btn_price .btn:hover {transition-delay: .6s; color:#fff;}
.cart_btn:hover:before, .btn_price .btn:hover:before {transition-delay: 0s;}
.cart_btn:hover:after, .btn_price .btn:hover:after {transition-delay: .4s;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%, #ed1b62 100%);
}
/* start of checkout_btn */
.btn_checkout:before{content: ''; position: absolute; transition: inherit; z-index: -1;}
.btn_checkout:hover{transition-delay: .6s; color:#fff;}
.btn_checkout:hover:before{transition-delay: 0s;}
.btn_checkout:hover:after{transition-delay: .4s;
	background: -moz-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background:-webkit-linear-gradient(left, #005586 0%, #00a9bd 100%);
	background: linear-gradient(to right, #005586 0%, #00a9bd 100%);
}
/* From Left */
.from-left:before, .from-left:after, .from-left-checkout:before, .from-left-checkout:after {top: 0; width: 0; height: 100%;}
.from-left:before {right: 0; border: 2px solid #005586; border-left: 0; border-right: 0;}
.from-left-checkout:before{right: 0; border: 2px solid #005586; border-left: 0; border-right: 0;}
.from-left:after, .from-left-checkout:after {left: 0;}
.from-left:hover:before, .from-left:hover:after, .from-left-checkout:hover:before, .from-left-checkout:hover:after {width: 100%;}
/* From Right */
.from-right:before, .from-right:after, .from-right-checkout:before, .from-right-checkout:after {top: 0; width: 0; height: 100%;}
.from-right:before {left: 0; border: 2px solid #005586; border-left: 0; border-right: 0;}
.from-right-checkout:before{left: 0; border: 2px solid #005586; border-left: 0; border-right: 0;}
.from-right:after, .from-right-checkout:after {right: 0;}
.from-right:hover:before, .from-right:hover:after, .from-right-checkout:hover:before, .from-right-checkout:hover:after {width: 100%;}

/* heading css */
.main_heading h3{text-align:center; margin-top:0; text-transform:uppercase; margin-bottom:7px;}
.main_heading h1{text-align:center; margin-top:0; text-transform:uppercase; margin-bottom:7px;}
.main_heading p{text-align:center; margin-top:0; text-transform:uppercase; margin-bottom:5px; color:rgba(0, 0, 0, 0.6); font-family: 'Roboto Condensed', sans-serif; font-size:14px; letter-spacing:1px; font-weight:500;}
.main_heading span{color:#28373f; display:inline-block; font-size:36px; font-weight:700; position:relative;}
.main_heading span img{position:absolute; top:-7px; left:-20px; width:50px; opacity:0.5;}
.review_heading h3{font-size:20px; color:#28373f; margin-bottom:15px; margin-top:0px; padding:0px 0 15px; position:relative; border-bottom:1px solid #ccc; font-weight:700; text-transform:uppercase;}
.review_heading h3 span{position:absolute; left:0; bottom:-1px; width:80px; height:3px; background:#28373f;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%,#ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%,#ed1b62 100%);
}

/* start of header css*/
/*#wrapper .container #sidebar-wrapper{position:relative; right:85px; z-index:2;}
#wrapper .container .navbar-header{position:relative; z-index:3;}*/
.nav_div{padding:15px 0 0; background:#fff; position:relative; border:none; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}

.nav_div:after{content:""; position:absolute; bottom:0; height:3px; width:100%;
	background:#8b3390;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 33%, #005586 33%, #00a9bd 67%, #f7961d 67%, #fcd504 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%,#ed1b62 33%,#005586 33%,#00a9bd 67%,#f7961d 67%,#fcd504 100%);
	background: linear-gradient(to right, #8b3390 0%,#ed1b62 33%,#005586 33%,#00a9bd 67%,#f7961d 67%,#fcd504 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b3390', endColorstr='#fcd504',GradientType=1 );
	font-size:0px;
	}

.sticky-nav.nav_div{background:#fff; box-shadow:0 2px 5px rgba(0, 0, 0, 0.3); padding:0;}
.sticky-nav.nav_div #sidebar-wrapper{margin-top:0;}
ul.nav_menu li a{color:rgba(0,0,0,0.7); font-size:14px; font-weight:500; width:auto; min-width:auto; box-shadow:none; border:none; font-family: 'Roboto Condensed', sans-serif; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.nav_menu li ul.dropdown-menu_new{border:none;}
ul.nav_menu li ul.dropdown-menu_new li a{padding:8px 15px;}
ul.nav_menu li.dropdown a span{position: relative;top: -7px;left: -5px;font-size: 9px;width: 15px;height: 15px;background: #ed1b62;border-radius: 50%;display: inline-block;text-align: center;line-height: 15px; color:#fff;}
ul.nav_menu li.login_register_link{display:flex; justify-content:space-between;
	background: -moz-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ed1b62 100%);
	background: linear-gradient(to right, #8b3390 0%, #ed1b62 100%);
}
ul.nav_menu li.login_register_link span{display:inline-block; position:relative;}
ul.nav_menu li.login_register_link span a{color:#fff; font-weight:500; display:block; text-decoration:none; transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
ul.nav_menu li.login_register_link span + span:before{content:"|"; position:absolute; left:-11px; top:8px; color:rgba(256,256,256,0.7); font-size:14px;}
ul.nav_menu li.login_register_link span a:hover{color:#fcd504}
#sidebar-wrapper{border-top:1px solid #999; margin-top:20px; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.nav_menu_1{display:table; float:none; margin:0 auto;}
ul.nav_menu_1 li a{color:#575757; font-size:16px; font-weight:400; letter-spacing:0.4px; width:auto; min-width:auto; box-shadow:none; border:none; padding:10px 25px; text-transform:uppercase; font-family: 'Roboto Condensed', sans-serif; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.nav_menu li.dropdown + li.dropdown:before{content:"|"; color:rgba(0,0,0,0.4); font-size:16px; position:absolute; left:-1px; top:13px; font-family: 'Roboto Condensed', sans-serif;}
ul.nav_menu_1 li.dropdown + li.dropdown:before{content:"|"; color:rgba(0,0,0,0.4); font-size:16px; position:absolute; left:-1px; top:8px; font-family: 'Roboto Condensed', sans-serif;}
/*ul.nav_menu li:hover a, ul.nav_menu li.open a, ul.nav_menu li.open a:hover, ul.nav_menu li.open a:focus, ul.nav_menu li a:hover, ul.nav_menu li a:focus{background:none; color:#ed1b62;}*/
ul.nav_menu li a:hover, ul.nav_menu li a:focus, ul.nav_menu_1 li a:hover, ul.nav_menu_1 li a:focus, ul.nav_menu li.dropdown_1.open a, ul.nav_menu li.dropdown_1.open a:hover, ul.nav_menu li.dropdown_1.open a:focus{background:none; color:#ed1b62;}
ul.nav_menu li.dropdown_1.open a.affix, ul.nav_menu li.dropdown_1.open a.affix:hover, ul.nav_menu li.dropdown_1.open a.affix:focus{background:#28373f; color:#ed1b62;}
li div.dropdown-menu_1{padding:10px; width:auto; min-width:300px; border-width:0px 0 0 0; border-style:solid; border-color:#28373f; border-radius:0px; font-family: 'Roboto Condensed', sans-serif; z-index:0; transform:translateY(50px); opacity:0; display:block; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
/* start of cart_dropdown effect */
li.open div.dropdown-menu_1{transform:translateY(0); opacity:1; z-index:100;}
li a.affix + div.dropdown-menu_1{position:fixed; top:0; transform:translateY(95px);}
li.open a.affix + div.dropdown-menu_1{transform:translateY(55px); opacity:1; z-index:100;}
li div.dropdown-menu_1 .shopping_arow{display:none;}
/* end of cart_dropdown effect */
.detail{padding:0px; border-width:1px 0px; border-style:solid; border-color:#666666; border-bottom-color:rgba(0,0,0,0.08); margin-bottom:10px;}
.cart_item{padding:8px 8px; border-bottom:1px solid rgba(0,0,0,0.08);}
.cart_item:last-child{border-bottom:0px;}
.cart_item .cart_image{float:left; margin-right:10px; width:60px;}
/*.cart_item .cart_image img{width:60px;}*/
.cart_item .cart_detail{display:block; overflow:hidden; position:relative;}
.cart_item .cart_detail h3{font-size:15px; margin:5px 0; font-family: 'Roboto Condensed', sans-serif;}
.cart_item .cart_detail p{font-size:13px; color:rgba(0, 0, 0, 0.7); font-family: 'Roboto Condensed', sans-serif;}
.cart_item .cart_detail h4{font-size:16px; color:#ed1b62; text-align:right; margin-bottom:5px; font-family: 'Roboto Condensed', sans-serif;}
.cart_detail .item_close{position:absolute; right:-10px; top:0px;}
.cart_total{padding:0 8px; font-family: 'Roboto Condensed', sans-serif;}
.item_close button{opacity:1; color:#000000; font-size:17px; padding:0.5em 0.6em; background:none; border:0px; position:absolute; z-index:1; top:10px; right:5px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.item_close button .icon_cross:nth-of-type(1) {width:14px; height:1px; position:relative; display:block; background:rgba(0, 0, 0, 0.3); margin-bottom:2px; transform:rotate(45deg);}
.item_close button .icon_cross:nth-of-type(2) {width:14px; height:1px; position:relative; display:block; background:rgba(0, 0, 0, 0.3); margin:-3px 0 2px 0; transform:rotate(-45deg);}
.item_close button:hover .icon_cross{background:#ed1b62;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background:none;}

/* start of cart_icon fixed css after scroll */
ul.nav_menu li a.affix{position:fixed; top:0; right:0; left:auto; width:auto; z-index:1; background:#28373f; box-shadow:none; color:#fff; padding:18px 8px 18px 15px;}
ul.nav_menu li.dropdown + li.dropdown.affix:before{opacity:0;}

/* search icon css */
#searchbar.collapse{display:block;}
ul.nav_menu li.dropdown + li:nth-child(2).dropdown:before{display:none;}

/* start search_box */
.search_box{width:100%;}
.search_box input{height:auto; padding:0px 20px; height:35px; border-radius:6px; font-family: 'Roboto Condensed', sans-serif;}
.search_box .input-group-btn{display:block;}
.search_box .input-group-btn .btn{border-radius:6px; border:0; border-bottom-left-radius:0px; border-top-left-radius:0px; padding:5px 15px; font-size:18px; height:35px; line-height:20px; overflow:hidden;}
/* end search_box */

/* start of confirmation popup */
.confirm_popup_div{background:#fff; padding:0; text-align:center;}
.confirm_popup_div h3{font-size:16px; color:#28373f; font-weight:500; text-align:left; border-bottom:1px solid rgba(0,0,0,0.15); padding:10px 15px; margin:0;}
.confirm_popup_div p{color:#28373f; font-size:13px; margin:15px 0 0 0; text-align:left; padding:0 15px 15px; font-weight:500;}
.confirm_popup_div .btn{display:inline-block; width:auto; margin:0 10px 15px 0; height:32px; line-height:32px; padding:0 20px;}
/* end of confirmation popup */

/* start of login popup */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background:#fff;}
.modal.in > body{overflow:hidden;}
#Loginmodal.fade.in, #Registermodal.fade.in{padding:0 !important;}
/*#Loginmodal .modal-dialog .modal-content, #Forgotmodal .modal-dialog .modal-content, #Changepassword .modal-dialog .modal-content{width:calc(100% - 25%); margin:0 auto;}*/
.login_popup_div{background:#fff; padding:0;}
.login_popup_div h3{font-size:16px; color:#28373f; font-weight:500; border-bottom:1px solid rgba(0,0,0,0.1); padding:10px 15px; margin:0;}
.login_form{padding:15px 15px; /*border-top:1px solid #ccc;*/}
.login_form form p.account_line{text-align:left; color:#000000; font-size:14px; padding:0 0 15px 0; margin:0; font-weight:500;}
/*.login_form form .form-group{margin-bottom:0px; margin-top:-1px;}
.login_form form .form-group.lg_re_btn{margin-top:15px;}*/
.login_form form .form-group:last-child{margin-bottom:0px;}

.login_form form .form-group input{border:1px solid #D5D6D9; padding:20px 15px 10px 32px; height:auto; border-radius:0px; box-shadow:none; font-size:14px; font-weight:300; color:#28373f;}
.login_form form .form-group textarea{border:1px solid #ccc; padding:25px 15px 10px; height:auto; border-radius:0px; box-shadow:none; font-size:12px; resize:none;}
.login_form form .form-group .filed_name{font-size:14px; color:#878787; font-weight:300; position:absolute; left:0; top:0; padding:15px 15px 15px 32px; width:100%; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s; pointer-events:none;}
.login_form form .form-group input:focus, .login_form form .form-group textarea:focus{border-color:#ed1b62;}
.login_form form .form-group input:focus ~ .filed_name, .complete_filed, .error_span{transform:translate3d(0, -13px, 0px) scale(1); font-size:11px;}
.login_form form .form-group textarea:focus ~ .filed_name, .login_form form .form-group .country:focus ~ .filed_name{transform:translate3d(0, -13px, 0px) scale(1); font-size:11px;}

.login_form form .form-group i{position:absolute; left:10px; top:16px; font-size:16px; color:rgba(0,0,0,0.3);}
.login_form form .form-group a{display:inline-block; text-decoration:none;}
.login_form form .form-group .btn-div-buy{height:40px; line-height:40px; display:inline-block; font-size:14px;}
.login_form form .form-group .btn-div-cart{height:40px; line-height:40px; padding:0 25px; font-size:15px; font-weight:600; display:inline-block;}
.login_form form .form-group span.forgot_text label{padding:0;}
/*.login_form form .form-group a.forgot_text{font-size:12px; font-weight:300; color:rgba(0,0,0,0.5); padding:0; display:inline-block; margin-bottom:12px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.login_form form .form-group a.forgot_text:hover{color:#ed1b62;}*/
.login_form form .form-group.an_account p{font-size:12px; font-weight:300; color:rgba(0,0,0,0.5); margin:10px 0 0 0;}
.login_form form .form-group.an_account p a{color:#ed1b62; font-weight:500; font-size:14px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.login_form form .form-group.an_account p a:hover{color:#28373f;}
/* end of login popup */

/* start of register popup */
#Registermodal .login_form{padding:15px 20px 15px 30px;}
.rinput{padding-left:0;}
.login_form form .form-group.rinput input{padding:20px 15px 10px;}
.login_form form .form-group.rinput .filed_name{padding:15px;}
.login_form form p.account_line span{text-transform:capitalize; font-size:12px; float:right; padding-right:15px; color:#ed1b62;}
/* end of register popup */

.login_form form .form-group input.error, .login_form form .form-group textarea.error{border-color:#ed1b62;}
.login_form form .form-group .error_span{color:#ed1b62;}
.login_form form .form-group.rinput .error_span{font-size:10px;}
.login_form form .form-group .complete_filed{color:#ed1b62;}

.logo_div{padding:12px;}
.logo_div img{width:170px;}
.sticky-nav.nav_div ul.nav_menu li a{color:#202020;}

/* start of login_register new design */
.login_tab{display:table; margin:15px auto 0; border:0px solid #ccc;}
.login_tab li{padding:0; float:left; position:relative;}
.login_tab li .btn{border-width:1px 1px 0 1px; border-style:solid; border-color:#ccc; border-radius:0; background:none; color:rgba(0,0,0,0.7); text-transform:uppercase; font-size:12px; padding:8px 20px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.login_tab li .btn:hover, .login_tab li .btn:focus, .login_tab li .btn:active{box-shadow:none; background:#28373f; color:#fff; outline:none;}
.login_tab li .btn.active{box-shadow:none; background:#28373f; color:#fff;}
/* end of login_register new design */

/* end of header css*/

/* start of footer css */
.footer_div{background:#000000; padding:30px 0 15px 0; width:100%; float:left;}
.footer_social{background:#fff; border-top:2px solid #000000; padding:15px 0;}
.footer_link h4{border-bottom:2px solid rgba(256,256,256,0.4); color:rgba(256,256,256,0.8); margin-bottom:15px; padding-bottom:5px; font-size:14px; font-family: 'Roboto Condensed', sans-serif;}
.footer_link ul li a{color:rgba(256,256,256,0.8); font-size:12px; padding:5px 0; display:block; font-family: 'Roboto Condensed', sans-serif; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
.footer_link ul li a:hover{color:#ed1b62; text-decoration:none;}
.footer_link p{font-size:12px; color:rgba(255, 255, 255, 0.8); padding-left:32px; position:relative; padding-bottom:10px; font-family: 'Roboto Condensed', sans-serif;}
.footer_link p .fa{position:absolute; top:0; left:0; font-size:24px; color:rgba(256,256,256,0.9);}
.footer_link p:nth-child(2) .fa{left:0px; font-size:22px;}
.footer_link p:nth-child(3) .fa{left:2px;}
.footer_link p a{color:#ed1b62; display:block; padding-top:3px; font-family: 'Roboto Condensed', sans-serif; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
.footer_link p a:hover{color:rgba(256,256,256,0.8); text-decoration:none;}
ul.social_icon{margin-bottom:0; padding-top:4px;}
ul.social_icon li a{display:inline-block; font-size:16px; color:#222222; border:1px solid transparent; font-family: 'Roboto Condensed', sans-serif;}
ul.social_icon li a .facebook{background:#fff; padding:0.4em 0.6em; border-radius:50%; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a .facebook:hover{color:#fff; background:#3a589b;}
ul.social_icon li a .twitter{background:#fff; padding:0.4em 0.45em; border-radius:50%; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a .twitter:hover{color:#fff; background:#598dca;}
ul.social_icon li a .instagram{background:#fff; padding:0.4em 0.45em; border-radius:50%; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a .instagram:hover{color:#fff; background:#7f4232;}
ul.social_icon li a .googleplus{background:#fff; padding:0.4em 0.45em; border-radius:50%; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a .googleplus:hover{color:#fff; background:#DD4E40;}
ul.social_icon li a .pinterest{background:#fff; padding:0.4em 0.55em; border-radius:50%; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a .pinterest:hover{color:#fff; background:#ed1b62;}
ul.social_icon li a i{-webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.social_icon li a i:hover, ul.social_icon li a i:focus{background:#fff; color:rgba(0,0,0,0.8);}
.footer_reserved p{text-align:center; color:rgba(256,256,256,0.7); font-size:12px; padding:10px 15px; margin:0; font-family: 'Roboto Condensed', sans-serif;}
.footer_security{border-width:1px 0; border-style:solid; border-color:rgba(256,256,256,0.2); padding:15px 0;}
ul.cards_icn{margin:0; text-align:right;}
ul.cards_icn li{padding:5px 0 0 5px; margin-bottom:4px;}
ul.cards_icn li img{width:55px;}
ul.cards_icn_2{margin:0;}
ul.cards_icn_2 li{padding:5px 0 0 5px; margin-bottom:4px;}
ul.cards_icn_2 li img{width:55px;}
.newsletter_div label{font-size:16px; color:rgba(0,0,0,0.7); font-weight:500; font-family: 'Roboto Condensed', sans-serif;}
.newsletter_div .input-group input{border-radius:0px; background:rgba(0,0,0,0.1); border:none; box-shadow:none; height:auto; padding:8px 12px; font-family: 'Roboto Condensed', sans-serif;}

/* start of Top Button */
.scrollUp {position:fixed; right:auto; left:15px; bottom:25px; cursor:pointer; display:none; z-index:99; -moz-z-index:99; -ms-z-index:99; -o-z-index:99; -webkit-z-index:99;}
.scrollUp button{background:none; padding:0px; border:none; width:35px; height:35px; border-radius:50%; text-align:center;}
.scrollUp button span{width:35px; height:35px; line-height:45px; background:#333; position:relative; display:inline-block;}
.scrollUp button .fa{font-size:22px; color:#fff; -webkit-animation: sdb06 1.5s infinite; animation: sdb06 1.5s infinite;}
@-webkit-keyframes sdb06 {
	0% {-webkit-transform: rotate(0deg) translate(0, 0);opacity: 0;}
	50% {opacity: 1;}
	100% {-webkit-transform: rotate(0deg) translate(0px, -10px); opacity: 0;}
}
@keyframes sdb06 {
	0% {transform: rotate(0deg) translate(0, 0); opacity: 0;}
	50% {opacity: 1;}
	100% {transform: rotate(0deg) translate(0px, -10px); opacity: 0;}
}
/* end of Top Button */

/* start of popup_cross button */
button.video_close{opacity:1; color:#000000; font-size:17px; padding:0.5em 0.6em; position:absolute; z-index:9; top:10px; right:5px; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.icon_cross:nth-of-type(1) {width:22px; height:1px; position:relative; display:block; background:#202020; margin-bottom:2px; transform:rotate(45deg);}
.icon_cross:nth-of-type(2) {width:22px; height:1px; position:relative; display:block; background:#202020; margin:-3px 0 2px 0; transform:rotate(-45deg);}
button:hover .icon_cross{background:#ed1b62;}

/* start of rating css */
.starrr i{font-size:15px; padding-right:5px; color:#808080; -webkit-text-fill-color:}
.starrr i.color-star{color:#8b3390; -webkit-text-fill-color: transparent;
	background:linear-gradient(to right, #8b3390 0%, #ea1f61 50%, #ed1b62 100%);
	background:-webkit-linear-gradient(left, #8b3390 0%, #ea1f61 50%, #ed1b62 100%);
	background:-moz-linear-gradient(left, #8b3390 0%, #ea1f61 50%, #ed1b62 100%);
}
.starrr i.gradient_use{-webkit-background-clip: text;}

/* start of wishlist css*/
.wishlist_div{position:absolute; top:5px; right:5px; z-index:1;}
.wishlist{background:rgba(256,256,256,0.7); border:1px solid #919191; color:#919191; font-size:25px; padding:0.25em 0.3em; border-radius:50%; cursor:pointer; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.wishlist.wishlist_color{color:#ffec00; background:rgba(0, 0, 0, 0.7); border:1px solid transparent}

/* start of row-flex css */
.row-flex, .row-flex > div[class*='col-'] {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex:0 1 auto;}
.row-flex-wrap {flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap; -webkit-flex-flow: row wrap; align-content: flex-start; flex:0; margin-top:20px;}
.row-flex > div[class*='col-']{margin:-.2px; padding:1px 5px;}

/* social media button css */
.hovicon {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hovicon.effect-8 {
    background: #3851bc;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect-8:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    /*box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);*/
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hovicon.effect-8:hover {
    /*background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);*/
    color: #fff;
}
.hovicon.effect-8:hover i {
    color: #fff;
}
.hovicon.effect-8:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 0 #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* start of alert_message css */
.alert_message{position:fixed; top:200px; right:20px; width:100%; z-index:999999; display:none;}
.alert_message .alert{display:inline-block; width:auto;}

/* start of prive_box css */
.prive_box{background:#000000;}
.prive_box p{position:relative; margin:0 auto; padding:15px 0 15px 100px; color:#fff; text-align:center; font-size:16px; display:inline-block; font-family: 'Roboto Condensed', sans-serif;}
.prive_box p i{padding:0 2px;}
.prive_box p span{font-size:28px; font-weight:600; position:absolute; left:0; top:50%; transform:translateY(-50%);}
.prive_box p a{color:#fff; text-decoration:underline;}

/* start header top margin css */
.prive_box + header, .prive_box + .wrapper header{margin-top:52px;}
header .nav_div{margin-bottom:0;}
.prive_box + header #wrapper.toggled #sidebar-wrapper, .prive_box + .wrapper header #wrapper.toggled #sidebar-wrapper{top:102px;}

/* start of npm_slider */
.ngxcarousel-items .item .tile{box-shadow:none !important;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) { 
	ul.cards_icn li img, ul.cards_icn_2 li img{width:45px;}
	.btn-div-cart{padding:0 10px; font-size:12px; height:30px; line-height:25px;}
	
	/* start of header css */
	ul.nav_menu_1 li a{font-size:12px; padding:10px 18px;}
	
	/* start of button css */
	.btn_price .btn span{padding:0px 12px;}
}

@media (min-width:992px) and (max-width:1200px) { 
	.btn-div-cart{padding:0 10px; font-size:13px;}
}

@media (max-width:767px){

/* start of header css*/
.nav_div{padding:0px; min-height:auto;}
.nav_div .navbar-header button.navbar-toggle{float:left; background:none; border:none; padding:12px; margin:0;}
.nav_div .navbar-header a.navbar-brand{position:relative; left:5px; transform:translateX(0);}
.nav_div ul.nav_menu{padding-right:0px; display:table; margin:0 auto; float:none; position:absolute; right:0; top:0; z-index:999;}
ul.nav_menu li.dropdown{display:inline-block;}
ul.nav_menu li.dropdown + li.dropdown:before{left:-5px; top:8px;}
ul.nav_menu li.dropdown + li:nth-child(3).dropdown:before{display:none;}
.navbar-header #menu-toggle{position:absolute; top:5px;}
ul.nav_menu li.dropdown_new ul.dropdown-menu{left:auto; right:0; border-radius:0; background:#fff; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176); position:absolute;}
ul.nav_menu li a{padding:10px 8px; font-size:14px;}
ul.nav_menu.navbar-nav li ul.dropdown-menu_new li a{padding:8px 15px;}
ul.nav_menu li .dropdown-menu > li > a{padding:3px 10px}
li div.dropdown-menu_1{position:absolute !important; margin:0 5px; left:-80px;}
li:last-child div.dropdown-menu_1{left:auto; right:0;}
.navbar-nav li.dropdown_1.open .dropdown-menu{opacity:1; box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);}
.logo_div{width:140px; padding:10px; height:auto;}
.logo_div img{width:100%;}
.pbprive_logo{width:180px;}
/*#wrapper .container div.nav, #wrapper .container div.nav div.col-sm-5{border-top:1px solid #ccc;}*/
#wrapper .container div.nav form.navbar-form{border-bottom:1px solid #ccc; margin:0 -15px;}
.search_box .input-group-btn .btn, .search_box input{padding:5.5px 15px; line-height:34px; height:38px;}
.search_box .input-group-btn{display:table-cell;}
#wrapper .container .navbar-header{z-index:1; padding:2px 0px;}
ul.nav_menu_1 li a{padding:10px 25px 10px 25px; border-bottom:1px solid rgba(0,0,0,0.1) !important;}
ul.nav_menu_1 li.dropdown_new a:before{content:"\f067"; font-family:FontAwesome; color:#ccc; font-size:20px; position:absolute; right:30px; top:10px;}
ul.nav_menu_1 li.open a:before{content:"\f068";}
ul.nav_menu_1 li.open ul.dropdown-menu{padding:0;}
ul.nav_menu_1 li.open ul.dropdown-menu li a{padding:5px 15px 5px 35px;}
/* toggle css */ 
#wrapper {padding-left: 0;}
.navbar-toggle .icon-bar:nth-of-type(2) {top: 1px;}
.navbar-toggle .icon-bar:nth-of-type(3) {top: 2px;}
.navbar-toggle .icon-bar {position: relative; transition: all 300ms ease-in-out; background:#000000;}
.navbar-toggle.active .icon-bar:nth-of-type(1) {top: 6px; transform: rotate(45deg);}
.navbar-toggle.active .icon-bar:nth-of-type(2) {background-color: transparent;}
.navbar-toggle.active .icon-bar:nth-of-type(3) {top: -6px; transform: rotate(-45deg);}
#sidebar-wrapper {z-index: 1000; position: fixed; left: -250px; top:45px; margin-top:0; width: 0; height: 100vh; max-height:100%; overflow-y: auto; background: #fff; padding:0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#sidebar-wrapper ul.nav_menu_1{width:100%;}
ul.nav_menu_1 li.dropdown + li.dropdown::before{display:none;}
#wrapper.toggled #sidebar-wrapper {width: 75%; left:15px; box-shadow:1px 1px 3px rgba(0,0,0,0.1); border-color:#ccc; top:46px;}
#wrapper .container #sidebar-wrapper{position:fixed;}
	
/* search icon css */
.searchbar_text, ul.nav_menu li.dropdown + li:nth-child(2).dropdown:before{display:inline-block !important;}
#searchbar.collapse{display:none;}
#searchbar.collapse.in{display:block;}
/* end of header css*/
.scrollUp{bottom:5px; left:10px;}
/*.btn-div{font-size:18px; padding:2px 15px 5px;}
.btn-div-outline, .btn-div-buy{font-size:14px;}
.btn-div-buy{height:35px; line-height:35px;}*/
.main_heading span{font-size:20px;}
.main_heading span img{top:-8px; left:-12px; width:35px;}
.main_heading p{font-size:12px;}
/* start footer css */
.xs_text_center{text-align:center;}
.aboutUs, .product, .contactUs, .followUs{cursor:pointer}
.aboutUs:after, .product:after, .contactUs:after, .followUs:after{content:"\f107"; font-family:FontAwesome; color:#fff; font-size:25px; position:absolute; top:5px; right:30px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.aboutUs.active:after, .product.active:after, .contactUs.active:after, .followUs.active:after{transform:rotate(180deg);}
.newsletter_div label{text-align:center;}
ul.social_icon{margin:0 auto; display:table; float:none; padding-bottom:10px;}

.btn-div-cart, .btn-div-subscribe{line-height:35px; padding:0 15px;}
.xs-no-padding, .rinput{padding:0;}
.newsletter_div .input-group input{padding:8px 12px 7px;}

.row-flex > div[class*="col-"]{padding:1px 2px;}

/* item cart css */
.navbar-nav .open div.dropdown-menu_1{background:#fff; float:left; border-width:0px 0 0 0; border-style:solid; border-color:#28373f;}

/* start of login css */
#Loginmodal .modal-dialog .modal-content, #Forgotmodal .modal-dialog .modal-content, #Changepassword .modal-dialog .modal-content{width:calc(100% - 0%);}
.login_form, #Registermodal .login_form{padding:15px;}
/*.login_form form p.account_line{font-size:13px;}*/
.login_form form .form-group .btn-div-cart{padding:0 15px;}
/*.login_form form .form-group span.forgot_text{font-size:15px; padding:7px 0 18px 25px;}*/
/*.login_form form p.account_line span{font-size:12px; padding:0;}*/
.login_form form .form-group input{font-size:16px;}

ul.cards_icn_2, ul.cards_icn{text-align:center;}

/* start of prive_box css */
.prive_box{padding:0;}
.prive_box p{padding:10px 0 10px 60px; font-size:13px;}
.prive_box p span{font-size:18px;}

/* start header top margin css */
.prive_box + header, .prive_box + .wrapper header{margin-top:55px;}

/* start of back_btn css */
.back_btn{display:inline-block; float:left; position:relative; font-size:26px; padding-left:5px; color:#ed1b62;}

	/* cart icon css */
	ul.nav_menu li a.shopping-cart{position:fixed; bottom:0; right:0; top:auto; background:#c8f7fa; color:#28373f; z-index:101; padding:12px 5px 8px 15px; font-size:18px; clip-path:polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 33%); -webkit-clip-path:polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 33%);}
	/*ul.nav_menu li a.shopping-cart:before{content:""; position:absolute; border-bottom:10px solid transparent; border-left:10px solid #fff; top:0; left:0;}*/
	ul.nav_menu li.dropdown a.shopping-cart span{top:-10px; left:-8px; background:#ed1b62;}
	ul.nav_menu li a.shopping-cart:hover, ul.nav_menu li a.shopping-cart:focus, ul.nav_menu_1 li a.shopping-cart:hover, ul.nav_menu_1 li a.shopping-cart:focus, ul.nav_menu li.dropdown_1.open a.shopping-cart, ul.nav_menu li.dropdown_1.open a.shopping-cart:hover, ul.nav_menu li.dropdown_1.open a.shopping-cart:focus{color:#28373f; background:#c8f7fa;}
	ul.nav_menu li.open a.shopping-cart{opacity:0;}
	
	/* start of cart_dropdown effect */
	li div.dropdown-menu_1, li a.affix + div.dropdown-menu_1{transform:translateY(100vh); padding:10px 0;}
	li:last-child div.dropdown-menu_1{left:0; right:0; top:0; bottom:0; position:fixed !important; overflow:auto; margin:0; width:100%; height:100vh;}
	li div.dropdown-menu_1 .shopping_arow{display:block; opacity:0; position:fixed; top:0; right:0; z-index:101; transform:translateY(-100px); background:#28373f; color:#fff; font-size:18px; padding:8px 12px; cursor:pointer; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
	li.open div.dropdown-menu_1 .shopping_arow{opacity:1; transform:translateY(0);}
	li.open a.affix + div.dropdown-menu_1{transform:translateY(0);}
	
	/* start of button css */
	.cart_btn, .btn_checkout{font-size:14px; font-weight:500; height:35px; line-height:35px; padding:0 20px;}
	.cart_popup_btn .btn_checkout{font-size:16px; height:40px; line-height:40px; width:calc(100% - 80px); padding:0px 8px;}
}
