html, body{margin: 0px; padding: 0px; height:100%; /*font-family: 'Montserrat';*/ color:rgba(0, 0, 0, 0.7);}

.wrapper {min-height:100%;position:relative; padding-top:0.01%;}
.header{}
.content{padding-bottom:540px; padding-top:20px;} /* Height of the footer element */
.footer{width:100%; height:auto; position:absolute; bottom:0;}

/* start of breadcrumb_list css */
ul.breadcrumb{padding:0; background:none; margin:0;}
ul.breadcrumb li{padding:0;}
ul.breadcrumb li a{padding:8px 5px; color:rgba(0, 0, 0, 0.5); font-size:12px; display:inline-block; transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
ul.breadcrumb li a:first-child{padding-left:0px;}
ul.breadcrumb li + li:before{color:rgba(0, 0, 0, 0.5); font-size:11px; position:relative; left:0px; padding:0}
ul.breadcrumb li a:hover{text-decoration:none; color:#4b6c99;}
ul.breadcrumb li a.active{color:#4b6c99;}

/* stat of list_headin part */
.list_heading_div{border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:4px 0 10px; margin-bottom:15px;}
.list_heading_div .col-sm-8 h1{margin:0; font-size:24px; padding-top:2px;}
.list_heading_div .col-sm-8 h1 span{font-size:18px;}

/* start of scent short css */
/*.thumbnail_image a img{width:100px;}*/
.thumbnail_content{padding:10px 5px; position:static; z-index:2;}
.thumbnail_name{padding-bottom:45px; margin:0; margin-top:0; font-weight:bold; z-index:2;}
.thumbnail_name a{color:rgba(0,0,0,0.8); font-size:16px; text-decoration:none;}
.thumbnail_price_div{padding:0 5px 10px; position:absolute; left:0; bottom:0; z-index:2;}
.thumbnail_price_div .thumbnail_border{border-top:1px solid #ccc; float:left; width:100%;}
.thumbnail_price{font-size:20px; color:#4b6c99; font-weight:bold; padding-top:2px; margin:0;}
.thumbnail_cart{text-align:right; margin-top:-1px;}
.item_border .thumbnail_image{margin:0; z-index:2; padding:10px 2px 0;}
.item_border{float:left; width:100%; border:1px solid transparent; position:relative; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.item_border:hover .thumbnail_content{transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
/* start border animation effect css */
.item_border:before, .item_border:after{box-sizing:inherit; content:""; position:absolute; width:100%; height:100%; left:0; z-index:1;}
.border_center:before, .border_center:after{top:0; bottom:0; width:100%; height:100%; transform-origin:center;}
.border_center:before{border-top:1px solid #4b6c99; border-bottom:1px solid #4b6c99; transform:scale3d(0,1,1);}
.border_center:after{border-left:1px solid #4b6c99; border-right:1px solid #4b6c99; transform:scale3d(1,0,1);}
.border_center:hover:before, .border_center:hover:after{transform:scale3d(1,1,1); transition: transform 0.5s;}
/* end border animation effect css */

/* start of thumbnail slider_new implement css */
ul.lSPager{display:none;}
.know_btn{text-align:right; margin-top:10px;}
.touch_slider .item{margin-right:0 !important;}
/* end of thumbnail slider_new implement css */

/* start of image-detail css */
.detail_heading{padding:0px 0 10px; margin:0; color:rgba(0,0,0,0.7);}
.detail_heading span.product_name{font-size:18px; color:rgba(0,0,0,0.8); text-transform:uppercase; display:inline-block; padding:0 0px 5px 0;}
.detail_size{font-size:14px; color:rgba(0,0,0,0.6); padding:0 0 5px 0; display:block; font-weight:300;}
.detail_size span{background:#df5745; color:#fff; border-radius:4px; font-size:10px; text-transform:uppercase; padding:3px 5px 3px; display:inline-block; letter-spacing:1px; margin-left:5px; font-weight:500;}
.detail_rating{padding:0 0 0 10px; display:inline-block;}
.detail_rating .starrr{display:inline-block;}
.detail_rating span{display:inline-block; color:#4b6c99;}
.brand_name{font-size:15px; color:rgba(0,0,0,0.6); display:block; text-transform:uppercase; font-weight:300;}
.brand_flag{display:inline-block; padding-left:5px;}
.brand_flag img{width:18px; margin-top:-2px;}
.detail_price{margin:0; padding:10px 0 20px;}
.detail_price p.detail_mrp{color:rgba(0,0,0,0.7); font-size:15px; padding:0 0 5px 0; text-transform:uppercase;}
.detail_price p.prive_offer_text{color:#4b6c99;}
.detail_price p.detail_mrp i, .detail_price p.detail_prive span i{font-size:14px;}
.detail_price p.detail_prive{font-size:15px; color:#4b6c99; padding:0; text-transform:uppercase;}
.detail_price p.detail_prive small{padding-left:10px;}
.detail_price p.detail_prive span{font-weight:bold;}
.pin_code .input-group-btn .btn-check{background:rgba(0,0,0,0.1); color:rgba(0,0,0,0.4); border:none; padding:0px 15px; height:32px; line-height:10px; font-size:14px; border:none; border-radius:0;}
.pin_code input[type="text"]{padding:0 8px 0 25px; border-color:rgba(0,0,0,0.1); font-size:12px; border-radius:0px; height:32px; line-height:32px; position:relative; box-shadow:none;}
.pin_code .fa{color:rgba(0,0,0,0.5); font-size:14px; position:absolute; left:10px; top:10px; z-index:5;}
.pincode_error{color:#df5745; padding:7px 10px; margin:0; font-size:12px;}
/* start of add or minus number css */
.add_on_div span .btn-info{padding:4px 10px; font-size:10px; border-radius:0px; background:rgba(0,0,0,0.05); color:rgba(0,0,0,0.7); border:none; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.add_on_div span .btn-info:hover{background:#4b6c99; color:#fff;}
.add_on_div span .btn-info.disabled.focus, .add_on_div span .btn-info.disabled:focus, .add_on_div span .btn-info.disabled:hover, .add_on_div span .btn-info.focus[disabled], .add_on_div span .btn-info[disabled]:focus, .add_on_div span .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover{background:#4b6c99; color:#fff;}
.add_on_div input{padding:6px 5px; border:1px solid rgba(0,0,0,0.1); border-radius:4px !important;}
/* end of add or minus number css */
.detail_button .btn{display:inline-block;}
.detail_button .btn-div-cart, .detail_button .btn-div-buy{font-size:12px; height:35px; line-height:35px; margin-right:10px;}
.offer_div, .review_div{margin-top:20px;}
.offer_div h3{padding:0 0 15px; color:rgba(0, 0, 0, 0.8); font-size:18px; font-weight:bold; letter-spacing:1px; margin:0;}
.offer_div div .col-sm-3{padding-left:0;}
.review_div h3{padding:0 0 8px; color:rgba(0, 0, 0, 0.8); font-size:18px; font-weight:bold; letter-spacing:1px; margin:0;}
.review_div p{padding:0; color:rgba(0, 0, 0, 0.5); font-size:15px; margin:0 0 15px;}
.review_div div.col-xs-12 p{color:rgba(0, 0, 0, 0.7); font-size:15px; margin:0; line-height:20px;}
.review_div a.btn{font-size:18px; font-weight:bold;}

/* start of responsive-Tab css */
ul.account_tab_div{border-bottom:1px solid #ccc; margin-bottom:15px;}
ul.account_tab_div li a{font-size:12px; color:rgba(0,0,0,0.7); padding:6px 15px; text-transform:uppercase; border-width:1px 1px 1px 1px; border-style:solid; border-color:#ccc; border-radius:0; margin-right:5px; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
ul.account_tab_div > li.active > a, ul.account_tab_div > li.active > a:focus, ul.account_tab_div > li.active > a:hover{border-width:1px 1px 1px 1px; border-style:solid; border-color:#4b6c99; color:#4b6c99; border-bottom-color:#fff;}
ul.account_tab_div li a:hover, ul.account_tab_div li a:focus, ul.account_tab_div li a:active{background:none; outline:none; color:#4b6c99; border-width:1px 1px 1px 1px; border-style:solid; border-color:#4b6c99; border-bottom-color:#fff;}
.account_tab_content .tab-pane{padding:0;}
.accordion_main_div{margin-top:20px; margin-bottom:20px; padding:0;}

/* start of select box */
.select_box_1 button{border-radius:0px;}
.select_box_1 button span.filter-option{font-size:14px;}
.select_box_1 .btn-group.open .dropdown-toggle{box-shadow:none; background:none;}
.select_box_1 .btn-group.open .dropdown-toggle:focus, .select_box_1 .btn-group.open .dropdown-toggle:active{outline:none; background:none;}
.select_box_1 .bootstrap-select .dropdown-toggle:focus{outline:none !important;}
.select_box_1 button:hover, .select_box_1 button:focus, .select_box_1 button:active{background:none !important; box-shadow:none; outline:none;}
.select_box_1 .dropdown-menu{box-shadow:0 1px 5px rgba(0, 0, 0, 0.2); border-radius:0px; margin:1px 0 0 0;}
.select_box_1 .dropdown-menu ul li a{padding:5px 12px; font-size:14px; color:rgba(0,0,0,0.6);}
.select_box_1 .dropdown-menu ul li a span.glyphicon{top:8px;}
.select_box_1 .dropdown-menu ul li:first-child a{display:none !important;}
.select_box_1 .dropdown-menu ul li a:focus{background:none;}

/* start of review_form */
.review_form .form-group .form-control{border-radius:0px;}
.review_form .form-group textarea{resize:none;}
.review_form .form-group .form-control:focus{box-shadow:none; border:1px solid #333333;}

/* start of customer_review */
.review_box{border:1px solid #ccc; border-radius:4px; padding:0; margin-bottom:20px;}
.review_top{background:rgba(0,0,0,0.05); padding:30px 20px; border-bottom:1px solid #ccc;}
.review_top .col-xs-2 span{background:#fff; width:60px; height:60px; border-radius:50%; line-height:60px; text-align:center; display:inline-block;}
.review_top .col-xs-2 span i{color:rgba(0,0,0,0.4); font-size:16px;}
.review_top .col-xs-10 h4{color:rgba(0,0,0,0.9); font-size:14px; margin:0; padding:0 0 8px;}
.review_top .col-xs-10 h5{color:rgba(0,0,0,0.4); padding:0 0 10px; margin:0; font-size:13px;}
.review_top .col-xs-10 h6{color:rgba(0,0,0,0.4); margin:0; font-size:12px;}
.review_top .col-xs-10 h4 .starrr{display:inline-block; float:right;}
.review_bottom{padding:20px;}
.review_bottom p{color:rgba(0,0,0,0.6); font-size:13px; line-height:20px; text-align:justify;}

/* start of share_link css */
.share_link a{display:inline-block;}
.share_link a .btn{background:#636363; color:#fff; font-size:13px; padding:5px 8px; border-radius:4px; line-height:0; border:none; margin-right:30px; display:inline-block;}
.share_link a .btn-like{background:#30487b;}
.share_link a .btn-tweet{background:#0d70b7;}
.share_link a .btn-google{background:#ca3523;}

/* start of combo_offers start */
.combo_offers{margin:0;}
.combo_offers .item{padding:0; height:100%;}
.combo_offers .item a{display:table; text-decoration:none; padding:5px; border:1px solid #ccc; border-radius:6px; height:100%; width:100%; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.combo_offers .item a:hover{border-color:#4b6c99;cursor:pointer;}
.combo_offers .item a span{display:table-cell; vertical-align:middle; position:relative;}
.combo_offers .item a span span.combo_icon{display:inline-block;}
.combo_offers .item a span.combo_price{color:rgba(0, 0, 0, 0.7); font-size:12px; padding:0 0px 0 8px; display:inline-block;}
.combo_offers .item a span.combo_price i{font-size:11px; display:inline;}
/*.combo_offers .item a span + span:before{content:"+"; color:rgba(0, 0, 0, 0.5); font-size:12px; position:absolute; left:-5px; padding:0; top:50%; transform:translateY(-50%);}
.combo_offers .item a span:nth-child(3) + span:before{content:"="; color:rgba(0, 0, 0, 0.5); font-size:12px; position:absolute; left:-5px; padding:0; top:50%; transform:translateY(-50%);}*/
.combo_offers .item a span .plus_bar{height:1px; background:#666666; width:10px; display:block; /*margin:0 5px;*/}
.combo_offers .item a span .plus_bar:first-child{transform:rotate(90deg);}
.combo_offers .item a span .equal_bar{height:1px; background:#666666; width:10px; display:block; margin:1px 0px;}
ul.lSPager{display:none;}
.combo_image{background-color:#f5f5f5 !important; background-position:center center !important; background-size:cover !important; height:80px; width:50px;}

/* start of male_female css */
.male_female_div{position:absolute; top:10px; left:0; z-index:9;}
.male_female_div img{width:25px;}

/* start of info button css */
.info_btn{margin-left:5px; width:15px; height:15px; line-height:8px; border:1px solid #4b6c99; border-radius:50%; text-align:center; padding:0; background:none; position:relative; top:-1px;}
.info_btn i{font-size:10px !important; color:#4b6c99; padding:0;}
.info_btn:hover, .info_btn:active, .info_btn:focus{outline:none; box-shadow:none;}
/* end of info button css */

/* start of discount_popup css */
.discount_div{padding-left:15px; margin:0; text-align:justify;}
.discount_div li p{font-size:13px; line-height:18px; margin:0 0 10px 0;}
.discount_div li:last-child p{padding-bottom:15px;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px;}
	.thumbnail_price{padding-top:5px; font-size:16px;}
	/*.thumbnail_image a img{width:70px;}*/
	.accordion_main_div .panel-group .panel{border:0; box-shadow:none; margin-bottom:15px;}
	.accordion_main_div .panel-group .panel .panel-heading{padding:0;}
	.accordion_main_div .panel-group .panel .panel-heading h4 a{display:block; padding:10px 15px; text-decoration:none; background:#4b6c99; color:#fff;}
	.accordion_main_div .panel-group .panel .panel-heading h4 a.collapsed{background:#f5f5f5; color:inherit;}
	.accordion_main_div .panel-group .panel .panel-collapse .panel-body{padding:15px 10px; border:1px solid rgba(0,0,0,0.1);}
}

@media (min-width:992px) and (max-width:1200px) { 
	.thumbnail_price{padding-top:5px; font-size:16px;}	
	.review_top .col-xs-2 span{height:50px; width:50px; line-height:50px;}
	
	/* start of combo_offers start */
	.combo_image{width:55px;}
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	/* start of images detail css */
	.left-column{padding:0;}
	.pincode_error{padding:7px 0;}
	.detail_button{margin-top:10px;}
	.detail_button .btn-div-cart{height:35px; font-size:14px;}
	.review_div h3{font-size:16px;}
	.review_div p{font-size:13px;}
	.review_div div.col-xs-12 p{font-size:14px; line-height:18px;}
	.share_link a .btn{margin-right:18px;}
	.detail_heading{text-align:center;}
	.select_padding{padding-right:15px;}
	.detail_price{text-align:center; padding:10px 0 10px;}
	.xs_wishlist_margin{margin-top:10px;}
	.xs_price_padding{padding-bottom:20px;}
	.xs_price_padding p.detail_mrp{padding-bottom:10px;}
	
	.item_border{margin-bottom:20px;}
	/*.thumbnail_image a img{width:70px;}*/
	.thumbnail_name{text-align:center; padding-bottom:85px;}
	.thumbnail_price{margin-bottom:5px; text-align:center; padding-top:5px;}
	.thumbnail_cart{text-align:center;}
	.MultiCarousel .leftLst, .MultiCarousel .rightLst{line-height:40px; padding:0 4px;}
	.gc-display-area{pointer-events:none;}
	
	.accordion_main_div .panel-group .panel{border:0; box-shadow:none; margin-bottom:15px;}
	.accordion_main_div .panel-group .panel .panel-heading{padding:0;}
	.accordion_main_div .panel-group .panel .panel-heading .panel-title .accordion-toggle{display:block; padding:10px 15px; text-decoration:none; background:#4b6c99; color:#fff;}
	.accordion_main_div .panel-group .panel .panel-heading .panel-title .accordion-toggle.collapsed{background:#f5f5f5; color:inherit;}
	.accordion_main_div .panel-group .panel .panel-collapse .panel-body{padding:15px 10px; border:1px solid rgba(0,0,0,0.1);}
	.review_heading h3{margin-bottom:15px;}
	.review_top{padding:20px 10px;}
	.review_top .col-xs-2 span{height:40px; width:40px; line-height:40px;}
	.detail_price p.detail_prive small{padding-left:0px; display:block;}
	.detail_price p.prive_offer_text{text-align:left;}
	
	.pin_code input[type="text"]{padding:2px 8px 0 25px; height:auto;}
	.pin_code .input-group-btn .btn-check{height:34px;}
	
	/* start cart_button */
	.detail_button{position: fixed; left: 0px; z-index: 999; margin: 0px; bottom: 0px; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.15);}
	.detail_button .btn{width:50%; float:left;}
	.detail_button .btn.btn-div-cart, .detail_button .btn.btn-div-buy{height:40px; line-height:40px; padding:0 10px; font-size:13px; margin:0;}
	
	/* start of male femle */
	.male_female_div{top:100px;}
	.male_female_div img{width:20px;}
	
	/* start of thumbnail slider_new implement css */
	.combo_offers .item a span.combo_price{padding:0 5px 0 8px;}
	.lSAction > .lSPrev{left:-8px;}
	.lSAction > .lSNext{right:-8px;}
	.know_btn{text-align:center;}
	.touch_slider{height:auto !important;}
	/* end of thumbnail slider_new implement css */
	
	/* start of combo_offers start */
	.combo_image{height:60px; width:38px;}
	
	/* start of discount_popup css */
	.discount_div li p{font-size:12px;}
}